<ng-template #statExplanation let-text="text">
  <div class="p-2">
    <span class="text-white bg-black">{{ text }}</span>
  </div>
</ng-template>
<div class="table-responsive stat-table">
  <table class="table table-dark" [ngClass]="{ 'table-striped': !simplified }">
    <tbody [ngClass]="{ 'simplified-table-body row': simplified }">
      <tr *ngIf="!simplified">
        <td colspan="4" class="table-section">Stats</td>
      </tr>
      <tr [ngClass]="{ 'col-6': simplified }" *ngFor="let stat of statItems">
        <td>
          {{ stat.label }}
          <i
            class="fa-solid fa-circle-info text-third fa-sm px-1"
            [ngbTooltip]="statExplanation"
            [tooltipContext]="{ text: stat.tooltip }"
          ></i>
        </td>
        <td>
          {{ player.stats[stat.key] | number: '1.0-2' }}
          {{ stat.suffix ? stat.suffix : '' }}
        </td>
        <td *ngIf="!simplified">
          @if (cappedStats[stat.key]) {
            <span class="max-value"> (Max: {{ cappedStats[stat.key] }}%) </span>
          } @else {
            <span class="max-value">
              (Max: <i class="fa-solid fa-infinity"></i>)
            </span>
          }
        </td>
        <td *ngIf="!simplified">
          <span
            class="d-flex align-items-center gap-2"
            *ngIf="
              allowedStatsToUpgrade.includes(stat.key) && allStatsUpgradeStatus$
                | async as allStatsUpgradeCost
            "
          >
            {{ allStatsUpgradeCost[stat.key] }}
            @if (
              player.stats[stat.key] < cappedStats[stat.key] ||
              !cappedStats[stat.key]
            ) {
              <img
                class="navbar-uruks-icon"
                src="assets/goldenuruks.png"
                style="max-width: 20px"
              /><i
                class="fa-solid fa-circle-up text-third pointer fa-md"
                (click)="upgradeStat(stat.key)"
              ></i>
            }
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
