<ng-template #statExplanation let-text="text">
  <div class="p-2">
    <span class="text-white bg-black">{{ text }}</span>
  </div>
</ng-template>
<div class="table-responsive stat-table" *ngIf="player as viewedPlayer">
  <table class="table table-dark" [ngClass]="{ 'table-striped': !simplified }">
    <tbody [ngClass]="{ 'simplified-table-body row': simplified }">
      <tr *ngIf="!simplified">
        <td colspan="4" class="table-section">Stats</td>
      </tr>
      <tr [ngClass]="{ 'col-6': simplified }" *ngFor="let stat of statItems">
        <td>
          <img src="{{ prefix + stat.icon }}" alt="" srcset="" />
          <i
            class="fa-solid fa-circle-info text-third fa-sm px-1"
            [ngbTooltip]="statExplanation"
            [tooltipContext]="{ text: stat.tooltip }"
          ></i>
        </td>
        <td>
          {{ player.stats[stat.key] || player[stat.key] | number: '1.0-2' }}
          {{ stat.suffix ? stat.suffix : '' }}
          <span
            *ngIf="!!hoveredItemStats && !!hoveredItemStats[stat.key]"
            class="value"
            [ngClass]="{
              negative: hoveredItemStats[stat.key].charAt(0) == '-',
              neutral: hoveredItemStats[stat.key].charAt(0) == '0',
            }"
          >
            {{ hoveredItemStats[stat.key] + getPercentage(stat.key) }}</span
          >
        </td>
        <td *ngIf="!simplified">
          @if (cappedStats[stat.key]) {
            <span class="max-value"> (Max: {{ cappedStats[stat.key] }}%) </span>
          } @else {
            <span class="max-value">
              (Max: <i class="fa-solid fa-infinity"></i>)
            </span>
          }
        </td>
        <td *ngIf="!simplified && currentPlayer$ | async as currentPlayer">
          <span
            class="d-flex align-items-center gap-2"
            *ngIf="
              currentPlayer.id == viewedPlayer.id &&
                allowedStatsToUpgrade.includes(stat.key) &&
                allStatsUpgradeStatus$ | async as allStatsUpgradeCost
            "
          >
            {{ allStatsUpgradeCost[stat.key] }}
            @if (
              (player.stats[stat.key] || player[stat.key]) <
                cappedStats[stat.key] || !cappedStats[stat.key]
            ) {
              <img
                class="navbar-uruks-icon"
                src="{{ prefix + '/assets/goldenuruks.png' }}"
                style="max-width: 20px"
              /><i
                class="fa-solid fa-circle-up text-third pointer fa-md"
                (click)="upgradeStat(stat.key)"
              ></i>
            }
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
