<ng-template #statExplanation let-text="text">
  <div class="p-2">
    <span class="text-white bg-black">{{ text }}</span>
  </div>
</ng-template>
<div class="table-responsive stat-table" *ngIf="player as viewedPlayer">
  <table class="table table-dark">
    <tbody class="simplified-table-body row">
      <tr
        class="col-6"
        *ngFor="let stat of statItems"
        [ngbTooltip]="statExplanation"
        [tooltipContext]="{ text: stat.tooltip }"
      >
        <td>
          <div class="stat-icon" [ngClass]="getStatIconClass(stat.key)">
            <img [src]="prefix + stat.icon" alt="" class="stat-icon-img" />
          </div>
        </td>
        <td class="w-100">
          <span class="stat-value">
            <span
              *ngIf="!!hoveredItemStats && !!hoveredItemStats[stat.key]"
              class="stat-value"
              [ngClass]="getValueStatusClass(hoveredItemStats[stat.key])"
            >
              {{ hoveredItemStats[stat.key] + getPercentage(stat.key) }}
            </span>
            <ng-container
              *ngIf="
                cappedStats[stat.key] &&
                  (player.stats[stat.key] || player[stat.key] || 0) >=
                    cappedStats[stat.key];
                else notMax
              "
            >
              <span [ngClass]="getStatValueClass(stat.key)">
                {{
                  player.stats[stat.key] || player[stat.key] || 0
                    | number: '1.0-2'
                }}/{{ cappedStats[stat.key]
                }}{{ stat.suffix ? stat.suffix : '' }}
              </span>
            </ng-container>
            <ng-template #notMax>
              <span [ngClass]="getStatValueClass(stat.key)">
                {{
                  player.stats[stat.key] || player[stat.key] || 0
                    | number: '1.0-2'
                }}
              </span>
              <span *ngIf="cappedStats[stat.key]" class="max-value">
                /{{ cappedStats[stat.key] }}{{ stat.suffix ? stat.suffix : '' }}
              </span>
              <span *ngIf="!cappedStats[stat.key]" class="max-value">
                {{ stat.suffix ? stat.suffix : '' }}
              </span>
            </ng-template>
            <span
              class="pointer"
              *ngIf="
                allowUpgrade &&
                  allowedStatsToUpgrade.includes(stat.key) &&
                  (cappedStats[stat.key]
                    ? (player.stats[stat.key] || player[stat.key]) <
                      cappedStats[stat.key]
                    : true) &&
                  allStatsUpgradeStatus$ | async as allStatsUpgradeCost
              "
              [ngbTooltip]="
                'Upgrade cost: ' +
                allStatsUpgradeCost[stat.key] +
                ' Golden Uruks'
              "
              (click)="upgradeStat(stat.key)"
            >
              <i class="fa-solid fa-circle-up"></i>
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
