#missions {
  height: 100%;

  .mission-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 2vh;
    cursor: pointer;

    .image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0)
        );
      }
    }

    &:hover .image-container {
      transform: scale(1.05);
    }

    .content {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 2vh;
      z-index: 2;
      text-align: center;
    }
  }

  .quest .image-container {
    background-image: url('https://raw.githubusercontent.com/UrukBartas/assets/refs/heads/main/assets/missions/quest.webp');
  }

  .adventure .image-container {
    background-image: url('https://raw.githubusercontent.com/UrukBartas/assets/refs/heads/main/assets/missions/adventure.webp');
  }
}
