<div id="missions">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div
        class="col-md-6 col-12 mission-container quest"
        (click)="router.navigate(['/quests'])"
      >
        <div class="image-container"></div>
        <div class="content">
          <span urText>Questing Board</span>
          <i urTitle class="fa fa-signs-post"></i>
          <span urSubtext class="text-center">
            Find missions posted by locals, help them out and get rewards
          </span>
        </div>
      </div>
      <div
        class="col-md-6 col-12 mission-container adventure locked-screen"
      >
        <div class="image-container"></div>
        <div class="content">
          <span urText>The Crypt (disabled)</span>
          <i urTitle class="fa fa-skull-crossbones"></i>
          <span urSubtext class="text-center">
            Enter the Crypt, a labyrinth of escalating challenges. Survive
            relentless encounters, earn powerful relics, and claim glory
            unmatched!
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
