<div *ngIf="!activeQuest; else activeQuestContainer" class="container-fluid">
  <div class="row">
    <div class="col carousel">
      <div class="quest-carousel">
        <div
          *ngFor="let quest of quests; let i = index"
          class="quest"
          [ngClass]="{
            visible: i === currentIndex,
            next: i === nextIndex,
            prev: i === prevIndex
          }"
        >
          <h3>{{ quest.name }}</h3>
          <p>{{ quest.description }}</p>
          <img src="{{ quest.image }}" alt="Quest Image" class="img-fluid" />

          <span
            class="badge pt-3"
            [ngStyle]="{ color: getRarityColor(quest.rarity) }"
          >
            <i class="fa-solid fa-certificate"></i>
            {{ quest.rarity }}
          </span>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" (click)="prevQuest()" role="button">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" (click)="nextQuest()" role="button">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<ng-template #activeQuestContainer>
  <app-active-quest></app-active-quest>
</ng-template>
