@import '../../../../variables.scss';

.quest-carousel {
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
  overflow: hidden;
  height: 100%;
}

.quest {
  flex: 1; /* Allow quests to take up all available vertical space equally */
  transition: transform 0.3s ease-in-out;
  border: 2px solid $black-100;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: $black-400;
  color: $white-100;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-button {
  background-color: $secondary;
  color: $white-100;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
}


.visible {
  transform: translateX(0);
}

.next {
  transform: translateX(100%);
}

.prev {
  transform: translateX(-100%);
}

.visible {
  position: absolute;
  z-index: 1;
}

.next,
.prev {
  position: absolute;
  z-index: -1;
}

.quest-carousel.visible {
  left: 0;
}

.quest-carousel.next {
  left: -100%;
}

.quest-carousel.prev {
  left: 100%;
}
