<div class="wrapper-chance-displayer">
  <app-item-box
    class="{{ rarity }} chance-displayer"
    [height]="height > 0 ? height : getPossibleDropsSize()"
    [width]="width > 0 ? width : getPossibleDropsSize()"
    [rarity]="rarity"
    [image]="image"
    [stack]="stack > 1 ? stack : undefined"
  >
    <div tooltip class="tooltip-uruk p-2" *ngIf="chance != -1">
      <p class="mb-0" [ngStyle]="{ color: getRarityColor(rarity) }">
        {{
          (+chance * 100).toFixed(2) +
            '% of getting a ' +
            camelCase(rarity) +
            ' ' +
            (!!mapType[type] ? mapType[type] : camelCase(type))
        }}
      </p>
    </div>
  </app-item-box>
  <span class="text-light" *ngIf="chance != -1">{{
    (+chance * 100).toFixed(2) + ' %'
  }}</span>
</div>
