<div id="consumables-container">
  <div class="row consumables">
    @for (consumable of consumables; track $index) {
      <div class="consumable-container">
        <app-item-box
          (click)="selectItem(consumable)"
          [ngbTooltip]="consumableTooltip"
          [tooltipContext]="{ item: consumable }"
          [image]="consumable.consumableData.imageLocal"
          [height]="getItemBoxSize()"
          [width]="getItemBoxSize()"
        ></app-item-box>
        <div class="check-icon" *ngIf="consumable.selected">
          <i class="fa fa-check-circle"></i>
        </div>
      </div>
    }
  </div>
  <div class="use-consumable">
    <button
      (click)="useConsumable()"
      [disabled]="buttonDisabled"
      class="btn w-100 btn-lg btn-secondary"
    >
      <i class="fa fa-flask px-1"></i>
      USE
    </button>
  </div>
</div>

<ng-template #consumableTooltip let-item="item">
  <app-generic-item-tooltip
    [item]="item.consumableData"
  ></app-generic-item-tooltip>
</ng-template>
