@import '../../../../../variables.scss';

.active-quest-container {
  position: relative;
  height: 100%;

  .boosts {
    position: absolute;
    right: 5px;
    top: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .active-quest {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .button-rainbow {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 0.6em 2em;
    left: 50%;
  }

  .progress-bar-container {
    position: absolute;
    bottom: 10%;
    z-index: 12;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-100;
    background-color: $black-transparent;
    padding: 10px;
    border-radius: 20px;

    .progress {
      width: 90%;
      position: relative;
    }

    .reduced-progress-bar {
      position: absolute;
      background-color: purple;
      top: 0;
      left: 0;
      height: 100%;
    }

    .progress-bar {
      top: 0;
      height: 100%;
    }

    .timer {
      color: $white-100;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
