@import '../../../../variables.scss';

#confirm-modal {
  padding: 20px 40px;
  background: $black-300;
  border-radius: 10px;
  width: 80vw;
  text-wrap: wrap;

  .auto-duel-btn {
    background-color: rgb(196, 169, 18) !important;
    box-shadow: 0px 1px 2px 2px rgb(125, 102, 0) !important;
  }

  .duel-btn {
    border-radius: 4px;
    background-color: rgb(133 15 15);
    box-shadow: 0px 1px 2px 2px rgb(66 6 6);
    border: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .icon {
      width: 30px;
      height: 30px;
      background: white;
    }

    &.disabled {
      background-color: rgb(100, 100, 100);
      box-shadow: none;
      cursor: not-allowed;
      .icon {
        background: grey;
      }
    }
  }

  .challenger-container {
    position: relative;
    width: fit-content;
    .icon {
      width: 100px;
      height: 100px;
      max-width: 12vh;
      max-height: 12vh;
      background: white;
      position: absolute;
      top: 0;
    }

    .challenger-image {
      width: 250px;
      max-width: 40vh;
      border-radius: 10%;
      position: relative;
    }
  }
}
