@import '../../../../variables.scss';

#confirm-modal {
  padding: 20px 40px;
  background: $black-300;
  border-radius: 10px;
  width: 80vw;
  text-wrap: wrap;

  .challenger-container {
    position: relative;
    width: fit-content;
    .icon {
      width: 100px;
      height: 100px;
      max-width: 12vh;
      max-height: 12vh;
      background: white;
      position: absolute;
      top: 0;
    }

    .challenger-image {
      width: 250px;
      max-width: 40vh;
      border-radius: 10%;
      position: relative;
    }
  }
}
