<app-inventory-topbar
  [(inventory)]="items"
  [disableSort]="true"
  [(searchTerm)]="searchTerm"
></app-inventory-topbar>
<div class="consumables-inventory">
  <app-item-box
    *ngFor="let item of filteredItems"
    (click)="selectNewItem.emit(item)"
    [height]="40"
    [width]="40"
    [active]="!!selectedItem && !!item && selectedItem.id == item.id"
    [stack]="item?.stack ?? 0"
    [image]="
      item?.consumableData?.imageLocal ? item.consumableData.imageLocal : null
    "
  >
    @if (!!item) {
      <div tooltip class="tooltip-uruk">
        <app-generic-item-tooltip
          [item]="item.consumableData"
        ></app-generic-item-tooltip>
      </div>
    }
  </app-item-box>

  <ng-content select="[extraItemBoxes]"></ng-content>
</div>
