<div class="item-tooltip-wrapper">
  <div class="description flex-column align-items-start">
    <p class="h6">
      {{ item.name }}
    </p>
  </div>
  <div class="d-flex flex-row pt-2">
    <div class="d-flex align-items-center pb-3">
      <img [src]="item.imageLocal" priority />
    </div>
    <div class="px-3">
      <div class="description mx-2">
        <ul class="p-0">
          <li>
            {{ item.description }}
          </li>
        </ul>
      </div>
      <ng-container *ngTemplateOutlet="customTemplate"></ng-container>
    </div>
  </div>
  <div class="d-flex justify-content-start flex-column align-items-start">
    <p
      *ngIf="item.price && showPrice"
      class="h6 mb-0 d-flex align-items-center gap-1"
    >
      <img class="uruks-icon pb-1" src="assets/goldenuruks.png" />
      <span urText class="text-white">{{ item.price | number: '1.0-2' }}</span>
    </p>
    <p *ngIf="souldBound">
      <span urText class="text-light">This item is soul bound.</span>
    </p>
  </div>
</div>
