<div class="container-range">
  <!-- Slider -->
  <input
    type="range"
    class="form-range"
    step="0.01"
    min="0"
    [max]="max"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value)"
  />

  <div class="actions gap-2">
    <div class="inputs gap-2">
      <!-- Input -->
      <input
        type="number"
        class="form-input form-control"
        [min]="0"
        [max]="max"
        step="0.01"
        [(ngModel)]="value"
        (input)="valueChange.emit(value)"
      />

      <!-- Buttons -->
      <button
        type="button"
        class="btn btn-secondary fit-content"
        (click)="calculateValue(0.5)"
      >
        HALF
      </button>
      <button
        type="button"
        class="btn btn-secondary fit-content"
        (click)="calculateValue(1)"
      >
        ALL
      </button>
    </div>
    <div class="info">
      <p
        class="text-light text-center mb-0"
        *ngIf="value > 0 && summary && summary.length > 0"
      >
        {{ value + summary }}
      </p>
    </div>
  </div>
</div>
