<div class="active-quest-container">
  <img [src]="quest.image" alt="Quest Image" class="active-quest" />
  <div class="progress-bar-container">
    <h3 [class]="viewportService.getResponsiveTitleSize()">{{ quest.name }}</h3>
    <div
      class="progress position-relative"
      [style.height]="getProgressBarHeight() + 'px'"
    >
      <span class="timer position-absolute">{{ time }}</span>
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        [style.width]="percentage + '%'"
      ></div>
    </div>
  </div>
</div>
