@import '../../../../variables.scss';

.active-quest-container {
  position: relative;
  height: 100%;
  .active-quest {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .progress-bar-container {
    position: absolute;
    bottom: 3%;
    z-index: 12;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white-400;
    color: $white-100;
    .progress {
      width: 90%;
    }
    .timer {
      color: $white-100;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
