<div id="character-selector">
  <swiper [config]="swiperConfig" (slideChange)="onSlideChange($event)">
    <ng-template swiperSlide *ngFor="let classItem of classes">
      <div class="character-slide">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6 text-center">
            <img
              [src]="imagePrefix + classItem.img"
              [alt]="classItem.name"
              class="img-fluid class-image"
            />
          </div>
          <div class="col-12 col-sm-6">
            @if (!pickingSkin) {
              <div class="class-details">
                <h3 class="class-name">
                  {{ classItem.name }}
                </h3>
                <div class="character-class-container">
                  <h4 class="text-white">Class:</h4>
                  <img
                    class="class-icon"
                    [src]="
                      imagePrefix +
                      '/assets/free-portraits/icons/' +
                      classItem.clazz.toLowerCase() +
                      '.webp'
                    "
                  />
                  <h4 class="text-white">
                    {{ classItem.clazz | capitalizeFirst }}
                  </h4>
                </div>
                <p class="class-description">{{ classItem.description }}</p>
                <div
                  class="class-passives"
                  *ngIf="!pickingSkin && getClassPassivesForSelectedClass()"
                >
                  <h5 class="text-white">Class Traits:</h5>

                  <!-- Effects -->
                  <div class="traits-container">
                    <div class="traits-section">
                      <h6 class="section-title">Special Abilities</h6>
                      <div class="effects-container">
                        <div
                          *ngFor="
                            let effect of getClassPassivesForSelectedClass()
                              ?.effects
                          "
                          class="effect-item"
                        >
                          <app-item-box
                            [width]="50"
                            [height]="50"
                            [image]="effect.image"
                            [ngbTooltip]="effectTooltip"
                            [tooltipContext]="{ effect: effect }"
                          ></app-item-box>
                        </div>
                      </div>
                    </div>

                    <!-- Stat Boosts -->
                    <div
                      class="traits-section"
                      *ngIf="getClassPassivesForSelectedClass()?.statBoosts"
                    >
                      <h6 class="section-title">Stat Boosts</h6>
                      <div class="stats-container">
                        <div
                          *ngFor="
                            let stat of getObjectEntries(
                              getClassPassivesForSelectedClass()?.statBoosts
                            )
                          "
                          class="stat-item"
                        >
                          <div class="stat-icon">
                            <img
                              [src]="getStatIcon(stat.key)"
                              [alt]="getStatName(stat.key)"
                            />
                          </div>
                          <div class="stat-info">
                            <span class="stat-name">{{
                              getStatName(stat.key)
                            }}</span>
                            <span class="stat-value">+{{ stat.value }} pts</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h4
                  *ngIf="showSelectSkin"
                  urText
                  class="class-description text-center"
                  (click)="openSkinSelector()"
                >
                  + Select a skin
                </h4>
                <button
                  class="btn btn-lg btn-primary save-button w-100 text-shadow"
                  [ngClass]="{
                    'button-warlock': classItem.clazz == 'WARLOCK',
                    'button-rogue': classItem.clazz == 'ROGUE',
                    'button-warrior': classItem.clazz == 'WARRIOR',
                    'button-mage': classItem.clazz == 'MAGE',
                  }"
                  (click)="pickClass(classItem, selectedSkin)"
                >
                  Pick this class
                </button>
              </div>
            } @else {
              <div class="skin-details">
                <div class="skins-container d-flex">
                  @for (skin of getClassSkins(); track $index) {
                    <img
                      [ngClass]="{
                        selected: selectedSkin?.id === skin?.id,
                        disabled: !isSkinOwned(skin),
                      }"
                      (click)="selectSkin(skin)"
                      [src]="imagePrefix + skin.imageLocal"
                      class="skin-image"
                    />
                  }
                </div>
                <div class="skin-text" *ngIf="!!selectedSkin">
                  <span urTitle class="text-white">
                    {{ selectedSkin.name }}
                  </span>
                  <span class="text-white" style="min-height: 14vh">
                    {{ selectedSkin.description }}
                  </span>
                  <span
                    [style.visibility]="
                      selectedSkin.extraData.edition ? 'visible' : 'hidden'
                    "
                    urText
                    class="text-white d-flex gap-2"
                  >
                    Edition:
                    <div
                      [ngStyle]="{ color: getRarityColor(selectedSkin.rarity) }"
                    >
                      {{ selectedSkin.extraData.edition }}
                    </div>
                  </span>
                </div>
                <button
                  [disabled]="!selectedSkin || !isSkinOwned(selectedSkin)"
                  class="btn btn-lg btn-primary save-button w-100 text-shadow"
                  (click)="saveSkin(selectedSkin.id)"
                >
                  {{
                    selectedSkin && isSkinOwned(selectedSkin)
                      ? 'Pick this skin'
                      : '🛇 Not owned'
                  }}
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>

<ng-template #effectTooltip let-effect="effect">
  <div class="effect-tooltip">
    <div class="effect-header">
      <div class="effect-image">
        <img [src]="imagePrefix + '/' + effect.image" [alt]="effect.name" />
      </div>
      <h5 class="effect-name">{{ effect.name }}</h5>
    </div>
    <p class="effect-description">{{ effect.description }}</p>
    <div class="effect-details" *ngIf="effect.probability || effect.damage">
      <span *ngIf="effect.probability" class="detail-item">
        <i class="fa fa-dice"></i> {{ effect.probability }}% chance
      </span>
      <span *ngIf="effect.damage" class="detail-item">
        <i class="fa fa-bolt"></i> {{ effect.damage }}% damage
      </span>
    </div>
  </div>
</ng-template>
