<div id="character-selector">
  <swiper [config]="swiperConfig" (slideChange)="onSlideChange($event)">
    <ng-template swiperSlide *ngFor="let classItem of classes">
      <div class="character-slide">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6 text-center">
            <img
              [src]="imagePrefix + classItem.img"
              [alt]="classItem.name"
              class="img-fluid class-image"
            />
          </div>
          <div class="col-12 col-sm-6">
            @if (!pickingSkin) {
              <div class="class-details">
                <h3 class="class-name">
                  {{ classItem.name }}
                </h3>
                <div class="character-class-container">
                  <h4 class="text-white">Class:</h4>
                  <img
                    class="class-icon"
                    [src]="
                      imagePrefix +
                      '/assets/free-portraits/icons/' +
                      classItem.clazz.toLowerCase() +
                      '.webp'
                    "
                  />
                  <h4 class="text-white">
                    {{ classItem.clazz | capitalizeFirst }}
                  </h4>
                </div>
                <p class="class-description">{{ classItem.description }}</p>
                <h4
                  *ngIf="showSelectSkin"
                  urText
                  class="class-description text-center"
                  (click)="openSkinSelector()"
                >
                  + Select a skin
                </h4>
                <button
                  class="btn btn-lg btn-primary save-button w-100 text-shadow"
                  [ngClass]="{
                    'button-warlock': classItem.clazz == 'WARLOCK',
                    'button-rogue': classItem.clazz == 'ROGUE',
                    'button-warrior': classItem.clazz == 'WARRIOR',
                    'button-mage': classItem.clazz == 'MAGE',
                  }"
                  (click)="pickClass(classItem, selectedSkin)"
                >
                  Pick this class
                </button>
              </div>
            } @else {
              <div class="skin-details">
                <div class="skins-container d-flex">
                  @for (skin of getClassSkins(); track $index) {
                    <img
                      [ngClass]="{
                        selected: selectedSkin.id === skin.id,
                        disabled: !isSkinOwned(skin),
                      }"
                      (click)="selectSkin(skin)"
                      [src]="imagePrefix + skin.imageLocal"
                      class="skin-image"
                    />
                  }
                </div>
                <div class="skin-text" *ngIf="!!selectedSkin">
                  <span urTitle class="text-white">
                    {{ selectedSkin.name }}
                  </span>
                  <span class="text-white" style="min-height: 14vh">
                    {{ selectedSkin.description }}
                  </span>
                  <span
                    [style.visibility]="
                      selectedSkin.extraData.edition ? 'visible' : 'hidden'
                    "
                    urText
                    class="text-white d-flex gap-2"
                  >
                    Edition:
                    <div
                      [ngStyle]="{ color: getRarityColor(selectedSkin.rarity) }"
                    >
                      {{ selectedSkin.extraData.edition }}
                    </div>
                  </span>
                </div>
                <button
                  [disabled]="!selectedSkin || !isSkinOwned(selectedSkin)"
                  class="btn btn-lg btn-primary save-button w-100 text-shadow"
                  (click)="saveSkin(selectedSkin.id)"
                >
                  {{
                    isSkinOwned(selectedSkin) ? 'Pick this skin' : '🛇 Not owned'
                  }}
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
