<div
  class="crypt-progress pb-4"
  [style.background-image]="'url(' + getBackgroundImage() + ')'"
>
  <app-crypt-player-state
    [currentState]="currentState"
    [crypt]="crypt"
    [appliedBonuses]="appliedBonuses"
  ></app-crypt-player-state>
  <div
    class="description desc-mover w-100 rooms-list-header"
    style="align-self: self-start"
  >
    <div class="actions-container">
      <div class="actions mt-2">
        <button
          type="button"
          class="btn btn-secondary action-btn"
          (click)="startedEncounter.emit(encounters[currentLevel])"
        >
          <i class="btn-icon">⚔️</i>
          <span class="btn-text text-white">Fight next encounter!</span>
        </button>
        <button type="button" class="btn btn-dark action-btn" (click)="takeShortBreakFn()">
          <i class="btn-icon">💤</i>
          <span class="btn-text">Take short break</span>
        </button>
        <button type="button" class="btn btn-dark action-btn" (click)="triggerSurrender()">
          <i class="btn-icon">💀</i>
          <span class="btn-text">Surrender</span>
        </button>
      </div>
    </div>
  </div>
  <app-rooms-list
    [encounters]="encounters"
    [currentLevel]="currentLevel"
    (selectedRoom)="startedEncounter.emit($event)"
  ></app-rooms-list>
</div>
