@import '../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#inventory {
  .equipped {
    display: flex;
    flex-direction: column;
  }

  .desc-mover {
    display: flex;
    align-items: baseline;
  }

  .items-equipped-contained {
    max-width: 450px;
    align-self: center;
  }

  .mover {
    display: flex;
    justify-content: flex-end;
    i {
      cursor: pointer;
    }
  }

  .disabled-icon {
    cursor: disabled;
    color: gray;
  }

  .items-equipped-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 740px;
    opacity: 0.7;
    background-image: url('../../../../assets/siluette.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row-item-character {
    padding: 10px 0px;
  }

  .tooltip-uruk {
    width: fit-content;
  }

  .item-inventory,
  .consumables-inventory,
  .materials-inventory,
  .misc-inventory {
    height: 50vh;
    @include media-breakpoint-up(lg) {
      height: 365px;
    }
  }

  .second-hand-slot {
    filter: grayscale(1);
  }

  .stats-summary {
    flex-direction: column;
  }
  .iri-summary {
    position: absolute;
    z-index: 1000;
    bottom: 5%;
    left: 5vw;
  }

  .item-presets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    z-index: 100;
    bottom: 5%;
    right: 5vw;
    .item-grid {
      position: relative;
      display: flex;
      align-items: center;
      justify-items: center;
      .indicator {
        text-align: center;
        width: 100%;
        pointer-events: none;
        position: absolute;
        z-index: 1000;
        color: white;
        opacity: 0.3;
      }
      i {
      }
    }
  }
}
