<div id="inventory" class="row h-100">
  <div class="col-12 col-md-6 order-1 order-sm-0">
    <ng-template #inventoryExpander>
      <app-item-box
        *ngIf="!isViewingPlayer && (currentLevel$ | async) <= maxLevel"
        [height]="40"
        [width]="40"
        (click)="confirmPurchase()"
        [image]="'/assets/inventory-expand.jpg'"
        [stack]="'+2O'"
      >
        <div tooltip class="tooltip-uruk">
          <app-expand-inventory-tooltip
            [currentLevelInventory]="currentLevel$ | async"
            [cost]="(currentLevel$ | async) * 25"
          ></app-expand-inventory-tooltip>
        </div>
      </app-item-box>
    </ng-template>

    <carousel
      [isAnimated]="true"
      [(activeSlide)]="activeSlideIndex"
      [interval]="0"
      [showIndicators]="false"
      class="remove-arrow-sliders"
    >
      <slide>
        <div class="description desc-mover">
          <p urTitle>Inventory</p>
          <div class="mover">
            <i
              class="bi bi-caret-left-fill disabled-icon"
              (click)="activeSlideIndex = 0"
            ></i>
            <i
              class="bi bi-caret-right-fill"
              (click)="activeSlideIndex = activeSlideIndex + 1"
            ></i>
          </div>
        </div>
        <div class="inventory">
          <tabset>
            <tab id="tab1">
              <ng-template tabHeading>
                <span>⚔️</span>
              </ng-template>
              <ng-container *ngIf="!!currentInventory">
                <app-item-inventory
                  [items]="currentInventory"
                  [sockets]="currentSize$ | async"
                  [equippedItemOfType]="
                    !!hoveredItem
                      ? (this.getItem$(
                          [hoveredItem.itemData.itemType],
                          hoveredItem.itemData.itemType
                        ) | async)
                      : null
                  "
                  [showContextualMenu]="true"
                  [disableDND]="false"
                  (onDragStart)="onDragStart($event.event, $event.data)"
                  (onDragEnd)="onDragEnd($event)"
                  (onHover)="onHoverItem($event)"
                  (onDoubleClick)="
                    !!$event
                      ? equipItem($event, $event.itemData.itemType)
                      : false
                  "
                  (onDestroyItem)="destroyItem($event)"
                  (equipSpecificSlot)="equipItem($event.item, $event.itemType)"
                >
                  <ng-container
                    extraItemBoxes
                    *ngTemplateOutlet="inventoryExpander"
                  >
                  </ng-container>
                </app-item-inventory>
              </ng-container>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>🧱</span>
              </ng-template>
              <app-materials-inventory
                [items]="currentMaterials"
                [sockets]="currentSize$ | async"
              >
                <ng-container
                  extraItemBoxes
                  *ngTemplateOutlet="inventoryExpander"
                >
                </ng-container> </app-materials-inventory
            ></tab>
            <tab>
              <ng-template tabHeading>
                <span>⚗️</span>
              </ng-template>
              <ng-container
                *ngIf="currentConsumableInventory as inventoryConsumables"
              >
                <app-consumables-inventory
                  [items]="inventoryConsumables"
                  [sockets]="currentSize$ | async"
                >
                  <ng-container
                    extraItemBoxes
                    *ngTemplateOutlet="inventoryExpander"
                  >
                  </ng-container>
                </app-consumables-inventory>
              </ng-container>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>📜</span>
              </ng-template>
              <ng-container *ngIf="currentMiscInventory as inventoryMisc">
                <app-misc-inventory
                  [items]="inventoryMisc"
                  (equipMount)="equipMount($event)"
                  (updateInventory)="
                    miscUpdated$.next(true);
                    inventoryUpdated$.next(true);
                    materialUpdated$.next(true)
                  "
                  [sockets]="currentSize$ | async"
                >
                  <ng-container
                    extraItemBoxes
                    *ngTemplateOutlet="inventoryExpander"
                  >
                  </ng-container>
                </app-misc-inventory>
              </ng-container>
            </tab>
          </tabset>
          <div
            class="description stats-summary"
            style="margin-top: -30px"
            *ngIf="['lg', 'xl', 'xxl'].includes(viewportService.screenSize)"
          >
            <p class="mb-0" urText>Stats summary</p>
            <app-only-stats
              [player]="actualPlayer$ | async"
              [simplified]="true"
            ></app-only-stats>
          </div>
        </div>
      </slide>
      <slide>
        <div class="description desc-mover">
          <p urTitle>Details</p>
          <div class="mover">
            <i
              class="bi bi-caret-left-fill"
              [ngClass]="{ 'disabled-icon': isViewingPlayer }"
              (click)="
                isViewingPlayer
                  ? null
                  : (activeSlideIndex = activeSlideIndex - 1)
              "
            ></i>
            <i
              class="bi bi-caret-right-fill"
              (click)="activeSlideIndex = activeSlideIndex + 1"
            ></i>
          </div>
        </div>
        <app-stats-detail
          [player]="actualPlayer$ | async"
          [isViewingAnotherPlayer]="isViewingPlayer"
        ></app-stats-detail>
      </slide>
      <slide>
        <div class="description desc-mover">
          <p urTitle>Arena Matches</p>
          <div class="mover">
            <i
              class="bi bi-caret-left-fill"
              (click)="activeSlideIndex = activeSlideIndex - 1"
            ></i>
            <i class="bi bi-caret-right-fill disabled-icon"></i>
          </div>
        </div>
        <app-fight-historic
          [player]="actualPlayer$ | async"
        ></app-fight-historic>
      </slide>
    </carousel>
  </div>
  <div class="col-12 col-md-6 equipped order-0 order-sm-1">
    <div class="description align-items-center">
      <p urTitle>Character</p>
      <span
        class="title-selector"
        (click)="isViewingPlayer ? false : openTitleSelector()"
        >{{ (actualPlayer$ | async).title ?? 'The untitled' }}
        <i
          class="fa-solid fa-arrow-right-arrow-left"
          *ngIf="!isViewingPlayer"
        ></i
      ></span>
      <button
        (click)="router.navigateByUrl('/leaderboard')"
        class="btn btn-primary"
        style="height: fit-content"
        *ngIf="isViewingPlayer"
      >
        <i class="fa-solid fa-arrow-left"></i> Back
      </button>
    </div>
    <div
      class="position-relative d-flex justify-content-center"
      *ngIf="actualPlayer$ | async as player"
    >
      <div
        class="expandable-container"
        [ngClass]="{ expanded: containerExpanded }"
      >
        <div class="p-3" *ngIf="containerExpanded">
          <i
            class="fa-solid fa-circle-xmark close-option"
            (click)="containerExpanded = false"
          ></i>
          <p class="text-secondary">Available silhouettes</p>
          <div class="container-silhouettes gap-3 p-2">
            @for (silhouette of siluettes$ | async; track silhouette) {
              <app-item-box
                (click)="activateSilhouette(silhouette.id)"
                [height]="getEquippedItemBoxSize()"
                [width]="getEquippedItemBoxSize() * 0.9"
                [image]="silhouette.imageLocal"
                [rarity]="silhouette.rarity"
                [active]="player.activeSilhouette == silhouette.imageLocal"
              ></app-item-box>
            }
          </div>
        </div>
      </div>
      <div
        class="items-equipped-bg"
        [ngStyle]="{
          'background-image':
            'url(https://raw.githubusercontent.com/UrukBartas/assets/refs/heads/main/' +
            player.activeSilhouette +
            ')',
        }"
      >
        <div class="boosts">
          <app-item-box
            *ngFor="let boost of player?.boosts ?? []"
            [height]="getEquippedItemBoxSize() / 3"
            [width]="getEquippedItemBoxSize() / 3"
            [image]="boost.boostData.imageLocal"
            [rarity]="boost.boostData.rarity"
          >
            <div tooltip class="tooltip-uruk">
              <ng-template #expiresOn>
                @if (!!boost.expiresAt) {
                  <span>Expires on {{ boost.expiresAt | date: 'short' }}</span>
                } @else {
                  <span>Never expires</span>
                }
              </ng-template>

              <app-generic-item-tooltip
                [item]="boost.boostData"
                [customTemplate]="expiresOn"
              ></app-generic-item-tooltip>
            </div>
          </app-item-box>
        </div>
        <div class="monture">
          <app-item-box
            (appDoubleClick)="equipMount(null)"
            [height]="getEquippedItemBoxSize() / 1.5"
            [width]="getEquippedItemBoxSize() / 1.5"
            [image]="(getPlayer$ | async)?.mount?.imageLocal"
            [rarity]="(getPlayer$ | async)?.mount?.rarity"
          >
            @if (!!(getPlayer$ | async)?.mount) {
              <div tooltip class="tooltip-uruk">
                <ng-template #mountSpeed>
                  <span class="text-third">
                    Quest cooldown -{{
                      getMountTimeReductionByRarity(
                        (getPlayer$ | async).mount.rarity
                      )
                    }}%
                  </span>
                </ng-template>
                <app-generic-item-tooltip
                  [item]="(getPlayer$ | async).mount"
                  [customTemplate]="mountSpeed"
                ></app-generic-item-tooltip>
              </div>
            }
          </app-item-box>
        </div>
        <ng-container *ngIf="iriAverage$() | async as iriAverage">
          <div
            class="iri-summary"
            urText
            ngbTooltip="Your average of IRI from your equipped items"
            [ngStyle]="{
              color: getRarityColor(getRarityBasedOnIRI(iriAverage)),
            }"
          >
            {{ iriAverage.toFixed(2) }}
          </div>
        </ng-container>
        <div class="item-presets">
          @for (
            itemSet of itemSets$ | async;
            track itemSet;
            let index = $index
          ) {
            <ng-template #tooltip let-itemSet="itemSet">
              <div class="tooltip-uruk p-2">
                @if (!!itemSet) {
                  Item preset
                  <strong class="text-secondary">{{ itemSet.name }}</strong
                  >. Click to apply it.
                } @else {
                  Empty item preset. Click to save a new preset.
                }
              </div>
            </ng-template>

            <div class="item-grid">
              <i
                *ngIf="!itemSet"
                class="fa-solid fa-plus pointer indicator"
                (click)="saveSet(itemSet)"
                [ngbTooltip]="tooltip"
                [tooltipContext]="{
                  itemSet,
                }"
              ></i>
              <span class="indicator" *ngIf="itemSet">{{
                getDisplayedItemSet(itemSet)
              }}</span>

              <ng-template #contextOptions let-data="data">
                <ul class="list-options">
                  <li
                    (click)="
                      saveSet(data); contextMenuService.hideContextMenu()
                    "
                  >
                    Update
                  </li>
                  <li
                    (click)="
                      deleteSet(data); contextMenuService.hideContextMenu()
                    "
                  >
                    Delete
                  </li>
                </ul>
              </ng-template>

              <app-item-box
                (click)="!itemSet ? saveSet() : equipSet(itemSet)"
                [height]="getEquippedItemBoxSize() / 3"
                [width]="getEquippedItemBoxSize() / 3"
                [active]="
                  selectedItemSet && itemSet && selectedItemSet.id == itemSet.id
                "
                (contextmenu)="
                  itemSet
                    ? contextMenuService.onContextMenu(
                        $event,
                        contextOptions,
                        itemSet
                      )
                    : false
                "
              >
                <ng-container
                  *ngTemplateOutlet="tooltip; context: { itemSet }"
                  tooltip
                ></ng-container>
              </app-item-box>
            </div>
          }
        </div>
        <div
          class="change-siluette"
          *ngIf="!isViewingPlayer"
          (click)="containerExpanded = !containerExpanded"
        >
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
        </div>
      </div>

      <div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getHelmet$,
                hovered: activeDragAndDropItemType == itemTypePublic.HELMET,
                equipType: itemTypePublic.HELMET,
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-start row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getGloves$,
                hovered: activeDragAndDropItemType == itemTypePublic.GLOVES,
                equipType: itemTypePublic.GLOVES,
              }
            "
          ></ng-container>

          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getChest$,
                hovered: activeDragAndDropItemType == itemTypePublic.CHEST,
                equipType: itemTypePublic.CHEST,
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getWeapon$,
                hovered:
                  activeDragAndDropItemType == itemTypePublic.Weapon1H ||
                  activeDragAndDropItemType == itemTypePublic.Weapon2H,
                equipType: itemTypePublic.Weapon1H,
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getTrousers$,
                hovered: activeDragAndDropItemType == itemTypePublic.TROUSERS,
                equipType: itemTypePublic.TROUSERS,
              }
            "
          ></ng-container>

          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$:
                  (getWeapon$ | async)?.itemData?.itemType ===
                  itemTypePublic.Weapon2H
                    ? getWeapon$
                    : getShield$,
                hovered:
                  activeDragAndDropItemType == itemTypePublic.SHIELD ||
                  activeDragAndDropItemType == itemTypePublic.Weapon1H,
                equipType: itemTypePublic.SHIELD,
                secondHandSlot:
                  (getWeapon$ | async)?.itemData?.itemType ===
                  itemTypePublic.Weapon2H,
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getBoots$,
                hovered: activeDragAndDropItemType == itemTypePublic.BOOTS,
                equipType: itemTypePublic.BOOTS,
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getCharm$,
                isSmallItem: true,
                hovered: activeDragAndDropItemType == itemTypePublic.CHARM,
                equipType: itemTypePublic.CHARM,
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getRing$,
                isSmallItem: true,
                hovered: activeDragAndDropItemType == itemTypePublic.RING,
                equipType: itemTypePublic.RING,
              }
            "
          ></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  #equippedSlot
  let-item$="item$"
  let-hovered="hovered"
  let-isSmallItem="isSmallItem"
  let-equipType="equipType"
  let-secondHandSlot="secondHandSlot"
>
  <app-item-box
    dndDropzone
    [class.second-hand-slot]="secondHandSlot"
    (dndDrop)="onDrop($event, equipType)"
    (appDoubleClick)="unEquipItem(item$)"
    [height]="getEquippedItemBoxSize() / (!!isSmallItem ? 2 : 1)"
    [width]="getEquippedItemBoxSize() / (!!isSmallItem ? 2 : 1)"
    [active]="hovered"
    [displayTooltip]="!!(item$ | async)"
    [rarity]="toItem(item$ | async)?.itemData?.rarity"
    [upgradeLevel]="toItem(item$ | async)?.upgradeLevel"
    [image]="toItem(item$ | async)?.itemData?.imageLocal"
  >
    @if (!!(item$ | async)) {
      <div tooltip class="tooltip-uruk">
        <app-item-tooltip [item]="item$ | async"></app-item-tooltip>
      </div>
    }
  </app-item-box>
</ng-template>
