<div id="inventory" class="row h-100">
  <div class="col-12 col-md-6 order-1 order-sm-0">
    <ng-template #inventoryExpander>
      <app-item-box
        *ngIf="!isViewingPlayer && (currentLevel$ | async) <= maxLevel"
        [height]="40"
        [width]="40"
        (click)="confirmPurchase()"
        [image]="'../assets/inventory-expand.jpg'"
        [stack]="'+2O'"
      >
        <div tooltip class="tooltip-uruk">
          <app-expand-inventory-tooltip
            [currentLevelInventory]="currentLevel$ | async"
            [cost]="(currentLevel$ | async) * 25"
          ></app-expand-inventory-tooltip>
        </div>
      </app-item-box>
    </ng-template>

    <carousel
      [isAnimated]="true"
      [(activeSlide)]="activeSlideIndex"
      [interval]="0"
      [showIndicators]="false"
      class="remove-arrow-sliders"
    >
      <slide>
        <div class="description desc-mover">
          <p urTitle>Inventory</p>
          <div class="mover">
            <i
              class="bi bi-caret-left-fill disabled-icon"
              (click)="activeSlideIndex = 0"
            ></i>
            <i
              class="bi bi-caret-right-fill"
              (click)="activeSlideIndex = activeSlideIndex + 1"
            ></i>
          </div>
        </div>
        <div class="inventory pb-4">
          <tabset>
            <tab heading="Armory" id="tab1">
              <ng-container *ngIf="currentInventory$ | async as inventory">
                <div class="item-inventory-topbar">
                  <div class="description mb-2">
                    <div
                      class="d-flex justify-content-end"
                      [ngClass]="{
                        'justify-content-end':
                          inventory.length <= itemInventoryBoxes.length,
                        'justify-content-between':
                          inventory.length > itemInventoryBoxes.length
                      }"
                    >
                      @if (inventory.length > itemInventoryBoxes.length) {
                        <div>
                          <i
                            class="bi bi-exclamation-triangle-fill text-secondary px-1 pointer"
                          ></i>
                          <span>
                            You have more items than your backpack can hold.
                            Expand your slots!
                          </span>
                        </div>
                      }

                      <div>
                        <i
                          (click)="changeSortOrder()"
                          class="bi bi-caret-down-fill text-secondary px-1 pointer"
                          [ngClass]="{
                            'bi-caret-down-fill': !sortOrderUp,
                            'bi-caret-up-fill': sortOrderUp
                          }"
                        ></i>
                        <span
                          class="pointer text-white"
                          (click)="changeSortType()"
                          >{{ sortType }}</span
                        >
                      </div>
                    </div>
                    <span
                      >{{ inventory.length }}/{{
                        itemInventoryBoxes.length
                      }}</span
                    >
                  </div>
                </div>

                <app-item-inventory
                  [items]="inventory"
                  [equippedItemOfType]="
                    !!hoveredItem
                      ? (this.getItem$(hoveredItem.itemData.itemType) | async)
                      : null
                  "
                  [showContextualMenu]="true"
                  [boxes]="itemInventoryBoxes"
                  [disableDND]="false"
                  (onDragStart)="onDragStart($event.event, $event.data)"
                  (onDragEnd)="onDragEnd($event)"
                  (onHover)="onHoverItem($event)"
                  (onDoubleClick)="!!$event ? equipItem($event) : false"
                  (onDestroyItem)="destroyItem($event)"
                >
                  <ng-container
                    extraItemBoxes
                    *ngTemplateOutlet="inventoryExpander"
                  >
                  </ng-container>
                </app-item-inventory>
              </ng-container>
            </tab>
            <tab heading="Consumables">
              <ng-container
                *ngIf="
                  currentConsumableInventory$
                    | async
                    | stack: 'consumableData.name' as inventoryConsumables
                "
              >
                <div class="description mb-2">
                  <p></p>
                  <span
                    >{{ inventoryConsumables.length }}/{{
                      consumablesInventoryBoxes.length
                    }}</span
                  >
                </div>
                <app-consumables-inventory
                  [items]="inventoryConsumables"
                  [boxes]="consumablesInventoryBoxes"
                >
                  <ng-container
                    extraItemBoxes
                    *ngTemplateOutlet="inventoryExpander"
                  >
                  </ng-container>
                </app-consumables-inventory>
              </ng-container>
            </tab>
            <tab heading="Materials">
              <ng-container
                *ngIf="currentMaterialsInventory$ | async as materials"
              >
                <div class="description mb-2">
                  <p></p>
                  <span
                    >{{ materials.length }}/{{
                      materialsInventoryBoxes.length
                    }}</span
                  >
                </div>
                <app-materials-inventory
                  [items]="materials"
                  [boxes]="materialsInventoryBoxes"
                >
                  <ng-container
                    extraItemBoxes
                    *ngTemplateOutlet="inventoryExpander"
                  >
                  </ng-container> </app-materials-inventory></ng-container
            ></tab>
          </tabset>
        </div>
      </slide>
      <slide>
        <div class="description desc-mover">
          <p urTitle>Stats</p>
          <div class="mover" *ngIf="!isViewingPlayer">
            <i
              class="bi bi-caret-left-fill"
              (click)="activeSlideIndex = activeSlideIndex - 1"
            ></i>
            <i class="bi bi-caret-right-fill disabled-icon"></i>
          </div>
        </div>
        <app-stats-detail
          [player]="actualPlayer$ | async"
          [isViewingAnotherPlayer]="isViewingPlayer"
        ></app-stats-detail>
      </slide>
    </carousel>
  </div>
  <div class="col-12 col-md-6 equipped order-0 order-sm-1">
    <div class="description">
      <p urTitle>Character</p>
      <button
        (click)="router.navigateByUrl('/leaderboard')"
        class="btn btn-primary"
        style="height: fit-content"
        *ngIf="isViewingPlayer"
      >
        <i class="fa-solid fa-arrow-left"></i> Back
      </button>
    </div>
    <div class="position-relative d-flex justify-content-center">
      <div class="items-equipped-bg"></div>
      <div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getHelmet$,
                hovered: activeDragAndDropItemType == itemTypePublic.HELMET
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-start row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getGloves$,
                hovered: activeDragAndDropItemType == itemTypePublic.GLOVES
              }
            "
          ></ng-container>

          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getChest$,
                hovered: activeDragAndDropItemType == itemTypePublic.CHEST
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getWeapon$,
                hovered: activeDragAndDropItemType == itemTypePublic.WEAPON
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getTrousers$,
                hovered: activeDragAndDropItemType == itemTypePublic.TROUSERS
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getShield$,
                hovered: activeDragAndDropItemType == itemTypePublic.SHIELD
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getBoots$,
                hovered: activeDragAndDropItemType == itemTypePublic.BOOTS
              }
            "
          ></ng-container>
        </div>
        <div class="row justify-content-center row-item-character">
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getCharm$,
                isSmallItem: true,
                hovered: activeDragAndDropItemType == itemTypePublic.CHARM
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              equippedSlot;
              context: {
                item$: getRing$,
                isSmallItem: true,
                hovered: activeDragAndDropItemType == itemTypePublic.RING
              }
            "
          ></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  #equippedSlot
  let-item$="item$"
  let-hovered="hovered"
  let-isSmallItem="isSmallItem"
>
  <app-item-box
    dndDropzone
    (dndDrop)="onDrop($event)"
    (appDoubleClick)="unEquipItem(item$)"
    [height]="getEquippedItemBoxSize() / (!!isSmallItem ? 2 : 1)"
    [width]="getEquippedItemBoxSize() / (!!isSmallItem ? 2 : 1)"
    [active]="hovered"
    [displayTooltip]="!!(item$ | async)"
    [rarity]="toItem(item$ | async)?.itemData?.rarity"
    [upgradeLevel]="toItem(item$ | async)?.upgradeLevel"
    [image]="
      toItem(item$ | async)?.itemData?.image
        ? (toItem(item$ | async).itemData.image | toIpfsImageFromCid)
        : null
    "
  >
    @if (!!(item$ | async)) {
      <div tooltip class="tooltip-uruk">
        <app-item-tooltip [item]="item$ | async"></app-item-tooltip>
      </div>
    }
  </app-item-box>
</ng-template>
