<div class="row h-100">
  <div class="col-6 equipped h-100">
    <div class="description">
      <p urTitle>Character</p>
    </div>
    <div class="items-equipped-contained">
      <div class="row justify-content-center row-item-character">
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getHelmet$,
              hovered: activeDragAndDropItemType == itemTypePublic.Helmet
            }
          "
        ></ng-container>
      </div>
      <div class="row justify-content-start row-item-character">
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getGloves$,
              hovered: activeDragAndDropItemType == itemTypePublic.Gloves
            }
          "
        ></ng-container>

        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getChest$,
              hovered: activeDragAndDropItemType == itemTypePublic.Chest
            }
          "
        ></ng-container>
      </div>
      <div class="row justify-content-center row-item-character">
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getWeapon$,
              hovered: activeDragAndDropItemType == itemTypePublic.Weapon
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getTrousers$,
              hovered: activeDragAndDropItemType == itemTypePublic.Trousers
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getShield$,
              hovered: activeDragAndDropItemType == itemTypePublic.Shield
            }
          "
        ></ng-container>
      </div>
      <div class="row justify-content-center row-item-character">
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getBoots$,
              hovered: activeDragAndDropItemType == itemTypePublic.Boots
            }
          "
        ></ng-container>
      </div>
      <div class="row justify-content-center row-item-character">
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getCharm$,
              isSmallItem: true,
              hovered: activeDragAndDropItemType == itemTypePublic.Charm
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            equippedSlot;
            context: {
              item$: getRing$,
              isSmallItem: true,
              hovered: activeDragAndDropItemType == itemTypePublic.Ring
            }
          "
        ></ng-container>
      </div>
    </div>
  </div>
  <div class="col-6 h-100">
    <carousel
      [isAnimated]="true"
      [(activeSlide)]="activeSlideIndex"
      [interval]="0"
      [showIndicators]="false"
      class="remove-arrow-sliders"
    >
      <slide>
        <div class="description desc-mover">
          <p urTitle>Inventory</p>
          <div class="mover">
            <i
              class="bi bi-caret-left-fill"
              [ngClass]="{ 'disabled-icon': activeSlideIndex == 0 }"
            ></i>
            <i
              class="bi bi-caret-right-fill"
              (click)="activeSlideIndex = activeSlideIndex + 1"
            ></i>
          </div>
        </div>
        <div class="inventory">
          <div class="description">
            <p>Items</p>
            <span>0/{{ itemInventoryBoxes.length }}</span>
          </div>
          <div class="item-inventory">
            <ng-container *ngIf="currentInventory$ | async as inventory">
              @for (
                box of itemInventoryBoxes;
                track box.id;
                let index = $index
              ) {
                <app-item-box
                  [dndDraggable]="inventory[index]"
                  [dndEffectAllowed]="'all'"
                  [dndDisableIf]="!inventory[index]"
                  (dndStart)="onDragStart($event, inventory[index])"
                  (dndEnd)="onDragEnd($event)"
                  [height]="40"
                  [width]="40"
                  [displayTooltip]="!!inventory[index]"
                  (appDoubleClick)="
                    !!inventory[index] ? equipItem(inventory[index]) : false
                  "
                  [image]="
                    inventory[index]?.itemData?.image
                      ? (inventory[index].itemData.image | toIpfsImageFromCid)
                      : null
                  "
                >
                  @if (!!inventory[index]) {
                    <div tooltip class="tooltip-uruk">
                      <app-item-tooltip
                        [item]="inventory[index]"
                      ></app-item-tooltip>
                    </div>
                  }
                </app-item-box>
              }
            </ng-container>
          </div>

          <div class="description">
            <p>Consumables</p>
            <span>0/{{ consumablesInventoryBoxes.length }}</span>
          </div>
          <div class="consumables-inventory">
            @for (box of consumablesInventoryBoxes; track box.id) {
              <app-item-box [height]="40" [width]="40"></app-item-box>
            }
          </div>
        </div>
      </slide>
      <slide>
        <div class="description desc-mover">
          <p urTitle>Stats</p>
          <div class="mover">
            <i
              class="bi bi-caret-left-fill"
              (click)="activeSlideIndex = activeSlideIndex - 1"
            ></i>
            <i
              class="bi bi-caret-right-fill"
              [ngClass]="{ 'disabled-icon': activeSlideIndex == 1 }"
            ></i>
          </div>
        </div>
        <app-stats-detail></app-stats-detail>
      </slide>
    </carousel>
  </div>
</div>

<ng-template
  #equippedSlot
  let-item$="item$"
  let-hovered="hovered"
  let-isSmallItem="isSmallItem"
>
  <app-item-box
    dndDropzone
    (dndDrop)="onDrop($event)"
    (appDoubleClick)="unEquipItem(item$)"
    [height]="
      obtainEquippedItemBoxHeightDependingOnScreenSize() /
      (!!isSmallItem ? 2 : 1)
    "
    [width]="
      obtainEquippedItemBoxWidthDependingOnScreenSize() /
      (!!isSmallItem ? 2 : 1)
    "
    [active]="hovered"
    [displayTooltip]="!!(item$ | async)"
    [image]="
      toItem(item$ | async)?.itemData?.image
        ? (toItem(item$ | async).itemData.image | toIpfsImageFromCid)
        : null
    "
  >
    @if (!!(item$ | async)) {
      <div tooltip class="tooltip-uruk">
        <app-item-tooltip [item]="item$ | async"></app-item-tooltip>
      </div>
    }
  </app-item-box>
</ng-template>
