@import '../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
* {
  color: $white-100;
}
.equipped {
  display: flex;
  flex-direction: column;
}

.desc-mover {
  display: flex;
  align-items: baseline;
}

.items-equipped-contained {
  max-width: 450px;
  align-self: center;
  background-image: url('../../../../assets/siluette.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  background-position: center;
}

.row-item-character {
  padding: 10px 0px;
}

.tooltip-uruk {
  width: fit-content;
}
