@import '../../../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#only-stats {
  * {
    color: $white-100;
  }

  .table-dark {
    --bs-table-bg: #2a2a28;
    --bs-table-striped-bg: #3e3e3c;
    --bs-table-border-color: transparent;
    color: var(--bs-table-color);
    background-color: var(--bs-table-bg);
    border-color: var(--bs-table-border-color);
  }

  .max-value,
  .max-value i {
    font-size: 12px;
    color: $secondary;
  }

  .table-section {
    background-color: $primary;
    font-weight: bold;
    text-align: center;
  }

  .table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .stat-table,
  .rarity-table {
    flex: 1;
    min-width: 300px;
    margin: 10px;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
