<ng-template #statExplanation let-text="text">
  <div class="p-2">
    <span class="text-white bg-black">{{ text }}</span>
  </div>
</ng-template>

<div
  id="only-stats"
  class="row"
  *ngIf="cappedPerStats$ | async as cappedPerStats"
>
  <div class="col-12" *ngIf="cappedStats$ | async as cappedStats">
    <div class="stat text-center">
      <div class="row">
        <div class="col-12">
          <div class="table-container justify-content-start">
            <div class="row w-100">
              <div class="col-12 col-xxl-6">
                <app-generic-stats
                  [player]="player"
                  [cappedStats]="cappedStats"
                  [hoveredItemStats]="combinedPlayerHoveredItem$ | async"
                  [allowUpgrade]="allowUpgrade"
                ></app-generic-stats>
              </div>
              <div class="col-12 col-xxl-6">
                <app-percent-stats
                  [player]="player"
                  [perStatItems]="perStatItems"
                  [cappedPerStats]="cappedPerStats"
                  [hoveredItemStats]="combinedPlayerHoveredItem$ | async"
                  [allowUpgrade]="allowUpgrade"
                >
                </app-percent-stats>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
