@import '../../../../../variables.scss';

#fight-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .background-image {
    background-image: url('/assets/backgrounds/field.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 101%;
    height: 101%;
    filter: brightness(50%) blur(1px);
  }

  .crit-text {
    color: $yellow !important;
  }

  .fighter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    padding-bottom: 12%;

    .player-image,
    .enemy-image {
      aspect-ratio: 1 / 1;
      width: 50%;
      border-radius: 20%;
    }

    .progress {
      width: 80%;
      position: relative;
      .progress-text {
        color: $white-100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .progress-bar-health {
        background-color: $red;
      }
      .progress-bar-energy {
        background-color: $yellow;
      }
    }
  }

  .action-buttons {
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .action-button {
    background-color: rgb(222 222 222 / 25%) !important;
  }

  .surrender-button {
    position: absolute;
    top: 3%;
    left: 3%;
  }

  .finish-quest-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .finish-quest-bg {
      width: 150vh;
      z-index: 1;
      position: absolute;
      max-width: 1400px;
      padding-bottom: 40px;
    }

    .player-image {
      width: 30vh;
      position: relative;
      z-index: 1;
      max-width: 300px;
      margin-left: 10px;
    }
  }

  // animations

  @keyframes attack-right {
    0% {
      transform: translate(0px, 0px);
    }
    15% {
      transform: translate(25vw, -10vh);
      transform: rotateZ(45deg);
    }
    50% {
      transform: translate(50vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
      transform: rotateZ(0);
    }
  }

  @keyframes attack-left {
    0% {
      transform: translate(0px, 0px);
    }
    15% {
      transform: translate(-25vw, -10vh);
      transform: rotateZ(-45deg);
    }
    50% {
      transform: translate(-50vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
      transform: rotateZ(0);
    }
  }

  @keyframes defend-right {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(-10vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes defend-left {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(10vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
}
