@import '../../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#fight-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 101%;
    height: 101%;
    filter: brightness(50%) blur(1px);
  }

  .crit-text {
    color: $yellow !important;
  }

  .fighter-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    padding-top: 1%;

    .player-image,
    .enemy-image {
      aspect-ratio: 1 / 1;
      width: 50%;
      @include media-breakpoint-down(sm) {
        width: 30%;
      }
      border-radius: 20%;
      max-width: 300px;
    }

    .progress {
      width: 80%;
      position: relative;
      .progress-text {
        color: $white-100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .progress-bar-health {
        background-color: $red;
      }
      .progress-bar-energy {
        background-color: $yellow;
      }
    }

    .status-bar {
      position: relative;
      width: 80%;
      height: 30px;
      display: flex;
      gap: 5px;

      .text-purple {
        color: #6d507c;
      }

      .text-blue {
        color: #048ba8;
      }

      .text-yellow {
        color: #fea520;
      }

      .fa-flask {
        padding-right: 7px;
        padding-top: 3px;
        position: relative;
        span {
          position: absolute;
          bottom: 3px;
          color: white;
          font-size: 10px;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
    height: fit-content;
  }

  .action-button {
    background-color: rgb(222 222 222 / 25%) !important;
    @include media-breakpoint-down(sm) {
     font-size: 13px;
    }
  }

  .surrender-button {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 100;
  }

  .finish-quest-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .finish-quest-bg {
      width: 150vh;
      z-index: 1;
      position: absolute;
      max-width: 1400px;
      padding-bottom: 40px;
    }

    .player-image {
      width: 30vh;
      position: relative;
      z-index: 1;
      max-width: 300px;
      margin-left: 10px;
    }
  }

  // animations

  @keyframes attack-right {
    0% {
      transform: translate(0px, 0px);
    }
    15% {
      transform: translate(25vw, -10vh);
      transform: rotateZ(45deg);
    }
    50% {
      transform: translate(50vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
      transform: rotateZ(0);
    }
  }

  @keyframes attack-left {
    0% {
      transform: translate(0px, 0px);
    }
    15% {
      transform: translate(-25vw, -10vh);
      transform: rotateZ(-45deg);
    }
    50% {
      transform: translate(-50vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
      transform: rotateZ(0);
    }
  }

  @keyframes defend-right {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(-10vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes defend-left {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(10vw, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes charge {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, -10vh);
    }
    70% {
      transform: translate(0px, 0px);
      transform-origin: center bottom;
      transform: rotateX(30deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
}
