<div *ngIf="fight" id="fight-container" class="container-fluid h-100">
  <div
    class="background-image"
    [style.background-image]="'url(' + fightBackgroundImage + ')'"
  ></div>

  <ng-container *ngIf="!victory && !defeat">
    <button
      (click)="surrender()"
      [class]="
        'btn btn-primary surrender-button action-button shadow ' +
        getButtonSize()
      "
    >
      <i class="fa fa-flag"></i>
    </button>
    <div class="row position-relative h-100">
      <div class="col-6 fighter-container">
        <img
          [src]="player.image"
          [ngbTooltip]="playerStats"
          class="player-image shadow"
          [style.animation]="playerAnimation"
        />
        <span
          *ngIf="showPlayerAction"
          urTitle
          class="text-white animate__animated animate__fadeInUp position-absolute z-2"
          >{{
            fight.turns[fight.turns.length - 1].playerTurn.action + '!'
              | uppercase
          }}</span
        >
        <span
          *ngIf="showReceivedPlayerDamage"
          urTitle
          [ngClass]="{
            'crit-text':
              fight.turns[fight.turns.length - 1].enemyTurn.action === 'crit'
          }"
          class="text-white animate__animated animate__fadeInUp position-absolute z-2"
          >-{{ fight.turns[fight.turns.length - 1].enemyTurn.damage }}</span
        >
        <span urText class="text-white"
          >{{ player.name }} (level {{ player.level }})</span
        >
        <div
          class="progress shadow"
          [style.height]="getHealthBarHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ fight.currentPlayerStats.health }}/{{
              fight.playerStats.health
            }}</span
          >
          <div
            class="progress-bar progress-bar-health progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="
              (fight.currentPlayerStats.health / fight.playerStats.health) *
                100 +
              '%'
            "
          ></div>
        </div>

        <div
          class="progress shadow"
          [style.height]="getHealthEnergyHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ fight.currentPlayerStats.energy }}/{{
              fight.playerStats.energy
            }}</span
          >
          <div
            class="progress-bar progress-bar-energy progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="fight.currentPlayerStats.energy + '%'"
          ></div>
        </div>
        <div class="position-relative" style="width: 80%">
          <span
            urText
            class="position-absolute"
            *ngIf="fight.currentPlayerStats.energy < 40"
            [ngbTooltip]="exhausted"
            >😫</span
          >
        </div>
      </div>
      <div class="col-6 fighter-container">
        <span
          *ngIf="showEnemyAction"
          urTitle
          class="text-white animate__animated animate__fadeInUp position-absolute z-2"
          >{{
            fight.turns[fight.turns.length - 1].enemyTurn.action + '!'
              | uppercase
          }}</span
        >
        <span
          *ngIf="showReceivedEnemyDamage"
          urTitle
          [ngClass]="{
            'crit-text':
              fight.turns[fight.turns.length - 1].playerTurn.action === 'crit'
          }"
          class="text-white animate__animated animate__fadeInUp position-absolute z-2"
          >-{{ fight.turns[fight.turns.length - 1].playerTurn.damage }}</span
        >
        <img
          [src]="quest.data.enemyImage"
          [ngbTooltip]="enemyStats"
          class="enemy-image shadow"
          [style.animation]="enemyAnimation"
        />
        <span urText class="text-white"
          >{{ quest.data.enemy }} (level {{ quest.level }})</span
        >
        <div
          class="progress shadow"
          [style.height]="getHealthBarHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ fight.currentEnemyStats.health }}/{{
              fight.enemyStats.health
            }}</span
          >
          <div
            class="progress-bar progress-bar-health progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="
              (fight.currentEnemyStats.health / fight.enemyStats.health) * 100 +
              '%'
            "
          ></div>
        </div>

        <div
          class="progress shadow"
          [style.height]="getHealthEnergyHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ fight.currentEnemyStats.energy }}/{{
              fight.enemyStats.energy
            }}</span
          >
          <div
            class="progress-bar progress-bar-energy progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="fight.currentEnemyStats.energy + '%'"
          ></div>
        </div>

        <div class="position-relative" style="width: 80%">
          <span
            urText
            class="position-absolute"
            *ngIf="fight.currentEnemyStats.energy < 40"
            [ngbTooltip]="exhausted"
            >😫</span
          >
        </div>
      </div>
      <div class="action-buttons">
        <button
          (click)="doAction(turnActions.ATTACK)"
          [class]="'btn btn-primary action-button shadow ' + getButtonSize()"
        >
          <i class="fa fa-hand-fist"></i> ATTACK
        </button>
        <button
          (click)="doAction(turnActions.DEFEND)"
          [class]="'btn btn-primary action-button shadow ' + getButtonSize()"
        >
          <i class="fa fa-shield"></i> DEFEND
        </button>
        <!-- TODO
      <button
        [class]="'btn btn-primary action-button shadow ' + getButtonSize()"
      >
        <i class="fa fa-bolt"></i> CHARGE
      </button>
      <button
        [class]="'btn btn-primary action-button shadow ' + getButtonSize()"
      >
        <i class="fa fa-flask"></i> ITEMS
      </button> -->
      </div>
    </div>
  </ng-container>

  <div *ngIf="victory" class="finish-quest-screen">
    <img class="player-image" [src]="player.image" />
    <img class="finish-quest-bg" src="assets/fight-screens/victory.png" />
  </div>
  <div *ngIf="defeat" class="finish-quest-screen">
    <div class="h1 defeat-title text-white">QUEST FAILED ☠️</div>
  </div>
</div>

<ng-template #exhausted>Exhausted: Attacks do 50% less damage</ng-template>

<ng-template #playerStats>
  <ul class="p-0 m-0">
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Life:</label>
      {{ fight.playerStats.health }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Armor:</label>
      {{ fight.playerStats.armor }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Energy:</label>
      {{ fight.playerStats.energy }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Damage:</label>
      {{ fight.playerStats.damage }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Speed:</label>
      {{ fight.playerStats.speed }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Penetration:</label>
      {{ fight.playerStats.penetration }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Crit:</label>
      {{ fight.playerStats.crit }}%
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Dodge:</label>
      {{ fight.playerStats.dodge }}%
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Block:</label>
      {{ fight.playerStats.block }}%
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Accuracy:</label>
      {{ fight.playerStats.accuracy }}%
    </li>
  </ul>
</ng-template>

<ng-template #enemyStats>
  <ul class="p-0 m-0">
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Life:</label>
      {{ fight.enemyStats.health }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Armor:</label>
      {{ fight.enemyStats.armor }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Energy:</label>
      {{ fight.enemyStats.energy }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Damage:</label>
      {{ fight.enemyStats.damage }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Speed:</label>
      {{ fight.enemyStats.speed }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Penetration:</label>
      {{ fight.enemyStats.penetration }}
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Crit:</label>
      {{ fight.enemyStats.crit }}%
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Dodge:</label>
      {{ fight.enemyStats.dodge }}%
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Block:</label>
      {{ fight.enemyStats.block }}%
    </li>
    <li urText class="d-flex justify-content-between gap-2">
      <label class="text-third">Accuracy:</label>
      {{ fight.enemyStats.accuracy }}%
    </li>
  </ul>
</ng-template>
