@import '../../../../../../variables.scss';
.past-crypts {
  max-height: 400px;
  overflow: auto;
}
.crypt-welcome {
  text-align: center;
  color: $white-300;
  background: $black-500;
  padding: 2rem;
  border-radius: 10px;
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0 4px 15px $black-transparent;
  font-family: 'Georgia', serif;
  position: relative;
  z-index: 1;
}

.crypt-stats {
  text-align: left;
  color: $white-300;
  background: $black-500;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  box-shadow: 0 4px 15px $black-transparent;
  font-family: 'Georgia', serif;
  position: relative;
  z-index: 1;
}

.main-container {
  position: relative;
  z-index: 1;
}

.crypt-stats h2 {
  font-size: 2rem;
  color: $orange;
  margin-bottom: 1rem;
  text-shadow: 0 0 5px $black-300;
}

.crypt-stats .stat-item {
  margin-bottom: 1rem;
}

.crypt-stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.crypt-stats ul li {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  position: relative;
}

.crypt-stats ul li::before {
  content: '';
  position: absolute;
  left: 0;
  color: $orange;
}

h1 {
  font-size: 2.5rem;
  color: $red;
  margin-bottom: 1rem;
  text-shadow: 0 0 5px $black-300;
}

h2,
h3 {
  color: $orange;
  margin-top: 1.5rem;
}

.crypt-intro,
.crypt-preparation p,
.challenge-text {
  font-size: 1.2rem;
  margin: 1rem 0;
  line-height: 1.5;
}

ul {
  text-align: left;
  margin: 1rem auto;
  padding: 0;
  list-style-type: none;
  max-width: 600px;
}

ul li {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  position: relative;
}

ul li::before {
  content: '⚔️';
  position: absolute;
  left: 0;
  color: $orange;
}

.crypt-challenge {
  margin-top: 2rem;
}

.challenge-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: $red;
}

.failed {
  color: $red;
}
.success {
  color: $third;
}

.enter-button {
  background-color: $red;
  color: $white-100;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px $black-transparent;
  transition:
    background 0.3s,
    transform 0.2s;
}

.enter-button:hover {
  background-color: $warrior-secondary;
  transform: scale(1.05);
}

.enter-button:active {
  transform: scale(0.95);
}
