<ng-template #actions>
  @if ((lastLoadedStats?.remainingAttempts ?? 0) <= 0) {
    <p class="challenge-text">You don't have more tries for this week!</p>
    <button
      class="enter-button animate__animated animate__pulse animate__infinite"
      (click)="getMoreCryptTries.emit()"
    >
      Get more!
    </button>
  } @else {
    <p class="challenge-text">Are you ready to face death?</p>
    <button class="enter-button" (click)="startCrypt.emit()">
      💀 Enter the Crypt
    </button>
  }
</ng-template>

<ng-template #cryptmsg>
  <div class="crypt-welcome">
    <!-- Título Épico -->
    <h1 urTitle>💀 Welcome to the Crypt ⚔️</h1>

    <!-- Introducción Narrativa -->
    <p class="crypt-intro">
      Once you step into the Crypt, <strong>there is no turning back.</strong>
      Trapped beneath the earth, your fate will be sealed by your decisions. You
      cannot trade, equip new items, or escape. You fight or you perish.
    </p>

    <!-- Normas y Funcionamiento -->
    <div class="crypt-rules">
      <h2 urText>🛡️ The Rules of the Crypt 🗡️</h2>
      <ul>
        <li>Your current state will be <strong>saved</strong> at the start.</li>
        <li>
          After each battle, you can <strong>choose upgrades</strong> to aid
          your survival.
        </li>
        <li>
          With each room, the
          <strong>difficulty increases exponentially</strong>. Enemies become
          stronger and deadlier. Choose your rewards wisely.
        </li>
        <li>
          The Crypt resets <strong>every week</strong>. Your rewards will depend
          on how deep you go.
        </li>
        <li>
          The deeper you descend, the <strong>greater the treasures</strong> at
          the end of the week!
        </li>
      </ul>
    </div>

    <!-- Mensaje de Preparación -->
    <div class="crypt-preparation">
      <h3 urText>⚔️ Prepare Yourself, Adventurer! ⚔️</h3>
      <p>
        Equip your <strong>best items</strong>, stock up on
        <strong>consumables</strong>, and steel your resolve. You will need
        everything you have to survive the Crypt’s horrors.
      </p>
      <ng-container *ngTemplateOutlet="actions"></ng-container>

      <button class="read-rules-button" (click)="hideModal()">Hide</button>
    </div>
  </div>
</ng-template>
<div
  class="row h-100 main-container align-items-center justify-content-center"
  data-aos="fade-up"
  data-aos-delay="1000"
  data-aos-duration="2000"
>
  <div class="col-12 col-md-6">
    <div class="crypt-stats" *ngIf="stats$ | async as stats">
      <h2 urTitle class="mt-0">📜 Crypt Statistics</h2>
      <!-- Máxima profundidad alcanzada -->
      <div class="stat-item">
        <p>
          🏆 Maximum Depth Achieved: <strong>{{ stats.maxDepth }}</strong>
        </p>
      </div>
      <!-- Listado de últimas criptas -->
      <div class="stat-item">
        <p>📜 Recent Crypt Attempts:</p>
        <ul class="past-crypts">
          <li *ngIf="stats.cryptDetails.length == 0">No data yet.</li>
          <li *ngFor="let crypt of stats.cryptDetails" class="d-flex gap-2">
            <app-item-box
              [rarity]="crypt.encounters[getCurrentLevel(crypt)].rarity"
              [height]="70"
              [width]="100"
              [image]="
                crypt.encounters[getCurrentLevel(crypt)].questData
                  .backgroundImage
              "
            >
              <div tooltip class="tooltip-uruk">
                <span class="text-light p-2" urText>{{
                  crypt.encounters[getCurrentLevel(crypt)].questData.name
                }}</span>
              </div>
            </app-item-box>
            <div class="right">
              <div>
                <strong>{{ crypt.endDate | date: 'shortDate' }}</strong>
              </div>
              <div>Depth achieved {{ getCurrentLevel(crypt) }}</div>
              <div>
                Status:
                <span
                  [class.success]="crypt.success"
                  [ngClass]="{
                    success: crypt.status == 'COMPLETED',
                    onprogress: crypt.status == 'FAILED',
                  }"
                  >{{
                    crypt.status == 'FAILED'
                      ? getFailedStatus(stats.maxDepth, getCurrentLevel(crypt))
                      : 'Finished'
                  }}</span
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Intentos restantes -->
      <div class="stat-item">
        <p>
          💀 Attempts Remaining This Week:
          <strong>{{ stats.remainingAttempts }}</strong>
        </p>
      </div>
      <!-- Otras estadísticas -->
      <div class="stat-item">
        <p>
          ⚔️ Total Battles Fought: <strong>{{ stats.totalCrypts }}</strong>
        </p>
      </div>
      <div class="crypt-challenge">
        <ng-container *ngTemplateOutlet="actions"></ng-container>

        <button class="read-rules-button" (click)="openModal(cryptmsg)">
          📜 Read the rules
        </button>
      </div>
    </div>
  </div>
</div>
