@import '../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#inbox-modal {
  padding: 10px 20px;
  background: $black-300;
  width: 80vw;
  @include media-breakpoint-down(sm) {
    width: 95vw;
  }
  @include media-breakpoint-down(lg) {
    max-height: 85vh;
  }
  max-height: 80vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .title {
    padding: 10px 0;
  }
  .notification-container {
    border-radius: 3px;
    height: 100%;
    padding-right: 2px;
    overflow-y: auto;

    .notification {
      padding: 10px 5px;
      background: $black-200;
      color: $white-100;
      display: flex;
      border-radius: 5px;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      margin-bottom: 2px;

      .notification-image {
        max-height: 50px;
        max-width: 50px;
        border-radius: 5px;
        margin: 0 10px;
      }

      &:hover {
        background: $black-100;
      }

      .notification-text {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .notification-date {
        align-self: flex-start;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .new-notification {
        display: flex;
        align-items: center;
        margin: 0 5px;
        background: #c62f39;
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
  }
  .notification-lector {
    overflow-y: auto;
    margin-bottom: 5px;
    .markdown * {
      //font-family: sans-serif !important;
      color: $white-100;
    }
    .markdown img {
      max-width: 100%;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .back-btn {
      width: 100px;
      height: 35px;
    }

    .attachments {
      display: flex;
      justify-content: space-between;
      background: $gray-500;
      border-radius: 5px;
      width: 50%;
      padding: 5px;
      overflow: hidden;
    }
  }
}
