<app-inventory-topbar
  [(inventory)]="items"
  [(searchTerm)]="searchTerm"
></app-inventory-topbar>
<div class="materials-inventory" *ngIf="!!items">
  <app-item-box
    *ngFor="let item of filteredItems"
    [height]="40"
    [width]="40"
    [stack]="item?.quantity | compressNumber"
    [rarity]="item?.materialData?.rarity"
    [image]="item ? item?.materialData.imageLocal : null"
    [active]="isMultipleSelected(item)"
    (click)="addToSelectedItems(item)"
  >
    @if (!!item) {
      <div tooltip class="tooltip-uruk">
        <app-generic-item-tooltip
          [item]="item?.materialData"
        ></app-generic-item-tooltip>
      </div>
    }
  </app-item-box>
  <ng-content select="[extraItemBoxes]"></ng-content>
</div>
