<app-inventory-topbar
  [(inventory)]="items"
  [(searchTerm)]="searchTerm"
></app-inventory-topbar>
<div class="materials-inventory" *ngIf="!!items">
  <app-item-box
    *ngFor="let filteredItem of filteredItems"
    [height]="40"
    [width]="40"
    [stack]="filteredItem?.quantity | compressNumber"
    [rarity]="filteredItem?.materialData?.rarity"
    [image]="
      filteredItem
        ? (filteredItem?.materialData.image | toIpfsImageFromCid)
        : null
    "
  >
    @if (!!filteredItem) {
      <div tooltip class="tooltip-uruk">
        <app-material-tooltip
          [item]="filteredItem?.materialData"
        ></app-material-tooltip>
      </div>
    }
  </app-item-box>
  <ng-content select="[extraItemBoxes]"></ng-content>
</div>
