<div id="blacksmith">
  <div class="blacksmith-bg"></div>
  <div *ngIf="showDialog" class="blacksmith-dialog">
    <span urTitle>{{ dialog }} </span>
  </div>

  <div class="inventory-container inventory">
    <tabset>
      <tab id="tab1">
        <ng-template tabHeading>
          <span>⚔️</span>
        </ng-template>
        <div class="d-flex gap-3 align-items-center">
          <div
            class="form-check form-switch"
            (click)="
              multipleSelection.patchValue(!multipleSelection.value);
              selectedMultipleItems = []
            "
          >
            <input
              class="form-check-input"
              type="checkbox"
              [formControl]="multipleSelection"
            />
            <label
              class="form-check-label text-light"
              for="flexSwitchCheckChecked"
              >Multiple</label
            >
          </div>

          <div
            class="form-check form-switch"
            (click)="upgradableItems.patchValue(!upgradableItems.value)"
          >
            <input
              class="form-check-input"
              type="checkbox"
              [formControl]="upgradableItems"
            />
            <label
              class="form-check-label text-light"
              for="flexSwitchCheckChecked"
              >Upgradable</label
            >
          </div>
        </div>

        <app-item-inventory
          class="overflow-auto"
          [showContextualMenu]="true"
          [multipleSelection]="!!multipleSelection.value"
          [contextMenuTemplate]="'anvil'"
          [items]="filterByUpgradableItems(currentInventory)"
          [sockets]="currentSize$ | async"
          [disableDND]="false"
          [boxSize]="40"
          [calculatedStack]="calculatedStackRule"
          (onDragStart)="hovered = true"
          (onDragEnd)="hovered = false"
          (onDoubleClick)="
            !!$event ? (selectedMultipleItems = [$event]) : false
          "
          [(selectedItems)]="selectedMultipleItems"
        >
        </app-item-inventory>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span>🧱</span>
        </ng-template>
        <app-materials-inventory
          [items]="currentMaterials"
          [sockets]="currentSize$ | async"
        >
        </app-materials-inventory>
      </tab>
    </tabset>
  </div>

  <div class="item-container">
    <div class="container-multiple">
      @if (selectedMultipleItems.length === 0) {
        <app-item-box
          #anvil
          dndDropzone
          (dndDrop)="onAnvilDrop($event)"
          [active]="hovered"
          [ngbTooltip]="itemTooltip"
          [tooltipContext]="{ item: null }"
          [height]="getItemBoxSize()"
          [width]="getItemBoxSize()"
        ></app-item-box>
      } @else {
        @for (
          selectedMultipleItem of selectedMultipleItems;
          track selectedMultipleItem.id
        ) {
          <app-item-box
            #anvil
            dndDropzone
            (dndDrop)="onAnvilDrop($event)"
            [active]="hovered"
            [ngbTooltip]="itemTooltip"
            [tooltipContext]="{ item: selectedMultipleItem }"
            [height]="getItemBoxSize()"
            [width]="getItemBoxSize()"
            [upgradeLevel]="selectedMultipleItem?.upgradeLevel"
            [image]="
              selectedMultipleItem
                ? selectedMultipleItem?.itemData.imageLocal
                : null
            "
          ></app-item-box>
        }
      }
    </div>

    <div class="action-anvil">
      <button
        (click)="openModal('melt')"
        [disabled]="selectedMultipleItems.length == 0"
        [class]="'btn btn-primary ' + getButtonSize()"
      >
        <i class="fa fa-fire pl-1 pb-1"></i>
        Melt
      </button>
      <button
        (click)="openModal('upgrade')"
        [disabled]="
          !!multipleSelection.value || selectedMultipleItems.length == 0
        "
        [class]="'btn btn-secondary mx-1 ' + getButtonSize()"
      >
        <i class="fa fa-gears pl-1 pb-1"></i>
        Upgrade
      </button>
      <button
        (click)="openModal('enchant')"
        [disabled]="
          !!multipleSelection.value || selectedMultipleItems.length == 0
        "
        [class]="'btn btn-dark  ' + getButtonSize()"
      >
        <i class="fa fa-wand-magic-sparkles pl-1 pb-1"></i>
        Enchant
      </button>
    </div>
  </div>

  <ng-container *ngIf="resultItem">
    <div class="result-item-showcase" (click)="closeResult()">
      <div class="animate__animated animate__jackInTheBox delay_4">
        <app-item-box
          #result
          [ngbTooltip]="itemTooltip"
          [tooltipContext]="{ item: resultItem }"
          [height]="200"
          [width]="200"
          [upgradeLevel]="resultItem?.upgradeLevel"
          [image]="resultItem ? resultItem?.itemData.imageLocal : null"
        ></app-item-box>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="resultItem === false">
    <div class="result-item-showcase" (click)="closeResult()">
      <span urTitle class="text-white">Upgrade failed 💀</span>
      <div class="animate__animated animate__hinge delay_4">
        <app-item-box
          #result
          [height]="200"
          [width]="200"
          [upgradeLevel]="selectedMultipleItems[0]?.upgradeLevel"
          [image]="
            selectedMultipleItems[0]
              ? selectedMultipleItems[0]?.itemData.imageLocal
              : null
          "
        ></app-item-box>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #itemTooltip let-item="item">
  <ng-container *ngIf="!!item">
    <app-item-tooltip [item]="item"></app-item-tooltip>
  </ng-container>
</ng-template>
