@import '../../../../variables.scss';

#blacksmith {
  position: relative;
  height: 100%;
  overflow: hidden;

  .blacksmith-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/shop/shop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
