<div
  class="item-tooltip-wrapper"
  [ngClass]="{
    'glowing-common': item.rarity === rarityEnum.COMMON,
    'glowing-uncommon': item.rarity === rarityEnum.UNCOMMON,
    'glowing-epic': item.rarity === rarityEnum.EPIC,
    'glowing-legendary': item.rarity === rarityEnum.LEGENDARY,
    'glowing-mythic': item.rarity === rarityEnum.MYTHIC
  }"
>
  <div class="description flex-column align-items-start">
    <p class="h6" [ngStyle]="{ color: getRarityColor(item.rarity) }">
      {{ item.name }}
    </p>
  </div>
  <div class="d-flex flex-row pt-2">
    <div class="d-flex align-items-center">
      <img
        [src]="item.image | toIpfsImageFromCid"
        priority
        [width]="getItemBoxSize()"
        [height]="getItemBoxSize()"
      />
    </div>
    <div class="px-3">
      <div class="description mx-2">
        <ul class="p-0">
          <li>
            {{ item.description }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
