<ng-template #inspectModal>
  <app-inspect-modal>
    <app-item-tooltip [item]="item"></app-item-tooltip>
  </app-inspect-modal>
</ng-template>

<ul class="list-options">
  <li (click)="clickEquip.emit()" *ngIf="displayEquip">Equip</li>
  <li
    (click)="equipLeftHand.emit()"
    *ngIf="item.itemData.itemType == itemType.Weapon1H && displayEquipLeftHand"
  >
    Equip on left hand
  </li>
  <li (click)="repairItem(item)" *ngIf="displayRepair">Repair</li>
  <li (click)="clickDestroy.emit()" *ngIf="displayDestroy">Destroy</li>
  <li (click)="inspectItem(item, inspectModal)">Inspect</li>
</ul>
