<ng-template #statExplanation let-text="text">
  <div class="p-2">
    <span class="text-white bg-black">{{ text }}</span>
  </div>
</ng-template>
<div class="table-responsive rarity-table">
  <table class="table table-dark">
    <tbody class="simplified-table-body row">
      <tr
        class="col-6"
        *ngFor="let perStat of perStatItems"
        [ngbTooltip]="statExplanation"
        [tooltipContext]="{ text: perStat.tooltip }"
      >
        <td class="flex justify-content-start">
          <div class="stat-icon" [ngClass]="getStatIconClass(perStat.key)">
            <img
              class="stat-icon-img"
              src="{{ prefix + perStat.icon }}"
              alt=""
            />
          </div>
        </td>
        <td class="w-100">
          <span class="stat-value">
            <span
              *ngIf="
                !!hoveredItemStats &&
                !!hoveredItemStats[totalStatsToPercentualStats[perStat.key]]
              "
              class="stat-value"
              [ngClass]="
                getValueStatusClass(
                  hoveredItemStats[totalStatsToPercentualStats[perStat.key]]
                )
              "
            >
              {{
                hoveredItemStats[totalStatsToPercentualStats[perStat.key]] +
                  getPercentage(perStat.key)
              }}</span
            >
            <ng-container
              *ngIf="
                cappedPerStats[perStat.key] &&
                  (player.perStats[perStat.key] || 0) >=
                    cappedPerStats[perStat.key];
                else notMax
              "
            >
              <span
                [ngClass]="getValueStatusClass(player.perStats[perStat.key])"
              >
                {{ player.perStats[perStat.key] || 0 | number: '1.0-2' }}/{{
                  cappedPerStats[perStat.key]
                }}%
              </span>
            </ng-container>
            <ng-template #notMax>
              <span
                [ngClass]="getValueStatusClass(player.perStats[perStat.key])"
              >
                {{ player.perStats[perStat.key] || 0 | number: '1.0-2' }}
              </span>
              <span *ngIf="cappedPerStats[perStat.key]" class="max-value">
                /{{ cappedPerStats[perStat.key] }}%
              </span>
              <span *ngIf="!cappedPerStats[perStat.key]" class="max-value"
                >%</span
              >
            </ng-template>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
