<div id="title-generator-modal-container" *ngIf="player$ | async as player">
  <div class="content">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <span urSubtitle class="text-third">{{
        player.title ?? 'The untitled'
      }}</span>
    </div>
    <div class="picker py-2">
      <div class="row gap-3 gap-md-0">
        <div class="col-12 col-md-6">
          <div class="d-flex justify-content-center">
            <span class="text-light">Preffix</span>
          </div>
          <div class="container-list flex-column d-flex mt-2">
            @for (title of onlyPrefix(player.titles ?? []); track title.id) {
              <div
                class="no-title-box text-center justify-content-center pointer p-3"
              >
                <app-item-box
                  [text]="title.name.split('Prefix:')[1]"
                  [rarity]="title.rarity"
                  [height]="60"
                  [active]="player.activePrefixTitle == title.id"
                  (click)="activateTitle(title)"
                >
                  <div tooltip class="tooltip-uruk">
                    <app-generic-item-tooltip
                      [item]="title"
                    ></app-generic-item-tooltip>
                  </div>
                </app-item-box>
              </div>
            } @empty {
              <div class="no-title-box">
                <img
                  class="uruks-icon pb-1"
                  src="{{ prefix + '/assets/misc/titles/title_preffix.png' }}"
                />
                <span class="text-white">
                  You don't have any preffix unlocked yet.
                </span>
              </div>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex justify-content-center">
            <span class="text-light">Suffix</span>
          </div>
          <div class="container-list flex-column gap-2 d-flex mt-2">
            @for (title of onlySuffix(player.titles ?? []); track title.id) {
              <div
                class="no-title-box text-center justify-content-center pointer p-3"
              >
                <app-item-box
                  [text]="title.name.split('Suffix:')[1]"
                  [rarity]="title.rarity"
                  [height]="60"
                  [active]="player.activeSuffixTitle == title.id"
                  (click)="activateTitle(title)"
                >
                  <div tooltip class="tooltip-uruk">
                    <app-generic-item-tooltip
                      [item]="title"
                    ></app-generic-item-tooltip>
                  </div>
                </app-item-box>
              </div>
            } @empty {
              <div class="no-title-box">
                <img
                  class="uruks-icon pb-1"
                  src="{{ prefix + '/assets/misc/titles/title_suffix.png' }}"
                />
                <span class="text-white">
                  You don't have any suffix unlocked yet.
                </span>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer d-flex align-items-center justify-content-end">
    <button class="btn btn-transparent text-white" (click)="modalRef.hide()">
      Close
    </button>
  </div>
</div>
