@import '../../variables.scss';

.box {
  background-color: $black;
  border: 1px solid $black-300;

  position: relative;
  opacity: 0.9;
  &:hover {
    @extend .hovered;
  }
  span {
    bottom: -5px;
    right: 0px;
    position: absolute;
  }
}

.selectedItem {
  border: 3px solid $secondary;
}
.selectedBox {
  @extend .hovered;
}

.hovered {
  background-color: $primary;
  cursor: pointer;
  transition: all 0.3s;
}
