@import '../../variables.scss';

.box {
  background-color: $black;
  border: 1px solid $black-300;
  border-radius: 3px;
  position: relative;
  opacity: 0.9;
  &:hover {
    @extend .hovered;
  }
  span {
    bottom: -5px;
    right: 0px;
    position: absolute;
  }
  .item-disabled {
    filter: grayscale(100%);
  }
  .fa-prohib {
    position: absolute;
    left: 0;
    width: 30%;
    height: 30%;
    margin-top: 4%;
    margin-left: 4%;
    display: inline-block;
    background: $red;
  }
}

.box-COMMON {
  &:hover {
    @extend .hovered;
    background-color: #b0b5b349 !important;
  }
}
.box-UNCOMMON {
  &:hover {
    @extend .hovered;
    background-color: #3d74b842 !important;
  }
}
.box-EPIC {
  &:hover {
    @extend .hovered;
    background-color: #9d44b53e !important;
  }
}
.box-LEGENDARY {
  &:hover {
    @extend .hovered;
    background-color: #ff801134 !important;
  }
}
.box-MYTHIC {
  &:hover {
    @extend .hovered;
    background-color: #f344133e !important;
  }
}

.selectedItem {
  border: 3px solid $secondary;
}
.selectedBox {
  @extend .hovered;
}

.hovered {
  background-color: $primary;
  cursor: pointer;
  transition: all 0.3s;
}
