<ng-template #tipContent>
  <ng-content select="[tooltip]"></ng-content>
</ng-template>
<div
  [ngbTooltip]="displayTooltip ? tipContent : null"
  container="body"
  class="box d-flex justify-content-center"
  [ngClass]="{
    selectedBox: active,
    'glowing-common': rarity === rarityEnum.COMMON,
    'glowing-uncommon': rarity === rarityEnum.UNCOMMON,
    'glowing-epic': rarity === rarityEnum.EPIC,
    'glowing-legendary': rarity === rarityEnum.LEGENDARY,
    'glowing-mythic': rarity === rarityEnum.MYTHIC
  }"
  [ngStyle]="{ height: height + 'px', width: width + 'px' }"
>
  @if (!!image) {
    <img
      [src]="image"
      class="w-100 h-100 rounded"
      priority
      [width]="width"
      [height]="height"
      [ngClass]="{ selectedItem: active }"
    />
    <span
      [style.font-size]="width / 4 + 'px'"
      *ngIf="!!stack"
      class="text-white"
      >{{ !isNaNLocal(stack) ? 'x' + stack : stack }}
    </span>
    <span
      [style.font-size]="width / 4 + 'px'"
      *ngIf="!!upgradeLevel"
      [ngClass]="{
        'text-white': upgradeLevel < 5,
        'text-rainbow': upgradeLevel >= 5
      }"
      >{{ !isNaNLocal(upgradeLevel) ? '+' + upgradeLevel : upgradeLevel }}
    </span>
  }
</div>
