@import "../../variables.scss";

.box {
  background-color: $black-uruk;
  border: 1px solid $primary;
  opacity: 0.7;
  &:hover {
    background-color: $primary;
    cursor: pointer;
    transition: all 0.3s;
  }
}
