<div class="w-full">
  <div class="row">
    <div class="description justify-content-center">
      <p urSubtitle class="text-center">
        Current
        {{ type }} balance:
        {{
          type == 'in-game' ? (player$ | async).uruks : (erc20Balance$ | async)
        }}
      </p>
    </div>
  </div>

  <app-min-max-combo-selector
    [max]="
      type == 'in-game' ? (player$ | async).uruks : (erc20Balance$ | async)
    "
    [(value)]="selectedUruks"
    [summary]="' Golden Uruks selected'"
    (valueChange)="selectedUruksChange.emit(selectedUruks)"
  ></app-min-max-combo-selector>
</div>
