@import '../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
* {
  color: $white-100;
}
.stats-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.stat{
  display: flex;
  flex-direction: column;
}
