<div class="stats-container pb-3">
  <div class="row">
    <div class="col-6">
      <app-item-box
        [height]="obtainEquippedItemBoxHeightDependingOnScreenSize()"
        [width]="obtainEquippedItemBoxWidthDependingOnScreenSize()"
      ></app-item-box>
    </div>
    <div class="col-6">
      <div class="description stat">
        <p urTitle>Player</p>
        <ul>
          <li>Name: #########</li>
          <li>Email: #######################</li>
          <li>Class: ##########</li>
          <li>Last connection: ###########</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="description stat">
        <p urTitle>Level</p>
        <ul>
          <li>Level: ###li></li>
          <li>Experience: ######</li>
          <li>Boosting: ###</li>
          <li>Quests completed: ####</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="description stat">
        <p urTitle>General</p>
        <ul>
          <li>Life: #########</li>
          <li>Armor: #######</li>
          <li>Mana: #########</li>
          <li>Energy: ###########</li>
          <li>Dodge: #######</li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <div class="description stat">
        <p urTitle>Combat</p>
        <ul>
          <li>Strenght: #########</li>
          <li>Accuaracy: #########</li>
          <li>Critical chance: ###########</li>
          <li>Penetration: ########</li>
        </ul>
      </div>
    </div>
  </div>
</div>
