<div class="stats-container pb-3" *ngIf="!!player">
  <div class="row" *ngIf="!!player">
    <div class="col-12 col-xl-4">
      <div class="rounded">
        <app-item-box
          [height]="150"
          [width]="150"
          [image]="player.image"
        ></app-item-box>
      </div>
    </div>
    <div class="col-12">
      <div class="description stat">
        <p>Player</p>
        <ul>
          <li>Name: {{ player.name }}</li>
          <li>Email: {{ player.email }}</li>
          <li>Class: ##########</li>
          <li>Member since: {{ player.createdAt | date }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="description stat">
        <p>Progress</p>
        <ul>
          <li>Level: {{ player.level }}</li>
          <li>Experience: {{ player.experience }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="description stat">
        <p>Combat</p>
        <ul>
          <li>Life: {{ player.health }}</li>
          <li>Armor: {{ player.armor }}</li>
          <li>Energy: {{ player.energy }}</li>
          <li>Damage: {{ player.damage }}</li>
          <li>Speed: {{ player.speed }}</li>
          <li>Penetration: {{ player.penetration }}</li>
          <li>Crit: {{ player.crit }}%</li>
          <li>Dodge: {{ player.dodge }}%</li>
          <li>Block: {{ player.block }}%</li>
          <li>Accuracy: {{ player.accuracy }}%</li>
        </ul>
      </div>
    </div>
  </div>
</div>
