<div class="stats-container pb-3">
  <div class="row gap-3">
    <div class="col-12 d-flex justify-content-center">
      <app-item-box
        [height]="200"
        [width]="200"
        [image]="(player$ | async).image"
      ></app-item-box>
    </div>
    <div class="col-12">
      <div class="description stat">
        <p>Player</p>
        <ul>
          <li>Name: {{ (player$ | async).name }}</li>
          <li>Email: {{ (player$ | async).email }}</li>
          <li>Class: ##########</li>
          <li>Member since: {{ (player$ | async).createdAt | date }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="description stat">
        <p>Progress</p>
        <ul>
          <li>Level: {{ (player$ | async).level }}</li>
          <li>Experience: {{ (player$ | async).experience }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="description stat">
        <p>Combat</p>
        <ul>
          <li>Life: {{ (player$ | async).health }}</li>
          <li>Armor: {{ (player$ | async).armor }}</li>
          <li>Energy: {{ (player$ | async).energy }}</li>
          <li>Damage: {{ (player$ | async).damage }}</li>
          <li>Speed: {{ (player$ | async).speed }}</li>
          <li>Penetration: {{ (player$ | async).penetration }}</li>
          <li>Crit: {{ (player$ | async).crit }}%</li>
          <li>Dodge: {{ (player$ | async).dodge }}%</li>
          <li>Block: {{ (player$ | async).block }}%</li>
          <li>Accuracy: {{ (player$ | async).accuracy }}%</li>
        </ul>
      </div>
    </div>
  </div>
</div>
