<div id="historic-list">
    @for (
      match of getPlayerHistoric$ | async;
      track match.id;
      let index = $index
    ) {
      <div class="historic-element d-flex flex-row py-2 align-items-center">
        <div class="player-info d-flex flex-row align-items-center gap-2">
          <img [src]="match.player.image" class="player-img"/>
          <span urText class="player-name text-white">{{ match.player.name }}</span>
        </div>
        <span urText class="result {{ match.win ? 'win' : 'lose' }}">{{ match.win ? 'Win' : 'Lose' }}</span>
        <div class="opponent-info d-flex flex-row align-items-center gap-2">
          <img [src]="match.opponent.image" class="opponent-img"/>
          <span urText class="opponent-name text-white">{{ match.opponent.name }}</span>
        </div>
        <span urText class="mmr-change text-white">{{ match.mmrChange }}</span>
      </div>
    }
  </div>
  