@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
#crypt {
  position: relative;
  height: 100%;
  width: 100%;
  height: 100%;
}

.apply-background {
  background-image: url('https://raw.githubusercontent.com/UrukBartas/assets/refs/heads/main/assets/backgrounds/crypt.webp');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include media-breakpoint-down(sm) {
    background-image: url('https://raw.githubusercontent.com/UrukBartas/assets/refs/heads/main/assets_mobile/assets/backgrounds/crypt.webp');
  }
}

.three-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
