@import '../../../../../variables.scss';

.carousel-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;

  .slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
    padding: 3%;
    background-color: $black-400;
    color: $white-100;

    .slide-text {
      position: absolute;
      top: 0;
      left: 0;
      background: #00000045;
      padding: 3%;
      border-radius: 4px;
      width: 100%;
      .slide-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
