<div class="container-fluid h-100">
  <div *ngIf="!loading" class="carousel-container">
    <div class="carousel">
      <div
        class="slide"
        *ngFor="
          let quest of quests | orderBy: 'data.phase' : 'asc';
          let i = index
        "
        [style.background]="!!adventure ? 'transparent' : 'none'"
        [style.background-image]="
          !adventure ? 'url(' + quest.data.image + ')' : 'none'
        "
        [class.active]="i === activeSlideIndex()"
      >
        <div class="slide-text">
          <div class="slide-title row">
            <span urTitle class="text-third col-12 text-center">
              {{ quest.data.name }}
              <span class="level">Level {{ quest.level }}</span>
            </span>

            <div
              class="col-12 mb-1 justify-content-around d-flex align-items-center"
            >
              <span urText class="badge">
                <i class="fa-solid fa-clock"></i>
                {{ getApproxTimeOfQuestBasedOnRarity(quest.data.rarity) }}
              </span>
              <ng-template #detailMonsterTooltip>
                <div
                  class="tooltip-info-monster"
                  *ngIf="infoEffectiveness$() | async as infoEffectiveness"
                >
                  <img
                    src="{{ getPathMonsterType(quest.data) }}"
                    alt="Monster type image"
                    style="width: 128px; height: 128px"
                  />
                  <ul
                    class="list-monster my-2"
                    *ngIf="infoEffectiveness.weakTo.length > 0"
                  >
                    Weak to:
                    <li
                      class="text-third"
                      *ngFor="let item of infoEffectiveness.weakTo"
                    >
                      {{ item }}
                    </li>
                  </ul>
                  <ul
                    class="list-monster my-2"
                    *ngIf="infoEffectiveness.strongAgainst.length > 0"
                  >
                    Strong to:
                    <li
                      class="text-danger"
                      *ngFor="let item of infoEffectiveness.strongAgainst"
                    >
                      {{ item }}
                    </li>
                  </ul>
                  Depending of the type of creature you face, your weapons and
                  spells may be stronger or weaker.
                </div>
              </ng-template>
              <div class="monster-type" [ngbTooltip]="detailMonsterTooltip">
                <img
                  src="{{ getPathMonsterType(quest.data) }}"
                  alt="Monster type image"
                />
                <span class="d-none d-sm-block">{{
                  getNameBasedOnType(quest.data.monsterType)
                }}</span>
              </div>

              <span
                urText
                class="badge"
                [ngStyle]="{ color: getRarityColor(quest.data.rarity) }"
              >
                <i class="fa-solid fa-certificate"></i> {{ quest.data.rarity }}
              </span>
            </div>
          </div>
          <div class="col-12 justify-content-center d-flex">
            <span urText class="mb-0 text-center">{{
              quest.data.description
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button
        urTitle
        [disabled]="!!adventure ? !isCurrentQuestTheNextPhase() : false"
        class="{{
          !!adventure && !isCurrentQuestTheNextPhase()
            ? 'button-rainbow-disabled'
            : 'button-rainbow'
        }}"
        [style.fontSize]="getResponsiveButtonFontSize()"
      >
        <span (click)="startQuest()">
          {{
            !!adventure
              ? isCurrentQuestTheNextPhase()
                ? 'START PHASE'
                : 'NOT AVAILABLE'
              : 'START QUEST'
          }}
        </span>
        <i (click)="questRoll()" *ngIf="!adventure" class="fa fa-rotate"></i>
      </button>
    </div>
    <a (click)="previousSlide()" class="carousel-control-prev" role="button">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a (click)="nextSlide()" class="carousel-control-next" role="button">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div
    *ngIf="loading"
    class="w-100 h-100 d-flex align-items-center justify-content-center"
  >
    <span urTitle class="text-white">Loading...</span>
  </div>
</div>
