@import '../../../../../variables.scss';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

.carousel-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.button-container {
  position: absolute;
  justify-content: center;
  bottom: 0;
  transform: translate(-50%, -50%);
  padding: 0.6em 2em;
  left: 50%;
  display: flex;
  @include media-breakpoint-down(lg) {
    bottom: -5vw;
  }
  button {
    display: flex;
    align-items: center;
    span {
      padding: 1em;
      border-right: 3px solid rgba(255, 255, 255, 0.25);
      white-space: nowrap;
    }
    i {
      padding: 1em;
    }
  }
}

.button-rainbow-disabled {
  @extend .button-container;
  &::before {
    animation: ease;
  }
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;

  .slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
    border-radius: 5px;
    padding: 3%;
    background-color: $black-400;
    color: $white-100;

    .slide-text {
      position: absolute;
      top: 0;
      left: 0;
      background: #00000045;
      padding: 3%;
      border-radius: 4px;
      width: 100%;
      .slide-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .level {
          color: $white-400;
          text-wrap: nowrap;
        }
      }
    }
  }
}

.monster-type {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    width: 32px;
    height: 32px;
  }
}

.tooltip-info-monster {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.list-monster {
  padding: 0;
  width: 140px;
  text-align: center;
  li {
    list-style: none;
  }
}
