@import '../../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';


.progress {
  width: 80%;
  position: relative;
  .progress-text {
    color: $white-100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .progress-bar-health {
    background-color: $red;
  }
  .progress-bar-energy {
    background-color: $yellow;
  }
  .progress-bar-timer {
    background-color: $white-400;
  }
  .progress-bar-timer-ready {
    background-color: $secondary;
    i {
      color: white;
      font-size: 4vmax;
      position: absolute;
      bottom: 7%;
      left: 7%;
    }
  }
}
