<app-base-fight
  [fightType]="fightType"
  [backgroundImage]="getBackground()"
  [fight$]="fight$"
  [triggerDefeat$]="triggerDefeat$"
  [triggerVictory$]="triggerVictory$"
  (onActionSubmit)="onActionSubmitted($event)"
  (onSurrender)="onSurrender()"
  (onDefeat)="onDefeat($event)"
  (onVictory)="onVictory($event)"
>
  <div playerTimerBar class="progress shadow" [style.height]="getTimerBarHeight() + 'px'">
    <div class="progress-text position-absolute">
      <span *ngIf="!awaitingOpponent">{{ turnTimer }}</span>
      <i *ngIf="awaitingOpponent" class="fa-solid fa-check"></i>
    </div>
    <div
      class="progress-bar progress-bar-timer progress-bar-animated shadow"
      [ngClass]="{
        'progress-bar-timer-ready': awaitingOpponent,
      }"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="60"
      [style.width]="(awaitingOpponent ? 100 : (turnTimer / 60) * 100) + '%'"
    ></div>
  </div>

  <div
    enemyTimerBar
    class="progress shadow"
    [style.height]="getTimerBarHeight() + 'px'"
  >
    <div class="progress-text position-absolute">
      <span *ngIf="!(awaitingPlayer && showEnemyStatus)">{{ turnTimer }}</span>
      <i
        *ngIf="awaitingPlayer && showEnemyStatus"
        class="fa-solid fa-check"
      ></i>
    </div>
    <div
      class="progress-bar progress-bar-timer progress-bar-animated shadow"
      [ngClass]="{
        'progress-bar-timer-ready': awaitingPlayer && showEnemyStatus,
      }"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="60"
      [style.width]="
        (awaitingPlayer && showEnemyStatus ? 100 : (turnTimer / 60) * 100) + '%'
      "
    ></div>
  </div>

</app-base-fight>
