<div id="status-container" *ngIf="fighterStatus">
  <!-- Buffs Section -->
  <div
    class="status-section buffs-section"
    *ngIf="((fighterStatus?.buffs | keyvalue) ?? [])?.length > 0"
  >
    <div class="effects-container">
      <ng-container *ngFor="let effect of fighterStatus?.buffs | keyvalue">
        <div
          class="effect-icon"
          [ngClass]="getEffectInfo(effect.key).color"
          [ngbTooltip]="
            getEffectTooltip(effect.key, effect.value.value, effect.value.turns)
          "
        >
          <!-- Set Passive or Class Passive with Image -->
          <ng-container *ngIf="hasImage(effect.key); else standardIcon">
            <div class="set-passive-image">
              <img
                [src]="prefix + '/' + getImagePath(effect.key)"
                alt="{{ getEffectInfo(effect.key).name }}"
              />
            </div>
          </ng-container>

          <!-- Standard Icon (FontAwesome or Emoji) -->
          <ng-template #standardIcon>
            <ng-container
              *ngIf="
                getEffectInfo(effect.key).icon.startsWith('fa-');
                else emojiIcon
              "
            >
              <i class="fa-solid {{ getEffectInfo(effect.key).icon }}">
                <span
                  *ngIf="
                    effect.value.turns !== Infinity &&
                    effect.value.turns !== null
                  "
                  >{{ effect.value.turns }}</span
                >
                <span
                  *ngIf="
                    effect.value.turns === Infinity ||
                    effect.value.turns === null
                  "
                  class="infinity-symbol"
                  >∞</span
                >
              </i>
            </ng-container>

            <ng-template #emojiIcon>
              <span class="emoji-icon">{{
                getEffectInfo(effect.key).icon
              }}</span>
            </ng-template>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Debuffs Section -->
  <div
    class="status-section debuffs-section"
    *ngIf="((fighterStatus?.debuffs | keyvalue) ?? [])?.length > 0"
  >
    <div class="effects-container">
      <ng-container *ngFor="let effect of fighterStatus?.debuffs | keyvalue">
        <div
          class="effect-icon"
          [ngClass]="getEffectInfo(effect.key).color"
          [ngbTooltip]="
            getEffectTooltip(effect.key, effect.value.value, effect.value.turns)
          "
        >
          <!-- Set Passive with Image -->
          <ng-container *ngIf="hasImage(effect.key); else standardIcon">
            <div class="set-passive-image">
              <img
                [src]="prefix + '/' + getImagePath(effect.key)"
                alt="{{ getEffectInfo(effect.key).name }}"
              />
            </div>
          </ng-container>

          <!-- Standard Icon (FontAwesome or Emoji) -->
          <ng-template #standardIcon>
            <ng-container
              *ngIf="
                getEffectInfo(effect.key).icon.startsWith('fa-');
                else emojiIcon
              "
            >
              <i class="fa-solid {{ getEffectInfo(effect.key).icon }}">
                <span
                  *ngIf="
                    effect.value.turns !== Infinity &&
                    effect.value.turns !== null
                  "
                  >{{ effect.value.turns }}</span
                >
                <span
                  *ngIf="
                    effect.value.turns === Infinity ||
                    effect.value.turns === null
                  "
                  class="infinity-symbol"
                  >∞</span
                >
              </i>
            </ng-container>
            <ng-template #emojiIcon>
              <span class="emoji-icon">{{
                getEffectInfo(effect.key).icon
              }}</span>
            </ng-template>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Estado de energía -->
  <ng-template #exhausted>Exhausted: Attacks do 50% less damage</ng-template>
  <div class="status-section energy-status" *ngIf="fighterStatus?.energy < 40">
    <span class="emoji-icon" [ngbTooltip]="exhausted">😫</span>
  </div>
</div>
