#status-bar {
  position: relative;
  width: 80%;
  flex-direction: column;
  display: flex;
  gap: 5px;

  .text-purple {
    color: #6d507c;
  }

  .text-blue {
    color: #048ba8;
  }

  .text-yellow {
    color: #fea520;
  }

  .text-deep-blue {
    color: #2979ff;
  }

  .text-sky-blue {
    color: #80d8ff;
  }

  .text-turquoise {
    color: #64ffda;
  }

  .text-green {
    color: #69f0ae;
  }

  .text-orange {
    color: #ffab40;
  }

  .text-gray {
    color: #b0bec5;
  }

  .text-white {
    color: #ffffff;
  }

  .fa-flask {
    padding-right: 7px;
    padding-top: 3px;
    position: relative;
    span {
      color: white;
      font-size: 10px;
    }
  }
}
