@import '../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
* {
  color: $white-100;
}

.stats-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.stat {
  display: flex;
  flex-direction: column;
  li {
    padding: 5px;
    list-style: none;
  }
}

.player-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .player-avatar {
    flex-direction: column;
    gap: 10px;
  }
  .list-stats {
    flex-grow: 1;
  }
}
