@if (!!player) {
  <div class="stats-container pb-3">
    <div class="row gap-3">
      <div class="col-12 d-flex justify-content-center">
        <app-item-box
          [height]="getPlayerImageSize()"
          [width]="getPlayerImageSize()"
          [image]="player.image"
        ></app-item-box>
      </div>
      <div class="col-12">
        <div class="description stat">
          <p>Player</p>
          <ul>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Name:</label> {{ player.name }}
            </li>
            <li
              class="d-flex justify-content-between gap-2"
              *ngIf="!isViewingAnotherPlayer"
            >
              <label class="text-third">Email:</label>
              {{ player.email }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Member since:</label>
              {{ player.createdAt | date }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="description stat">
          <p>Progress</p>
          <ul>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Level:</label>
              {{ player.level }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Experience:</label>
              {{ player.experience }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="description stat">
          <p>Combat</p>
          <ul>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Life:</label>
              {{ player.stats.health | number: '1.0-2' }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Armor:</label>
              {{ player.stats.armor | number: '1.0-2' }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Energy:</label>
              {{ player.stats.energy | number: '1.0-2' }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Damage:</label>
              {{ player.stats.damage | number: '1.0-2' }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Speed:</label>
              {{ player.stats.speed | number: '1.0-2' }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Penetration:</label>
              {{ player.stats.penetration | number: '1.0-2' }}
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Crit:</label>
              {{ player.stats.crit | number: '1.0-2' }}%
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Dodge:</label>
              {{ player.stats.dodge | number: '1.0-2' }}%
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Block:</label>
              {{ player.stats.block | number: '1.0-2' }}%
            </li>
            <li class="d-flex justify-content-between gap-2">
              <label class="text-third">Accuracy:</label>
              {{ player.stats.accuracy | number: '1.0-2' }}%
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
} @else {
  Loading...
}
