<div class="item-inventory pt-1" *ngIf="items">
  @for (box of boxes; track box.id; let index = $index) {
    <div class="box-wrapper">
      <ng-template #contextOptions>
        <app-context-menu-inventory-options
          (clickEquip)="
            onDoubleClick.emit(items[index]);
            contextMenuService.hideContextMenu()
          "
          (clickDestroy)="
            onDestroyItem.emit(items[index]);
            contextMenuService.hideContextMenu()
          "
        ></app-context-menu-inventory-options>
      </ng-template>
      <app-item-box
        (contextmenu)="contextMenuService.onContextMenu($event, contextOptions)"
        (click)="selectNewItem.emit(items[index])"
        (mouseover)="onHover.emit(items[index])"
        (mouseout)="onHover.emit(null)"
        (dndStart)="onDragStart.emit({ event: $event, data: items[index] })"
        (dndEnd)="onDragEnd.emit($event)"
        (appDoubleClick)="onDoubleClick.emit(items[index])"
        [dndDraggable]="items[index]"
        [dndEffectAllowed]="'all'"
        [dndDisableIf]="!items[index] || disableDND"
        [height]="40"
        [width]="40"
        [rarity]="items[index]?.itemData?.rarity"
        [active]="
          !!selectedItem && !!items[index] && selectedItem.id == items[index].id
        "
        [displayTooltip]="!!items[index]"
        [image]="
          items[index]?.itemData?.image
            ? (items[index]?.itemData?.image | toIpfsImageFromCid)
            : null
        "
      >
        @if (!!items[index] && !contextMenuService.menuVisible()) {
          <div tooltip class="tooltip-uruk">
            <app-item-tooltip
              [item]="items[index]"
              [compareWith]="equippedItemOfType"
            ></app-item-tooltip>
            <app-item-tooltip
              *ngIf="equippedItemOfType && getShowItemCompare()"
              [item]="equippedItemOfType"
              [isBeingCompared]="true"
            ></app-item-tooltip>
          </div>
        }
      </app-item-box>
    </div>
  }
  <app-item-box
    *ngIf="addExpandInventory && (currentLevel$ | async) <= maxLevel"
    [height]="40"
    [width]="40"
    (click)="confirmPurchase()"
    [image]="'../assets/inventory-expand.jpg'"
    [stack]="'+2O'"
  >
    <div tooltip class="tooltip-uruk">
      <app-expand-inventory-tooltip
        [currentLevelInventory]="currentLevel$ | async"
        [cost]="(currentLevel$ | async) * 25"
      ></app-expand-inventory-tooltip>
    </div>
  </app-item-box>
</div>
