<div class="item-inventory " *ngIf="items">
  @for (box of boxes; track box.id; let index = $index) {
    <div class="box-wrapper">
      <ng-template #contextOptions>
        @if (contextMenuTemplate == 'default') {
          <app-context-menu-inventory-options
            *ngIf="showContextualMenu"
            (clickEquip)="
              onDoubleClick.emit(items[index]);
              contextMenuService.hideContextMenu()
            "
            (clickDestroy)="
              onDestroyItem.emit(items[index]);
              contextMenuService.hideContextMenu()
            "
          >
          </app-context-menu-inventory-options>
        } @else {
          <app-blacksmith-context-menu
            *ngIf="showContextualMenu"
            (anvilIt)="
              onDoubleClick.emit(items[index]);
              contextMenuService.hideContextMenu()
            "
          >
          </app-blacksmith-context-menu>
        }
      </ng-template>
      <app-item-box
        (contextmenu)="contextMenuService.onContextMenu($event, contextOptions)"
        (click)="selectNewItem.emit(items[index])"
        (mouseover)="onHover.emit(items[index])"
        (mouseout)="onHover.emit(null)"
        (dndStart)="onDragStart.emit({ event: $event, data: items[index] })"
        (dndEnd)="onDragEnd.emit($event)"
        (appDoubleClick)="onDoubleClick.emit(items[index])"
        [dndDraggable]="items[index]"
        [dndEffectAllowed]="'all'"
        [dndDisableIf]="!items[index] || disableDND"
        [height]="boxSize"
        [width]="boxSize"
        [rarity]="items[index]?.itemData?.rarity"
        [active]="
          !!selectedItem && !!items[index] && selectedItem.id == items[index].id
        "
        [displayTooltip]="!!items[index]"
        [image]="items[index]?.itemData?.imageLocal"
      >
        @if (!!items[index] && !contextMenuService.menuVisible()) {
          <div tooltip class="tooltip-uruk">
            <app-item-tooltip
              [item]="items[index]"
              [compareWith]="equippedItemOfType"
            ></app-item-tooltip>
            <app-item-tooltip
              *ngIf="equippedItemOfType && getShowItemCompare()"
              [item]="equippedItemOfType"
              [isBeingCompared]="true"
            ></app-item-tooltip>
          </div>
        }
      </app-item-box>
    </div>
  }

  <ng-content select="[extraItemBoxes]"></ng-content>
</div>
