<div class="item-inventory" *ngIf="items">
  @for (box of boxes; track box.id; let index = $index) {
    <app-item-box
      (click)="selectNewItem.emit(items[index])"
      (dndStart)="onDragStart.emit({ event: $event, data: items[index] })"
      (dndEnd)="onDragEnd.emit($event)"
      (appDoubleClick)="onDoubleClick.emit(items[index])"
      [dndDraggable]="items[index]"
      [dndEffectAllowed]="'all'"
      [dndDisableIf]="!items[index] || disableDND"
      [height]="boxSize"
      [width]="boxSize"
      [active]="
        !!selectedItem && !!items[index] && selectedItem.id == items[index].id
      "
      [displayTooltip]="!!items[index]"
      [image]="
        items[index]?.itemData?.image
          ? (items[index]?.itemData?.image | toIpfsImageFromCid)
          : null
      "
    >
      @if (!!items[index]) {
        <div tooltip class="tooltip-uruk">
          <app-item-tooltip [item]="items[index]"></app-item-tooltip>
        </div>
      }
    </app-item-box>
  }
  <app-item-box
    *ngIf="addExpandInventory && (currentLevel$ | async) <= maxLevel"
    [height]="boxSize"
    [width]="boxSize"
    (click)="confirmPurchase()"
    [image]="'../assets/inventory-expand.jpg'"
    [stack]="'+2O'"
  >
    <div tooltip class="tooltip-uruk">
      <app-expand-inventory-tooltip
        [currentLevelInventory]="currentLevel$ | async"
        [cost]="(currentLevel$ | async) * 50"
      ></app-expand-inventory-tooltip>
    </div>
  </app-item-box>
</div>
