<div class="h-100">
  <div class="row">
    <div class="description">
      <p urTitle>Bridge</p>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          [(ngModel)]="exportTypeActive"
          (change)="changeType($event)"
          checked
        />
        <label
          class="form-check-label text-light"
          for="flexSwitchCheckChecked"
          >{{ exportTypeActive ? 'Export' : 'Import' }}</label
        >
      </div>
    </div>
  </div>

  <div class="row justify-content-center pb-2 row-section">
    <div
      class="col-12 col-md-6 equipped order-0 order-sm-1 item-to-export-import"
      [ngClass]="{ 'col-12': exportingObjectTypeActive != 'nft' }"
    >
      <div class="row justify-content-center">
        <div class="chains py-3">
          <div class="description justify-content-center">
            <p urSubtitle>#1 Destination network</p>
          </div>
          <app-chain-switcher></app-chain-switcher>
          <!-- <div class="chain-list">
            @for (
              compatibleChain of walletService.chains | async;
              track compatibleChain.id
            ) {
              <app-item-box
                [height]="50"
                [width]="50"
                [active]="activeNetworkId.getValue() == compatibleChain.id"
                (click)="changeNetwork(compatibleChain.id)"
                [image]="compatibleChain.img"
              >
                <div tooltip class="tooltip-uruk">
                  {{ compatibleChain.name }}
                </div>
              </app-item-box>
            }
          </div> -->
        </div>
        <div class="description justify-content-center">
          <p urSubtitle>#2 {{ exportTypeActive ? 'Export' : 'Import' }} type</p>
        </div>

        <app-item-box
          [height]="100"
          [width]="100"
          [active]="exportingObjectTypeActive == 'nft'"
          (click)="exportingObjectTypeActive = 'nft'"
          [image]="'/assets/helmet.png'"
          [stack]="'NFTs'"
        >
          <div tooltip class="tooltip-uruk">Uruk Bartas item NFT's</div>
        </app-item-box>
        <app-item-box
          [height]="100"
          [width]="100"
          [active]="exportingObjectTypeActive == 'coins'"
          (click)="exportingObjectTypeActive = 'coins'"
          [image]="'/assets/goldenuruks.png'"
          [stack]="'GUs'"
        >
          <div tooltip class="tooltip-uruk">Golden Uruks</div>
        </app-item-box>
      </div>
      @if (exportingObjectTypeActive == 'coins') {
        <app-balance-selector
          [type]="exportTypeActive ? 'in-game' : 'wallet'"
          [player$]="player$"
          [erc20Balance$]="erc20Balance$"
          [(selectedUruks)]="selectedUruksToExport"
        ></app-balance-selector>
      } @else {
        <div class="flex-row wrapper-selected-items">
          @for (selectedItem of selectedMultipleItems; track selectedItem.id) {
            <app-item-box
              [height]="200"
              [width]="200"
              [image]="selectedItem?.itemData?.imageLocal"
            >
              @if (!!selectedItem) {
                <div tooltip class="tooltip-uruk">
                  <app-item-tooltip [item]="selectedItem"></app-item-tooltip>
                </div>
              }
            </app-item-box>
          }
          @for (
            selectedMaterial of selectedMultipleMaterials;
            track selectedMaterial.id
          ) {
            <div class="selected-item">
              <app-item-box
                [height]="200"
                [width]="200"
                [image]="selectedMaterial?.materialData?.imageLocal"
              >
                @if (!!selectedMaterial) {
                  <div tooltip class="tooltip-uruk">
                    <app-generic-item-tooltip
                      [item]="selectedMaterial.materialData"
                      [souldBound]="selectedMaterial.souldBound"
                    ></app-generic-item-tooltip>
                  </div>
                }
              </app-item-box>

              <div
                class="quantity-material"
                *ngIf="exportTypeActive && selectedMaterial.quantity > 1"
              >
                <p class="text-light mb-0">Select quantity:</p>
                <ng-container>
                  <input
                    type="range"
                    class="form-range"
                    step="1"
                    min="1"
                    [max]="selectedMaterial.quantity"
                    [(ngModel)]="selectedMaterial['quantityToExport']"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Quantity"
                    style="max-width: 200px"
                    [(ngModel)]="selectedMaterial['quantityToExport']"
                  />
                </ng-container>
              </div>
            </div>
          }

          @for (
            selectedConsumable of selectedMultipleConsumables;
            track selectedConsumable.id
          ) {
            <div class="selected-item">
              <app-item-box
                [height]="200"
                [width]="200"
                [image]="selectedConsumable?.consumableData?.imageLocal"
              >
                @if (!!selectedConsumable) {
                  <div tooltip class="tooltip-uruk">
                    <app-generic-item-tooltip
                      [item]="selectedConsumable.consumableData"
                      [souldBound]="selectedConsumable.souldBound"
                    ></app-generic-item-tooltip>
                  </div>
                }
              </app-item-box>
              <div
                class="quantity-material"
                *ngIf="
                  exportTypeActive &&
                  quantityOfStackedConsumables(
                    selectedConsumable.consumableDataId
                  ) > 1
                "
              >
                <p class="text-light mb-0">Select quantity:</p>
                <ng-container>
                  <input
                    type="range"
                    class="form-range"
                    step="1"
                    min="1"
                    [max]="
                      quantityOfStackedConsumables(
                        selectedConsumable.consumableDataId
                      )
                    "
                    [(ngModel)]="selectedConsumable['quantityToExport']"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Quantity"
                    style="max-width: 200px"
                    [(ngModel)]="selectedConsumable['quantityToExport']"
                  />
                </ng-container>
              </div>
            </div>
          }

          @for (
            selectedMiscellany of selectedMultipleMiscellany;
            track selectedMiscellany.id
          ) {
            <div class="selected-item">
              <app-item-box
                [height]="200"
                [width]="200"
                [image]="selectedMiscellany?.miscellanyItemData?.imageLocal"
              >
                @if (!!selectedMiscellany) {
                  <div tooltip class="tooltip-uruk">
                    <app-generic-item-tooltip
                      [item]="selectedMiscellany.miscellanyItemData"
                      [souldBound]="selectedMiscellany.souldBound"
                    ></app-generic-item-tooltip>
                  </div>
                }
              </app-item-box>

              <div
                class="quantity-material"
                *ngIf="
                  exportTypeActive &&
                  quantityOfStackedMiscellany(
                    selectedMiscellany.miscellanyItemDataId
                  ) > 1
                "
              >
                <p class="text-light mb-0">Select quantity:</p>
                <ng-container>
                  <input
                    type="range"
                    class="form-range"
                    step="1"
                    min="1"
                    [max]="
                      quantityOfStackedMiscellany(
                        selectedMiscellany.miscellanyItemDataId
                      )
                    "
                    [(ngModel)]="selectedMiscellany['quantityToExport']"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Quantity"
                    style="max-width: 200px"
                    [(ngModel)]="selectedMiscellany['quantityToExport']"
                  />
                </ng-container>
              </div>
            </div>
          }
        </div>
      }

      <div class="all-pending-exports w-100" *ngIf="exportTypeActive">
        @if (exportingObjectTypeActive == 'nft') {
          <div
            class="container-pending-exports"
            *ngIf="whiteListedItems$ | async as pending"
          >
            <div class="description text-light">
              {{
                !!pending && pending.length == 0
                  ? 'No pending exports'
                  : 'Pending exports'
              }}
            </div>
            <div class="d-flex pending-exports py-2">
              <button
                type="button"
                class="btn btn-secondary btn-lg btn-block w-100 btn-pending"
                *ngFor="let whiteListedItemId of pending"
                (click)="
                  exportItems(
                    [whiteListedItemId.id],
                    [getItemTypeSCBasedOnItem(whiteListedItemId)],
                    [1]
                  )
                "
              >
                <i
                  class="bi bi-x-circle-fill close-icon-pending"
                  (click)="
                    $event.preventDefault();
                    $event.stopPropagation();
                    cancelPendingExports(
                      [whiteListedItemId.id],
                      [getItemTypeSCBasedOnItem(whiteListedItemId)]
                    )
                  "
                ></i>
                <app-item-box
                  [height]="100"
                  [width]="100"
                  [image]="
                    whiteListedItemId?.itemData?.imageLocal ??
                    whiteListedItemId?.consumableData?.imageLocal ??
                    whiteListedItemId?.materialData?.imageLocal ??
                    whiteListedItemId?.miscellanyItemData?.imageLocal ??
                    ''
                  "
                >
                </app-item-box>
              </button>
            </div>
            <div class="w-100 d-flex justify-content-end gap-2">
              <button
                *ngIf="pending.length > 0"
                type="button"
                class="btn btn-dark"
                (click)="moveForwardAll(pending)"
              >
                Export all
              </button>

            </div>
          </div>
        }
      </div>

      @if (exportingObjectTypeActive == 'nft') {
        <button
          type="button"
          *ngIf="!exportTypeActive"
          class="btn btn-dark btn-lg btn-block w-100"
          [disabled]="
            allSelectedItems.length == 0 || activeNetworkId.getValue() == 0
          "
          (click)="addAssetToWallet()"
        >
          Add selected NFTs to wallet
        </button>
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block w-100"
          [disabled]="
            !allSelectedItems ||
            allSelectedItems.length == 0 ||
            activeNetworkId.getValue() == 0 ||
            !isAllowedNetwork(activeNetworkId.getValue())
          "
          (click)="triggerActionForNFT()"
        >
          <div class="d-flex justify-content-center gap-3">
            {{
              !!exportTypeActive
                ? !isAllowedNetwork(activeNetworkId.getValue())
                  ? 'Incorrect chain connected'
                  : 'Export ' + allSelectedItems.length + ' items'
                : 'Import ' + allSelectedItems.length + ' items'
            }}
          </div>
        </button>
      } @else {
        @if (!!exportTypeActive) {
          <button
            type="button"
            *ngIf="!!whitelistedUruks$.getValue()"
            (click)="exportPendingERC20(whitelistedUruks$.getValue())"
            class="btn btn-dark btn-lg btn-block w-100 d-flex gap-2 justify-content-center"
          >
            Export pending
            <app-uruks-displayer
              [goldenUruks]="whitelistedUruks$.getValue()"
            ></app-uruks-displayer>
          </button>

          <button
            type="button"
            class="btn btn-primary btn-lg btn-block w-100"
            [disabled]="
              selectedUruksToExport == 0 ||
              activeNetworkId.getValue() == 0 ||
              !isAllowedNetwork(activeNetworkId.getValue())
            "
            (click)="triggerActionForERC20(!!whitelistedUruks$.getValue())"
          >
            <div class="d-flex justify-content-center gap-3">
              @if (!isAllowedNetwork(activeNetworkId.getValue())) {
                Incorrect chain connected
              } @else {
                Export
                <app-uruks-displayer
                  [goldenUruks]="selectedUruksToExport"
                ></app-uruks-displayer>
              }
            </div>
          </button>
        } @else {
          <button
            type="button"
            *ngIf="!exportTypeActive"
            class="btn btn-dark btn-lg btn-block w-100"
            [disabled]="activeNetworkId.getValue() == 0"
            (click)="addERC20ToWallet()"
          >
            Add asset to wallet
          </button>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block w-100"
            [disabled]="
              selectedUruksToExport == 0 ||
              activeNetworkId.getValue() == 0 ||
              !isAllowedNetwork(activeNetworkId.getValue())
            "
            (click)="triggerActionForERC20()"
          >
            <div class="d-flex justify-content-center gap-3">
              @if (!isAllowedNetwork(activeNetworkId.getValue())) {
                Incorrect chain connected
              } @else {
                Import
                <app-uruks-displayer
                  [goldenUruks]="selectedUruksToExport"
                ></app-uruks-displayer>
              }
            </div>
          </button>
        }
      }

      @if (!!exportTypeActive) {
        <ng-container *ngIf="getActiveNetworkImg() as activeNetwork">
          <ng-container
            *ngIf="
              exportingObjectTypeActive == 'nft'
                ? (calculateFeesBasedOnSelectedItems(
                    getNFTExportFee$ | async,
                    flattenIdsAndTypesFromSelection()[0].length
                  ) | number)
                : math.floor(
                    selectedUruksToExport > 1000
                      ? selectedUruksToExport / 1000 + 1
                      : selectedUruksToExport != 0
                        ? 1
                        : 0
                  ) * (getERC20ExportFee$ | async) as fee
            "
          >
            <div
              class="display-fee w-100 justify-content-end"
              style="font-size: 0.8rem"
              *ngIf="!!fee && toNumber(fee ?? 0) > 0"
            >
              <img src="{{ prefix + activeNetwork }}" />
              <span class="text-light">
                Processing fees:
                {{ fee }}
              </span>
            </div></ng-container
          ></ng-container
        >
      }
    </div>
    <div
      class="col-12 col-md-6 order-1 order-sm-0 inventory h-100"
      *ngIf="exportingObjectTypeActive == 'nft'"
    >
      @if (!!exportTypeActive) {
        <ng-container
          *ngTemplateOutlet="
            inventory;
            context: {
              itemsToLoad$: currentInventory$,
              materialsToLoad$: currentInventoryMaterials$,
              consumablesToLoad$: currentInventoryConsumables$,
              miscellanyToLoad$: currentInventoryMiscellany$,
            }
          "
        ></ng-container>
      } @else {
        <ng-container
          *ngTemplateOutlet="
            inventory;
            context: {
              itemsToLoad$: currentInventoryOfNftsItems$,
              materialsToLoad$: currentInventoryOfNftsMaterials$,
              consumablesToLoad$: currentInventoryOfNftsConsumables$,
              miscellanyToLoad$: currentInventoryOfNftsMiscellany$,
            }
          "
        ></ng-container>
      }
    </div>
  </div>

  <ng-template
    #inventory
    let-items$="itemsToLoad$"
    let-materials$="materialsToLoad$"
    let-consumables$="consumablesToLoad$"
    let-misc$="miscellanyToLoad$"
  >
    <div class="inventory pb-4">
      <tabset #staticTabs>
        <tab id="tab1">
          <ng-template tabHeading>
            <span>⚔️</span>
          </ng-template>

          <app-item-inventory
            [items]="items$ | async"
            [multipleSelection]="true"
            [sockets]="currentSize$ | async"
            [(selectedItems)]="selectedMultipleItems"
            [disableDND]="true"
            [actionable]="false"
          >
          </app-item-inventory>
        </tab>
        <tab id="tab2">
          <ng-template tabHeading>
            <span>🧱</span>
          </ng-template>

          <app-materials-inventory
            [items]="materials$ | async"
            [sockets]="currentSize$ | async"
            [(selectedItems)]="selectedMultipleMaterials"
            [multipleSelection]="true"
            [actionable]="false"
          >
          </app-materials-inventory>
        </tab>
        <tab id="tab3">
          <ng-template tabHeading>
            <span>⚗️</span>
          </ng-template>

          <ng-container *ngIf="consumables$ | async as inventoryConsumables">
            <app-consumables-inventory
              [items]="inventoryConsumables | stack: 'consumableData.name'"
              [sockets]="currentSize$ | async"
              [(selectedItems)]="selectedMultipleConsumables"
              [multipleSelection]="true"
              [actionable]="false"
            >
            </app-consumables-inventory>
          </ng-container>
        </tab>
        <tab id="tab4">
          <ng-template tabHeading>
            <span>📜</span>
          </ng-template>
          <ng-container *ngIf="misc$ | async as inventoryMisc">
            <app-misc-inventory
              [actionable]="false"
              [items]="inventoryMisc | stack: 'miscellanyItemData.name'"
              [sockets]="currentSize$ | async"
              [(selectedItems)]="selectedMultipleMiscellany"
              [multipleSelection]="true"
            >
            </app-misc-inventory>
          </ng-container>
        </tab>
      </tabset>
    </div>
  </ng-template>
</div>
