@import '../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
.selection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.item-to-export-import {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.pending-exports {
  gap: 10px;
  overflow: auto;
  width: 100%;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.container-range {
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-pending {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.close-icon-pending {
  position: absolute;
  right: 5px;
  top: 0px;
  z-index: 1000;
  cursor: pointer;
  &:hover {
    color: $primary;
    transition: all 0.5s;
  }
}

.chains {
  display: flex;
  flex-direction: column;
  .chain-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.row-section {
  @include media-breakpoint-down(sm) {
    gap: 10px;
  }
}

.display-fee {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    max-width: 20px;
    max-height: 20px;
  }
}

.wrapper-selected-items {
  width: 100%;
  overflow: auto;
  gap: 10px;
}

.selected-item {
  display: flex;
  flex-direction: column;
}

.quantity-material {
  display: flex;
  flex-direction: column;
  align-items: center;
}
