.selection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.item-to-export-import {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
