<ul id="fighter-stats-tooltip" class="px-3 py-2 m-0">
  <li urText class="d-flex justify-content-between gap-2 pb-2">
    <label class="text-secondary">{{ fighter.name }}</label>
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Life:</label>
    {{ fighter.baseStats.health | number: '1.0-2' }}
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Armor:</label>
    {{ fighter.baseStats.armor | number: '1.0-2' }}
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Energy:</label>
    {{ fighter.baseStats.energy | number: '1.0-2' }}
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Damage:</label>
    {{ fighter.baseStats.damage | number: '1.0-2' }}
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Speed:</label>
    {{ fighter.baseStats.speed | number: '1.0-2' }}
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Penetration:</label>
    {{ fighter.baseStats.penetration | number: '1.0-2' }}%
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Crit:</label>
    {{ fighter.baseStats.crit | number: '1.0-2' }}%
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Dodge:</label>
    {{ fighter.baseStats.dodge | number: '1.0-2' }}%
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Block:</label>
    {{ fighter.baseStats.block | number: '1.0-2' }}%
  </li>
  <li urText class="d-flex justify-content-between gap-2">
    <label class="text-third">Accuracy:</label>
    {{ fighter.baseStats.accuracy | number: '1.0-2' }}%
  </li>
  <li
    urText
    class="d-flex justify-content-between gap-2"
    [ngStyle]="{
      color: getRarityColor(getRarityBasedOnIRI(fighter.iri)),
    }"
  >
    <label class="text-third">IRI:</label>
    {{ fighter.iri | number: '1.0-2' }}
  </li>
</ul>
