@import '../../variables.scss';

.item-tooltip-wrapper {
  width: 400px;
  background-color: $black;
  padding: 10px;
  border-radius: 10px;
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 2px;
  }
  img {
    border-radius: 20px;
  }

  .uruks-icon {
    max-width: 30px;
    max-height: 30px;
  }
}
