@import '../../../../variables.scss';

.character-edit-container {
  .image-picker {
    margin-bottom: 20px;

    .image-thumbnails {
      overflow-x: auto;
      white-space: nowrap;

      .row {
        margin-bottom: 0;
      }

      .image-container {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          border-color: $font-color;
        }

        .character-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .check-icon {
          position: absolute;
          top: 5px;
          right: 5px;
          color: $font-color;
          font-size: 24px;
        }
      }

      .selected {
        border-color: $font-color;
      }
    }
  }

  label {
    color: $font-color;
  }

  h4 {
    text-align: center;
    margin-bottom: 20px;
    color: $font-color;
  }

  .save-button {
    float: right;
  }
}
