<div class="character-edit-container">
  <div class="row">
    <div class="description">
      <p urTitle>{{ this.editing ? 'Edit' : 'Create ' }} your character</p>
    </div>
  </div>
  <div [formGroup]="form" class="d-flex flex-column gap-3">
    <div class="image-picker">
      <div class="image-thumbnails">
        @for (image of images; track image) {
          <div
            class="image-container"
            [style.height]="getImageContainerSizeByScreenSize() + 'px'"
            [style.width]="getImageContainerSizeByScreenSize() + 'px'"
            [class.selected]="form.value.image === image"
            (click)="form.patchValue({ image })"
          >
            <img [src]="image" class="character-image" />

            <div class="check-icon" *ngIf="form.value.image === image">
              <i class="fa fa-check-circle"></i>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="characterName" class="text-third">Character Name:</label>
      <input
        type="text"
        class="form-control"
        id="characterName"
        formControlName="name"
        name="characterName"
        placeholder="Enter character name"
        validInput
      />
    </div>

    <div class="form-group">
      <label for="email" class="text-third">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        name="email"
        placeholder="Enter email"
        validInput
      />
    </div>

    <div class="form-group py-3">
      <button (click)="save()" class="btn btn-primary save-button">Save</button>
    </div>
  </div>
</div>
