<div class="character-edit-container">
  <div class="row">
    <div class="description">
      <p urTitle>{{ this.editing ? 'Edit' : 'Create ' }} your character</p>
    </div>
  </div>
  <div [formGroup]="form" class="d-flex flex-column gap-3">
    <div class="image-picker">
      <div class="image-thumbnails">
        <div
          *ngFor="let image of (images$ | async)"
          class="image-container"
          [style.height]="getImageContainerSizeByScreenSize() + 'px'"
          [style.width]="getImageContainerSizeByScreenSize() + 'px'"
          [class.selected]="form.value.image === image"
          (click)="form.patchValue({ image })"
        >
          <img [src]="image" class="character-image" />

          <div class="check-icon" *ngIf="form.value.image === image">
            <i class="fa fa-check-circle"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="characterName" class="text-third">Character Name:</label>
      <input
        type="text"
        class="form-control"
        id="characterName"
        formControlName="name"
        name="characterName"
        placeholder="Enter character name"
        validInput
      />
    </div>

    <div class="form-group">
      <label for="email" class="text-third">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        name="email"
        placeholder="Enter email"
        validInput
      />
    </div>

    <div class="row">
      <div class="form-group col-12 col-md-6">
        <label for="password" class="text-third">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          name="password"
          placeholder="Enter password"
        />
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="repeatPassword" class="text-third">Repeat password:</label>
        <input
          type="password"
          class="form-control"
          id="repeatPassword"
          formControlName="repeatPassword"
          name="repeatPassword"
          placeholder="Repeat password"
        />
      </div>
    </div>

    <div
      *ngIf="
        form.errors?.['passwordMismatch'] &&
        (form.get('password').touched || form.get('repeatPassword').touched)
      "
    >
      <span class="error text-danger">The passwords have to match</span>
    </div>

    <div
      *ngIf="
        form.get('password').errors?.['pattern'] && form.get('password').touched
      "
    >
      <span class="error text-danger"
        >The password must be at least 8 characters long and include an
        uppercase letter, a lowercase letter, a number, and a special
        character.</span
      >
    </div>

    <div class="description pt-3" *ngIf="!!editing">
      <span urText>Settings</span>
    </div>

    <div class="col-12 col-sm-6" *ngIf="!!editing">
      <div class="form-check form-switch">
        <input
          formControlName="disablePVP"
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Disable PVP notifications</label
        >
      </div>
    </div>

    <div class="form-group py-3 action-buttons gap-2">
      <button (click)="location.back()" class="btn btn-dark btn-lg">
        Back
      </button>
      <button
        [disabled]="form.invalid"
        (click)="save()"
        class="btn btn-secondary btn-lg"
      >
        Save
      </button>
    </div>
  </div>

  <div class="row justify-content-center pt-5" *ngIf="!!editing">
    <div class="row">
      <div class="col-12 col-sm-6">
        @if (!userHasLinkedAddress()) {
          <a
            class="btn btn-lg btn-primary save-button w-100"
            (click)="linkWeb3WalletAddressToThisAccount()"
          >
            {{
              this.hasWalletConnected()
                ? 'Verify ownership'
                : 'Link Web3 Wallet'
            }}
          </a>
        } @else {
          <span class="text-secondary"
            >Wallet address linked: {{ getPlayerAddress() }}</span
          >
        }
      </div>
      <div class="col-12 col-sm-6">
        <a
          type="submit"
          class="btn btn-lg btn-primary save-button w-100"
          href="https://github.com/UrukBartas/Game/issues"
          target="_blank"
          rel="noopener noreferrer"
        >
          Give feedback or report an issue
          <i class="fa-brands fa-github pl-2 text-white"></i>
        </a>
      </div>
      <!-- <div class="col-12 col-sm-6">
        <button
          type="submit"
          class="btn btn-lg btn-primary save-button w-100"
          [disabled]="pushNotificationsService.grantedPermission"
          (click)="pushNotificationsService.autoGetToken()"
        >
          Receive notifications
          <i class="fa-solid fa-bell pl-2"></i>
        </button>
      </div> -->
    </div>
  </div>
</div>
