@import '../../../../variables.scss';
.list-leaderboard-item-left-container {
  width: 100%;
}
.list-leaderboard-item-name-container {
  flex-wrap: wrap;
}
.wrapper-search {
  display: flex;
  align-items: center;
  gap: 10px;
  .form-group {
    width: 100%;
    max-width: 350px;
  }
}
.list-leaderboard {
  display: flex;
  max-height: 73vh;
  gap: 10px;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  &-item {
    background-color: $primary;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: $third;
      transition: 0.5s all;
    }
    &-left {
      display: flex;
      gap: 20px;
    }
    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      .view-player {
        font-size: 24px;
      }
    }
    a {
      color: $secondary;
    }
    &-left-image-ranking {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      border-radius: 50%;
    }
    &-left-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-name-container {
      display: flex;
      gap: 5px;
    }
    &-badge {
      border: 1px solid $secondary;
      padding: 0px 10px;
      border-radius: 10px;
      width: fit-content;
    }
  }
  .active {
    background-color: $third;
  }
}

i {
  color: white;
}
