<div class="description">
  <p urTitle>Hall of Uruks</p>
</div>
<div class="pb-3 wrapper-search">
  <div class="form-group" [formGroup]="formGroup">
    <div class="btn-filters d-flex">
      <tabset>
        <tab
          heading="🌍 PvE"
          id="tab1"
          (selectTab)="setLevelLeaderboard()"
        ></tab>
        <tab heading="⚔️ PvP" id="tab2" (selectTab)="setPvpLeaderboard()"></tab>
      </tabset>
      <tabset>
        <tab heading="Today" id="tab1" (selectTab)="filterAllTime()"></tab>
        <tab heading="30d" id="tab2" (selectTab)="filterByMonth()"></tab>
        <tab heading="7d" id="tab3" (selectTab)="filterCurrentWeek()"></tab>
      </tabset>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="User or address"
      formControlName="userOrWallet"
    />
  </div>
  <div class="mover col d-flex align-items-center" style="align-self: flex-end">
    <span urText class="text-white px-2 d-none d-md-flex"
      >Page: {{ activePage() + 1 }}</span
    >
    <i
      class="bi bi-caret-left-fill"
      [ngClass]="{ 'disabled-icon': activePage() == 0 }"
      (click)="activePage() == 0 ? null : prevPage()"
    ></i>
    <i
      class="bi bi-caret-right-fill"
      [ngClass]="{
        'disabled-icon': lastPageSize < chunkSize(),
      }"
      (click)="lastPageSize < chunkSize() ? null : nextPage()"
    ></i>
  </div>
</div>
<div class="list-leaderboard">
  @for (
    player of getLeaderboard$() | async;
    track player.id;
    let index = $index
  ) {
    <div
      class="list-leaderboard-item text-white"
      [ngClass]="{ active: player.id == actualAddress }"
    >
      <div class="list-leaderboard-item-left">
        <div class="rank">
          <div
            class="connected-dot"
            [ngbTooltip]="tooltipTemplate"
            [tooltipContext]="{
              text: getPlayerState(player.id) | capitalizeFirst,
            }"
          >
            <div
              class="dot"
              [ngClass]="{
                online: getPlayerState(player.id) === playerStates.ONLINE,
                offline: getPlayerState(player.id) === playerStates.OFFLINE,
                fighting: getPlayerState(player.id) === playerStates.FIGHTING,
              }"
            ></div>
          </div>
          <img
            [src]="prefix + '/' + player.image"
            class="list-leaderboard-item-left-image-ranking"
          />

          <div class="floating-rank">
            @if (!formGroup.value.userOrWallet) {
              @if (index >= 0 && index <= 2 && activePage() == 0) {
                <img
                  [src]="prefix + '/' + getImgBasedOnRanking(index)"
                  class="list-leaderboard-item-left-image-ranking"
                />
              } @else {
                <div
                  class="list-leaderboard-item-left-number-ranking d-flex align-items-center pl-1"
                >
                  {{ index + 1 + chunkSize() * activePage() }}
                </div>
              }
            }
          </div>
        </div>

        <div class="list-leaderboard-item-left-container">
          <div class="list-leaderboard-item-name-container align-items-center">
            <app-name-player
              [player]="player"
              [disabledTrigger]="true"
            ></app-name-player>
            <span
              *ngIf="leaderboardType === leaderboardTypes.PVE"
              [ngStyle]="{
                color: getRarityColor(
                  getTitleForQuestsCompleted(player.finishedQuestsCount).rarity
                ),
              }"
              [ngbTooltip]="questsAchevementsTooltip"
              [tooltipContext]="{
                completedQuests: player.finishedQuestsCount,
                currentTier: getTitleForQuestsCompleted(
                  player.finishedQuestsCount
                ),
              }"
            >
              - {{ player.pve.title }}</span
            >
            <span
              *ngIf="leaderboardType === leaderboardTypes.PVP"
              [ngStyle]="{
                color: getRarityColor(player.pvp.rarity),
              }"
            >
              - {{ player.pvp.title }}</span
            >
          </div>

          <div class="tags d-flex gap-2">
            <span class="list-leaderboard-item-badge"
              >Level {{ player.level }}</span
            >
            <div class="expander gap-2 d-none d-md-flex">
              <span
                *ngIf="leaderboardType === leaderboardTypes.PVE"
                class="list-leaderboard-item-badge pointer"
                >Completed quests: {{ player.finishedQuestsCount }}</span
              >
              <span
                *ngIf="leaderboardType === leaderboardTypes.PVP"
                class="list-leaderboard-item-badge pointer"
                >Arena points: {{ player.mmr }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="list-leaderboard-item-right">
        <div
          *ngIf="
            getPlayerState(player.id) === playerStates.ONLINE &&
            player.id !== actualAddress
          "
          class="duel-btn"
          [class.disabled]="player.configuration?.disablePVP"
          [ngbTooltip]="tooltipTemplate"
          [tooltipContext]="{
            text: player.configuration?.disablePVP
              ? 'Player has disabled PVP'
              : 'Challenge player',
          }"
          (click)="challengePlayer(player)"
          [attr.disabled]="player.configuration?.disablePVP ? true : null"
        >
          <div class="icon fa-sword"></div>
        </div>

        <i
          class="bi bi-eye-fill pointer view-player mx-2"
          [routerLink]="['/view-player', player.id]"
        ></i>
      </div>
    </div>
  }
</div>

<ng-template #tooltipTemplate let-text="text">
  <div class="px-2 py-1">
    <span class="text-white bg-black">{{ text }}</span>
  </div>
</ng-template>

<ng-template
  #questsAchevementsTooltip
  let-completedQuests="completedQuests"
  let-currentTier="currentTier"
>
  <div id="player-tooltip-wrapper">
    <p>Completed quests {{ completedQuests }}</p>
    <p>Possible achievements</p>
    <ul>
      <li
        *ngFor="let questTier of questTiers"
        [ngStyle]="{ color: getRarityColor(questTier.rarity) }"
      >
        @if (questTier.title == currentTier.title) {
          X
        }
        {{ questTier.title }} {{ questTier.maxQuests }} quests
      </li>
    </ul>
  </div>
</ng-template>
