<ng-template
  #questsAchevementsTooltip
  let-completedQuests="completedQuests"
  let-currentTier="currentTier"
>
  <div id="player-tooltip-wrapper">
    <p>Completed quests {{ completedQuests }}</p>
    <p>Possible achievements</p>
    <ul>
      <li
        *ngFor="let questTier of questTiers"
        [ngStyle]="{ color: getRarityColor(questTier.rarity) }"
      >
        @if (questTier.title == currentTier.title) {
          X
        }
        {{ questTier.title }} {{ questTier.maxQuests }} quests
      </li>
    </ul>
  </div>
</ng-template>
<div class="description">
  <p urTitle>Hall of Uruks</p>
</div>
<div class="py-3 wrapper-search">
  <div class="form-group" [formGroup]="formGroup">
    <input
      type="text"
      class="form-control"
      placeholder="User or address"
      formControlName="userOrWallet"
    />
    <div class="d-flex">
      <tabset>
        <tab heading="All time" id="tab1" (selectTab)="filterAllTime()"></tab>
        <tab heading="Monthly" id="tab2" (selectTab)="filterByMonth()"></tab>
        <tab heading="Weekly" id="tab3" (selectTab)="filterCurrentWeek()"></tab>
      </tabset>
    </div>
  </div>
  <div class="mover col d-flex align-items-center">
    <span class="text-white px-2 d-none d-md-flex"
      >Page: {{ activePage() + 1 }}</span
    >
    <i
      class="bi bi-caret-left-fill"
      [ngClass]="{ 'disabled-icon': activePage() == 0 }"
      (click)="activePage() == 0 ? null : prevPage()"
    ></i>
    <i
      class="bi bi-caret-right-fill"
      [ngClass]="{
        'disabled-icon': lastPageSize < chunkSize()
      }"
      (click)="lastPageSize < chunkSize() ? null : nextPage()"
    ></i>
  </div>
</div>
<div class="list-leaderboard">
  @for (
    player of getLeaderboard$() | async;
    track player.id;
    let index = $index
  ) {
    <div
      class="list-leaderboard-item text-white"
      [ngClass]="{ active: player.id == actualAddress }"
    >
      <div class="list-leaderboard-item-left">
        @if (!formGroup.value.userOrWallet) {
          @if (index >= 0 && index <= 2 && activePage() == 0) {
            <img
              [src]="getImgBasedOnRanking(index)"
              class="list-leaderboard-item-left-image-ranking"
            />
          } @else {
            <div class="list-leaderboard-item-left-number-ranking">
              {{ index + 1 + chunkSize() * activePage() }}
            </div>
          }
        }

        <div class="list-leaderboard-item-left-container">
          <div class="list-leaderboard-item-name-container">
            <a [routerLink]="['/view-player', player.id]">{{
              truncateAddress(player.id)
            }}</a>
            <span>( {{ player.name }} )</span>
          </div>

          <div class="tags d-flex gap-2">
            <span class="list-leaderboard-item-badge"
              >Level {{ player.level }}</span
            >
            <div class="expander gap-2">
              <span
                class="list-leaderboard-item-badge pointer"
                (click)="player['expandPVE'] = !player['expandPVE']"
                >PVE <i class="fa-solid fa-dragon"></i
              ></span>
              <ul *ngIf="!!player['expandPVE']">
                <li
                  class="list-item-stat"
                  [ngbTooltip]="questsAchevementsTooltip"
                  [tooltipContext]="{
                    completedQuests: player['_count'].quest,
                    currentTier: getTitleForQuestsCompleted(
                      player['_count'].quest
                    )
                  }"
                >
                  <span
                    class="list-leaderboard-item-badge"
                    [ngClass]="'glowing-' + player.pve.glow"
                    >{{ player.pve.title }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="list-leaderboard-item-right">
        <i
          class="bi bi-eye-fill pointer view-player mx-2"
          [routerLink]="['/view-player', player.id]"
        ></i>
      </div>
    </div>
  }
</div>
