@import '../../../../../variables.scss';

#confirm-modal {
  padding: 20px 40px;
  background: $black-300;
  border-radius: 3%;
  width: 80vw;

  .uruks-icon {
    max-width: 30px;
    max-height: 30px;
  }
}
