<div class="stats-info-lootbox p-2">
  @if (_openingType() == 'ComboLootbox' || _openingType() == 'CryptLootbox') {
    <ng-container *ngIf="!!possibilitiesComboBox">
      <ng-container
        *ngFor="let item of lootboxMergedItems | orderBy: 'value' | reverse"
      >
        <app-chance-displayer
          [rarity]="item.rarity"
          [chance]="item.value.toFixed(2)"
          [image]="item.image"
          [type]="item.type"
          [height]="itemHeight"
          [width]="itemWidth"
        ></app-chance-displayer>
      </ng-container>

      <p
        class="mb-0 bonus-items text-third w-100 text-center"
        *ngIf="possibilitiesComboBox.Bonus.length > 0"
      >
        + {{ possibilitiesComboBox.Bonus.length }} bonus items guaranteed.
      </p>
      <div class="horizontal-list gap-2" style="overflow-y: hidden">
        <ng-container *ngFor="let item of possibilitiesComboBox.Bonus">
          <app-chance-displayer
            [rarity]="rarityEnum.EPIC"
            [stack]="item.amount ?? 1"
            [image]="mapTypeImage[item.type]"
            [type]="item.type"
            [height]="itemHeight / 1.5"
            [width]="itemWidth / 1.5"
          ></app-chance-displayer>
        </ng-container>
      </div>
    </ng-container>
  } @else {
    <ng-container *ngFor="let distribution of possibilitiesNormal">
      <app-chance-displayer
        [rarity]="distribution.rarity"
        [chance]="distribution.value"
        [image]="distribution.image"
        [type]="'item'"
        [height]="itemHeight"
        [width]="itemWidth"
      ></app-chance-displayer>
    </ng-container>
  }
</div>
