@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
.adventures-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .adventure-slider {
    @include media-breakpoint-down(sm) {
      min-width: 100px;
      width: 100px;
    }
    min-width: 20vw;
    @include media-breakpoint-up(lg) {
      min-width: 250px;
    }
    padding: 5px;
    background-image: url('../../../../assets/fight-screens/flag3short.png');
    background-size: 100% 100%;
    .text-warning {
      font-size: 16px;
      padding: 0px 10px;
    }
    .scroll {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 80%;
      gap: 50px;
      @include media-breakpoint-down(md) {
        gap: 25px;
      }
      overflow: auto;
    }
  }
  .content {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay-adventure {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .adventure {
    position: relative;
    .blocked-adventure {
      @extend .overlay-adventure;
    }
  }
}
