<div class="adventures-wrapper">
  <div class="adventure-slider">
    @for (adventure of availableAdventures$ | async; track adventure.id) {
      <div
        class="adventure"
        [ngClass]="{
          'busted-effect': (player$ | async).level < adventure.minLevel
        }"
      >
        <span
          *ngIf="(player$ | async).level < adventure.minLevel"
          class="blocked-adventure text-danger pointer"
          (click)="selectedAdventure = adventure; refreshAdventures()"
        >
          <span>BLOCKED</span>
          <span>Level {{ adventure.minLevel }}</span>
        </span>
        <app-item-box
          [height]="150"
          [width]="150"
          [image]="adventure.image"
          (click)="selectedAdventure = adventure; refreshAdventures()"
          [active]="
            selectedAdventure ? selectedAdventure.id == adventure.id : false
          "
          [stack]="getAdventureStackLabel(adventure)"
        >
          <div
            tooltip
            class="tooltip-uruk"
            *ngIf="(player$ | async).level < adventure.minLevel"
          >
            <span class="text-danger"
              >You are not ready for this adventure yet. Level too low.</span
            >
          </div>
        </app-item-box>
      </div>
    }
  </div>
  <div class="content">
    @if (!!selectedAdventure) {
      <app-adventure-router
        (onAdventureStarted)="refreshAdventures()"
        (updateAdventures)="refreshAdventures()"
        [selectedAdventure]="selectedAdventure"
      ></app-adventure-router>
    } @else {
      <span class="text-white">Select an adventure to start!</span>
    }
  </div>
</div>
