@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
.misc-inventory {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
  padding: 10px 20px;
}

.first-phase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.final-result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stats-info-lootbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  overflow: auto;
  max-width: 100vw;
}

.wrapper-lootbox {
  position: relative;
  i {
    position: absolute;
    cursor: pointer;
    top: -30px;
    right: -25px;
    font-size: 25px;
  }
}

.final-result-portrait {
  @include media-breakpoint-up(sm) {
    max-width: 700px;
  }
}
