.misc-inventory {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
  padding: 10px 20px;
}

.first-phase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.final-result-wrapper{
  display: flex;
  flex-direction: column;
}
