<ng-template
  #chanceDisplayer
  let-rarity="rarity"
  let-chance="chance"
  let-image="image"
  let-type="type"
>
  <app-chance-displayer
    [rarity]="rarity"
    [chance]="chance"
    [image]="image"
    [type]="type"
  ></app-chance-displayer>
</ng-template>

<ng-template #statsLootbox>
  <app-lootbox-stats-displayer
    [itemHeight]="75"
    [itemWidth]="75"
    [openingType]="openingItem().miscellanyItemData.itemType"
    [openingRarity]="openingItem().miscellanyItemData.rarity"
  ></app-lootbox-stats-displayer>
</ng-template>

<ng-template #portraitActivator let-item="data">
  <div
    class="final-result-wrapper final-result-portrait px-3 text-center animate__animated animate__jackInTheBox delay_4"
    [ngClass]="{ 'd-none': currentPortraitPhase != 1 }"
    #portraitResult
  >
    <span urTitle class="text-secondary mt-3"
      >✨ Congratulations on your new portrait!
    </span>
    <span class="text-light">
      You can now choose it in the profile section.
    </span>
    <button class="btn-primary btn" urTitle (click)="closePortrait()">
      Close
    </button>
  </div>
  <div class="first-phase" [ngClass]="{ 'd-none': currentPortraitPhase != 0 }">
    <div class="wrapper-lootbox">
      <i
        class="fa-regular fa-circle-xmark text-white"
        (click)="focuserService.close()"
      ></i>
      <div class="animate__animated animate__pulse animate__infinite delay_4">
        <app-item-box
          (click)="confirmActivationPortrait(item)"
          #result
          [rarity]="item.miscellanyItemData.rarity"
          [height]="200"
          [width]="200"
          [image]="item ? item?.miscellanyItemData.imageLocal : null"
        ></app-item-box>
      </div>
    </div>
    <button
      urTitle
      (click)="confirmActivationPortrait(item)"
      class="button-rainbow mt-3"
      [style.padding]="getResponsiveButtonSize()"
    >
      Click to activate
    </button>
  </div>
</ng-template>

<ng-template #itemSetOpener let-item="data">
  <div class="result-item-showcase" [ngClass]="{ 'd-none': currentPhase != 0 }">
    <div
      class="animate__animated animate__jackInTheBox delay_4 wrapper-lootbox"
    >
      <i
        class="fa-regular fa-circle-xmark text-white"
        (click)="endPhases()"
      ></i>
      <app-item-box
        #itemResult
        #result
        [height]="200"
        [width]="200"
        [image]="item?.lootbox?.miscellanyItemData?.imageLocal"
      >
        <div tooltip class="tooltip-uruk" *ngIf="!!item?.lootbox">
          <app-generic-item-tooltip
            [item]="item?.lootbox?.miscellanyItemData"
            [souldBound]="item?.lootbox"
          ></app-generic-item-tooltip>
        </div>
      </app-item-box>
    </div>
    <div class="final-result-wrapper px-3 text-center">
      <!-- <span urTitle class="text-secondary mt-3"
        >✨ Congratulations on
        {{ getGenericItemItemData(roll?.resultItem)?.name }}</span
      >-->
      <span urTitle class="text-third mt-3"> Possible drops </span>
      <div class="d-flex justify-content-center gap-2 possible-drops">
        <app-item-box
          *ngFor="let possibleResult of item?.possibleResults"
          #itemResult
          #result
          [height]="getPossibleDropsSize()"
          [width]="getPossibleDropsSize()"
          [image]="possibleResult?.imageLocal"
        >
          <div tooltip class="tooltip-uruk" *ngIf="!!possibleResult">
            <app-item-tooltip [item]="possibleResult | itemdataToItem">
            </app-item-tooltip>
          </div>
        </app-item-box>
      </div>
    </div>
    <button
      (click)="openItemsSetBox()"
      urTitle
      class="button-rainbow mt-3"
      [style.padding]="getResponsiveButtonSize()"
    >
      Click to open
    </button>
  </div>
  <div class="result-item-showcase" [ngClass]="{ 'd-none': currentPhase != 1 }">
    <div
      class="final-result-wrapper px-3 text-center animate__animated animate__jackInTheBox delay_4 wrapper-lootbox"
    >
      <span urTitle class="text-secondary mt-3">✨ Congratulations </span>
      <span
        [ngStyle]="{
          color: getRarityColor(openingItem()?.miscellanyItemData?.rarity),
        }"
        >Inside the box you find yourself a full set of items of rarity
        {{ openingItem()?.miscellanyItemData?.rarity }}!</span
      >
      <div class="d-flex justify-content-center gap-2 possible-drops">
        <app-item-box
          *ngFor="let item of resultItemSet"
          #itemResult
          #result
          [height]="getPossibleDropsSize()"
          [width]="getPossibleDropsSize()"
          [image]="item?.itemData?.imageLocal"
        >
          <div tooltip class="tooltip-uruk" *ngIf="!!item">
            <app-item-tooltip [item]="item"> </app-item-tooltip>
          </div>
        </app-item-box>
      </div>
      <button class="btn-primary btn" urTitle (click)="endPhases()">
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #lootboxOpener let-item="data">
  <div class="first-phase" [ngClass]="{ 'd-none': currentPhase != 0 }">
    <div class="wrapper-lootbox">
      <i
        class="fa-regular fa-circle-xmark text-white"
        (click)="endPhases()"
      ></i>
      <div
        class="animate__animated animate__pulse animate__infinite delay_4"
        (click)="runRoulette(item.id)"
      >
        <app-item-box
          #result
          [rarity]="item.miscellanyItemData.rarity"
          [height]="200"
          [width]="200"
          [image]="item ? item?.miscellanyItemData.imageLocal : null"
        ></app-item-box>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="statsLootbox"></ng-container>
    <div class="quantity">
      <p class="mb-0 bonus-items text-third w-100" urText>
        How many to open? Open {{ quantityOpen.value }} boxes
      </p>
      <input
        type="range"
        class="form-range"
        step="1"
        min="1"
        [max]="5"
        [formControl]="quantityOpen"
      />
    </div>
    <button
      (click)="runRoulette(item.id)"
      urTitle
      class="button-rainbow"
      [style.padding]="getResponsiveButtonSize()"
    >
      Click to open
    </button>
  </div>
  @for (roll of rolls; track roll) {
    <div class="second-phase" [ngClass]="{ 'd-none': currentPhase != 1 }">
      <app-item-roulette
        #itemRoulette
        [duplicateItemsSize]="
          (roll?.spinWheelItems ?? []).length > 100 ? 2 : 20
        "
        [items]="roll?.spinWheelItems ?? []"
        [resultItem]="roll?.resultItem"
        (spinEnded)="spinEndedHandle()"
      ></app-item-roulette>
    </div>
  }

  <div class="third-phase" [ngClass]="{ 'd-none': currentPhase != 2 }">
    <div class="result-item-showcase">
      <div
        class="animate__animated animate__jackInTheBox delay_4 wrapper-lootbox"
      >
        <i
          class="fa-regular fa-circle-xmark text-white"
          (click)="endPhases()"
        ></i>
        @for (roll of rolls; track roll) {
          <app-item-box
            #itemResult
            #result
            [height]="200"
            [width]="200"
            [stack]="roll?.resultItem?.quantity | compressNumber"
            [image]="getGenericItemItemData(roll?.resultItem)?.imageLocal"
          >
            <div tooltip class="tooltip-uruk" *ngIf="!!roll?.resultItem">
              @if (!!roll?.resultItem && roll.resultItem.itemData) {
                <app-item-tooltip
                  [item]="roll?.resultItem"
                  [compareWith]="
                    getItem$(roll.resultItem.itemData.itemType) | async
                  "
                ></app-item-tooltip>
                <app-item-tooltip
                  *ngIf="
                    getShowItemCompare() &&
                      getItem$(roll.resultItem.itemData.itemType)
                      | async as comparedItem
                  "
                  [item]="comparedItem"
                  [isBeingCompared]="true"
                ></app-item-tooltip>
              } @else {
                <app-generic-item-tooltip
                  [item]="getGenericItemItemData(roll?.resultItem)"
                  [souldBound]="roll?.resultItem?.souldBound"
                ></app-generic-item-tooltip>
              }
            </div>
          </app-item-box>
        }
      </div>
      <div class="final-result-wrapper px-3 text-center">
        <span urTitle class="text-secondary mt-3"
          >✨ Congratulations on {{ getGenericItemsItemData(rolls) }}</span
        >
        @for (roll of rolls; track roll; let index = $index) {
          @if (roll?.bonusDrops?.length > 0) {
            <span urTitle class="text-third mt-3" *ngIf="index == 0">
              ++ BONUS DROP
            </span>
          }
        }
        <div class="d-flex justify-content-center gap-2">
          @for (roll of rolls; track roll; let index = $index) {
            <app-item-box
              *ngFor="
                let bonusDrop of roll.bonusDrops | stack: 'miscellanyItemDataId'
              "
              #itemResult
              #result
              [height]="100"
              [width]="100"
              [stack]="
                bonusDrop['stack'] ?? bonusDrop?.quantity | compressNumber
              "
              [image]="getGenericItemItemData(bonusDrop)?.imageLocal"
            >
              <div tooltip class="tooltip-uruk" *ngIf="!!bonusDrop">
                @if (!!bonusDrop && bonusDrop.itemData) {
                  <app-item-tooltip
                    [item]="bonusDrop"
                    [compareWith]="
                      getItem$(bonusDrop.itemData.itemType) | async
                    "
                  ></app-item-tooltip>
                  <app-item-tooltip
                    *ngIf="
                      getShowItemCompare() &&
                        getItem$(bonusDrop.itemData.itemType)
                        | async as comparedItem
                    "
                    [item]="comparedItem"
                    [isBeingCompared]="true"
                  ></app-item-tooltip>
                } @else {
                  <app-generic-item-tooltip
                    [item]="getGenericItemItemData(bonusDrop)"
                    [souldBound]="bonusDrop?.souldBound"
                  ></app-generic-item-tooltip>
                }
              </div>
            </app-item-box>
          }
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contextOptions let-data="data">
  <ul
    class="list-options"
    *ngIf="
      data.miscellanyItemData.itemType == 'Lootbox' ||
      data.miscellanyItemData.itemType == 'ComboLootbox'
    "
  >
    <li (click)="open(data); contextMenuService.hideContextMenu()">Open</li>
  </ul>

  <ul
    class="list-options"
    *ngIf="data.miscellanyItemData.itemType == 'MoneyBag'"
  >
    <li (click)="openBag(data); contextMenuService.hideContextMenu()">
      Open bag
    </li>
  </ul>

  <ul
    class="list-options"
    *ngIf="data.miscellanyItemData.itemType == 'ItemSet'"
  >
    <li (click)="openItemsSet(data); contextMenuService.hideContextMenu()">
      Open
    </li>
  </ul>

  <ul class="list-options" *ngIf="data.miscellanyItemData.itemType == 'Mount'">
    <li (click)="equipMount.emit(data); contextMenuService.hideContextMenu()">
      Equip
    </li>
  </ul>
  <ul
    class="list-options"
    *ngIf="data.miscellanyItemData.itemType == 'Portrait'"
  >
    <li (click)="activatePortrait(data); contextMenuService.hideContextMenu()">
      Activate
    </li>
  </ul>
  <ul
    class="list-options"
    *ngIf="data.miscellanyItemData.itemType == 'Silhouette'"
  >
    <li (click)="activeSilhouette(data); contextMenuService.hideContextMenu()">
      Activate
    </li>
  </ul>
  <ul
    class="list-options"
    *ngIf="
      data.miscellanyItemData.itemType == 'Title_Prefix' ||
      data.miscellanyItemData.itemType == 'Title_Suffix'
    "
  >
    <li (click)="activateTitle(data); contextMenuService.hideContextMenu()">
      Activate
    </li>
  </ul>
  <ul class="list-options" *ngIf="data.miscellanyItemData.itemType == 'Boost'">
    <li (click)="activateBoost(data); contextMenuService.hideContextMenu()">
      Activate
    </li>
  </ul>
</ng-template>

<app-inventory-topbar
  [(inventory)]="items"
  [disableSort]="true"
  [(searchTerm)]="searchTerm"
  [itemFilterTypes]="miscItemFilterTypes"
  [activeFilterByItemTypes]="true"
  [(filteredItemTypes)]="filteredItemTypes"
></app-inventory-topbar>
<div class="misc-inventory" #inventory>
  <app-item-box
    *ngFor="let item of filteredItems"
    (contextmenu)="
      actionable
        ? contextMenuService.onContextMenu($event, contextOptions, item)
        : false
    "
    (appDoubleClick)="actionable ? open(item) : false"
    [active]="isMultipleSelected(item)"
    (click)="addToSelectedItems(item)"
    [height]="40"
    [width]="40"
    [stack]="item?.stack ?? 0"
    [rarity]="item?.miscellanyItemData?.rarity"
    [image]="
      item?.miscellanyItemData?.imageLocal
        ? item.miscellanyItemData.imageLocal
        : null
    "
  >
    @if (!!item) {
      <div tooltip class="tooltip-uruk">
        @switch (item.miscellanyItemData.itemType) {
          @case ('Mount') {
            <ng-template #mountSpeed>
              <span class="text-third">
                Quest cooldown -{{
                  getMountTimeReductionByRarity(item.miscellanyItemData.rarity)
                }}%
              </span>
            </ng-template>
            <app-generic-item-tooltip
              [item]="item.miscellanyItemData"
              [customTemplate]="mountSpeed"
            ></app-generic-item-tooltip>
          }
          @default {
            <app-generic-item-tooltip
              [extraData]="item.extraData"
              [item]="item.miscellanyItemData"
              [souldBound]="item?.souldBound"
            ></app-generic-item-tooltip>
          }
        }
      </div>
    }
  </app-item-box>

  <ng-content select="[extraItemBoxes]"></ng-content>
</div>
