<ng-template #lootboxOpener let-item="data">
  <div class="first-phase" [ngClass]="{ 'd-none': currentPhase != 0 }">
    <div
      class="animate__animated animate__pulse animate__infinite delay_4"
      (click)="runRoulette(item.id)"
    >
      <app-item-box
        #result
        [rarity]="item.miscellanyItemData.rarity"
        [height]="200"
        [width]="200"
        [image]="item ? item?.miscellanyItemData.imageLocal : null"
      ></app-item-box>
    </div>
    <span urTitle class="text-secondary mt-3">Click to open</span>
  </div>
  <div class="second-phase" [ngClass]="{ 'd-none': currentPhase != 1 }">
    <app-item-roulette
      #itemRoulette
      [items]="roll?.spinWheelItems ?? []"
      [resultItem]="roll?.resultItem"
    ></app-item-roulette>
  </div>
</ng-template>

<ng-template #contextOptions let-data="data">
  <ul
    class="list-options"
    *ngIf="data.miscellanyItemData.itemType == 'Lootbox'"
  >
    <li (click)="open(data); contextMenuService.hideContextMenu()">Open</li>
  </ul>
</ng-template>

<app-inventory-topbar
  [(inventory)]="items"
  [disableSort]="true"
  [(searchTerm)]="searchTerm"
></app-inventory-topbar>
<div class="misc-inventory">
  <app-item-box
    *ngFor="let item of filteredItems"
    (contextmenu)="
      contextMenuService.onContextMenu($event, contextOptions, item)
    "
    (click)="selectNewItem.emit(item)"
    [height]="40"
    [width]="40"
    [active]="!!selectedItem && !!item && selectedItem.id == item.id"
    [stack]="item?.stack ?? 0"
    [rarity]="item?.miscellanyItemData?.rarity"
    [image]="
      item?.miscellanyItemData?.imageLocal
        ? item.miscellanyItemData.imageLocal
        : null
    "
  >
    @if (!!item) {
      <div tooltip class="tooltip-uruk">
        <app-generic-item-tooltip
          [item]="item.miscellanyItemData"
        ></app-generic-item-tooltip>
      </div>
    }
  </app-item-box>

  <ng-content select="[extraItemBoxes]"></ng-content>
</div>
