@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.misc-inventory {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
  padding: 10px 20px;
}

.first-phase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.final-result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper-lootbox {
  position: relative;
  i {
    position: absolute;
    cursor: pointer;
    top: -30px;
    right: -25px;
    font-size: 25px;
  }
}

.final-result-portrait {
  @include media-breakpoint-up(sm) {
    max-width: 700px;
  }
}

.bonus-items {
  @include media-breakpoint-up(sm) {
    font-size: xx-large;
  }
}
p {
  text-align: center;
}

.possible-drops {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include media-breakpoint-down(sm) {
    max-height: 250px;
    overflow: auto;
  }
}
