<div
  *ngIf="player() && enemy()"
  id="fight-container"
  class="container-fluid h-100"
>
  <div
    class="background-image"
    [style.background-image]="'url(' + prefix + backgroundImage + ')'"
  ></div>

  <ng-container *ngIf="!victory && !defeat">
    <button
      (click)="surrender()"
      [disabled]="victory || defeat || isAnimating()"
      [class]="
        'btn btn-primary surrender-button action-button shadow ' +
        getButtonSize()
      "
    >
      <i class="fa fa-flag"></i>
    </button>
    <button
      (click)="showCombatLog()"
      [disabled]="victory || defeat || isAnimating()"
      [class]="
        'btn btn-primary combat-log-button action-button shadow ' +
        getButtonSize()
      "
    >
      <i class="fa fa-file-lines"></i>
    </button>
    <div class="row position-relative h-100">
      <div class="col-12 col-sm-6 fighter-container player-container">
        <div class="avatar-status-container player-status-container">
          <img
            [src]="prefix + '/' + player().image"
            [ngbTooltip]="fighterStats"
            [tooltipContext]="{ fighter: player() }"
            class="player-image shadow"
          />

          <app-fight-emojis
            [emitterName]="player().name"
            [fightId]="fightId()"
          ></app-fight-emojis>

          <div class="emoji-controls">
            <app-emoji-selector [fightId]="fightId()"></app-emoji-selector>
          </div>
          <app-fighter-status
            class="player-status"
            [fighterStatus]="player().currentStats"
          ></app-fighter-status>
        </div>

        <span
          class="text-shadow"
          [ngStyle]="{
            color: getIRIRarityColor(player().iri),
          }"
          urText
          style="margin-bottom: -1vh"
          >{{ player().name }} (level {{ player().level }})</span
        >
        <span urSubtext class="text-light text-shadow">{{
          player().title && player().title !== ''
            ? player().title
            : 'The untitled'
        }}</span>
        <div
          class="progress shadow"
          [style.height]="getHealthBarHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ player().currentStats.health | number }}/{{
              player().baseStats.health | number
            }}</span
          >
          <div
            class="progress-bar progress-bar-health progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="
              (player().currentStats.health / player().baseStats.health) * 100 +
              '%'
            "
          ></div>
        </div>

        <div
          class="progress shadow"
          [style.height]="getEnergyBarHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ player().currentStats.energy | number }}/{{
              player().baseStats.energy | number
            }}</span
          >
          <div
            class="progress-bar progress-bar-energy progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="
              (player().currentStats.energy / player().baseStats.energy) * 100 +
              '%'
            "
          ></div>
        </div>
        <ng-content select="[playerTimerBar]"></ng-content>
      </div>
      <div class="col-12 col-sm-6 fighter-container enemy-container">
        <div class="avatar-status-container enemy-status-container">
          <img
            [src]="prefix + enemy().image"
            [ngbTooltip]="fighterStats"
            [tooltipContext]="{ fighter: enemy() }"
            class="enemy-image shadow"
          />
          <app-fight-emojis
            [emitterName]="enemy().name"
            [fightId]="fightId()"
          ></app-fight-emojis>

          <app-fighter-status
            class="enemy-status"
            [fighterStatus]="enemy().currentStats"
          ></app-fighter-status>
        </div>
        <span
          class="text-shadow"
          [ngStyle]="{
            color: getIRIRarityColor(enemy().iri),
          }"
          urText
          style="margin-bottom: -1vh"
          >{{ enemy().name }} (level {{ enemy().level }})</span
        >
        <span urSubtext class="text-light text-shadow">{{
          enemy().title && enemy().title !== '' ? enemy().title : 'The untitled'
        }}</span>

        <div
          class="progress shadow"
          [style.height]="getHealthBarHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ enemy().currentStats.health | number }}/{{
              enemy().baseStats.health | number
            }}</span
          >
          <div
            class="progress-bar progress-bar-health progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="
              (enemy().currentStats.health / enemy().baseStats.health) * 100 +
              '%'
            "
          ></div>
        </div>

        <div
          class="progress shadow"
          [style.height]="getEnergyBarHeight() + 'px'"
        >
          <span class="progress-text position-absolute"
            >{{ enemy().currentStats.energy | number }}/{{
              enemy().baseStats.energy | number
            }}</span
          >
          <div
            class="progress-bar progress-bar-energy progress-bar-animated shadow"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="
              (enemy().currentStats.energy / enemy().baseStats.energy) * 100 +
              '%'
            "
          ></div>
        </div>

        <ng-content select="[enemyTimerBar]"></ng-content>
      </div>
      <div class="action-buttons">
        <button
          [disabled]="victory || defeat || isAnimating()"
          (click)="doAction(turnActions.ATTACK)"
          [class]="
            'btn btn-primary action-button attack-button shadow ' +
            getButtonSize()
          "
        >
          <i class="fa fa-hand-fist"></i> ATTACK
          <span class="action-cost">1 turn</span>
        </button>
        <button
          [disabled]="victory || defeat || isAnimating()"
          (click)="doAction(turnActions.DEFEND)"
          [class]="
            'btn btn-primary action-button defend-button shadow ' +
            getButtonSize()
          "
        >
          <i class="fa fa-shield"></i> DEFEND
          <span class="action-cost">1 turn</span>
        </button>

        <button
          [disabled]="victory || defeat || isAnimating()"
          (click)="doAction(turnActions.CHARGE)"
          [class]="
            'btn btn-primary action-button charge-button shadow ' +
            getButtonSize()
          "
        >
          <i class="fa fa-bolt"></i> CHARGE
          <span class="action-cost">1 turn</span>
        </button>
        <button
          [disabled]="victory || defeat || isAnimating()"
          (click)="openConsumableModal()"
          [class]="
            'btn btn-primary action-button items-button shadow ' +
            getButtonSize()
          "
        >
          <i class="fa fa-flask"></i> POTIONS
          <span class="action-cost">1 turn</span>
        </button>

        <button
          [disabled]="victory || defeat || isAnimating() || bonusActionsRemaining <= 0"
          (click)="openBonusActionModal()"
          [class]="
            'btn btn-primary action-button bonus-action-button shadow ' +
            getButtonSize()
          "
          [ngbTooltip]="'Use a quick action without consuming a turn'"
        >
          <i class="fa fa-bolt-lightning"></i> QUICK
          <span class="bonus-counter"
            >{{ bonusActionsRemaining }}/{{ bonusActionsTotal }}</span
          >
          <span class="action-cost">Free action</span>
        </button>
      </div>
    </div>
  </ng-container>

  <div *ngIf="victory" class="finish-quest-screen">
    <img class="player-image" [src]="prefix + '/' + player().image" />
    <img
      class="finish-quest-bg"
      [src]="prefix + '/assets/fight-screens/victory.png'"
    />
  </div>
  <div *ngIf="defeat" class="finish-quest-screen">
    <div class="h1 defeat-title text-white">
      {{
        fightType === fightTypes.CRYPT
          ? 'CRYPT ENCOUNTER FAILED ☠️'
          : 'QUEST FAILED ☠️'
      }}
    </div>
  </div>
</div>

<ng-template #statusBar let-fighterStatus="fighterStatus">
  <app-fighter-status
    style="width: 82%"
    [fighterStatus]="fighterStatus"
  ></app-fighter-status>
</ng-template>

<ng-template #fighterStats let-fighter="fighter">
  <app-fighter-stats-tooltip [fighter]="fighter"></app-fighter-stats-tooltip>
</ng-template>
