@import '../../../../../variables.scss';

#confirm-modal {
  padding: 20px 40px;
  @media screen and (max-width: 576px) {
    padding: 20px 10px;
  }
  background: $black-300;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .preview-sell {
    flex-direction: column;
    gap: 10px;
  }

  app-item-tooltip {
    max-width: 30rem;
  }
}

.demo-chart {
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar padding */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: hidden; /* Evitar scroll innecesario */
}

.table-responsive {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
