<ng-template #uruks let-uruks="uruks">
  <div id="uruks-tooltip-wrapper" class="py-2">
    <p urText>
      Price is {{ uruks }}
      <img
        class="navbar-uruks-icon pb-1"
        src="{{ prefix + '/assets/goldenuruks.png' }}"
        style="max-width: 32px"
      />
      Golden uruks
    </p>
  </div>
</ng-template>

<div id="confirm-modal" class="gap-2">
  <div class="row d-flex justify-content-center">
    @if (!!listing) {
      <div
        style="position: relative"
        class="col d-flex flex-column gap-2 justify-content-center align-items-center"
      >
        <i
          class="fa-regular fa-circle-xmark close-icon pointer d-block d-sm-none"
          (click)="modalRef.hide()"
        ></i>
        <div class="seller d-flex align-items-center gap-2">
          <span class="text-white mb-0 text-center" urSubtext
            >Sold by {{ listing.seller.name }}</span
          >
          <app-item-box
            class="rounded"
            [height]="getPlayerImageSize()"
            [width]="getPlayerImageSize()"
            [image]="listing.seller.image"
          >
          </app-item-box>
        </div>

        @if (!!listing.item) {
          <app-item-tooltip [item]="listing.item"></app-item-tooltip>
        } @else {
          <app-generic-item-tooltip
            class="text-white"
            [item]="
              getGenericItemItemData(
                listing.item ??
                  listing.material ??
                  listing.consumable ??
                  listing.miscellany
              )
            "
            [souldBound]="
              (
                listing.item ??
                listing.material ??
                listing.consumable ??
                listing.miscellany
              ).souldBound
            "
          ></app-generic-item-tooltip>
        }
        <div class="d-flex align-items-center gap-3">
          <div
            class="price text-light text-center"
            urSubtext
            *ngIf="listing.quantity > 1"
          >
            Stack of {{ listing.quantity }}
          </div>
        </div>
        <div
          class="form-group mb-2 w-100"
          *ngIf="
            listing.status == 'ACTIVE' &&
            listing.seller.id == (player$ | async).id
          "
        >
          <label for="characterName" class="text-third">Edit price tag</label>
          <div class="d-flex">
            <input
              #inputPrice
              type="number"
              class="form-control"
              id="characterName"
              [value]="listing.price"
              name="characterName"
            />
            <button
              type="button"
              class="btn btn-secondary"
              (click)="changePrice(inputPrice.value)"
            >
              <i class="fa-solid fa-check"></i>
            </button>
          </div>
        </div>
        <tabset class="w-100">
          <tab>
            <ng-template tabHeading>
              <span class="text-white"
                >📣
                @if (
                  viewportService.screenSize != 'xs' &&
                  viewportService.screenSize != 'sm'
                ) {
                  Bids
                }
              </span>
            </ng-template>
            <ng-container *ngIf="getBids$ | async as bids">
              @if (!!bids && bids.length > 0) {
                <div
                  class="table-responsive stat-table"
                  style="max-height: 15vh; overflow: auto; min-height: 15vh"
                >
                  <table class="table table-dark">
                    <tbody>
                      <ng-container>
                        <tr
                          *ngFor="let stat of bids"
                          class="d-flex align-items-center justify-content-between"
                        >
                          <td
                            [ngbTooltip]="uruks"
                            [tooltipContext]="{
                              uruks: stat?.amount,
                            }"
                            urSubtext
                          >
                            <div
                              class="price text-white text-center"
                              [ngbTooltip]="uruks"
                              [tooltipContext]="{
                                uruks: stat?.amount ?? 0,
                              }"
                            >
                              {{ stat?.amount ?? 0 | compressNumber }}
                              <img
                                class="uruks-icon pb-1"
                                src="{{ prefix + '/assets/goldenuruks.png' }}"
                                style="width: 20px"
                              />
                            </div>
                          </td>
                          <td urSubtext>
                            <app-item-box
                              [ngbTooltip]="stat?.bidder?.name ?? 'Unknown'"
                              class="rounded"
                              [height]="getPlayerImageSize()"
                              [width]="getPlayerImageSize()"
                              [image]="stat?.bidder?.image"
                            >
                            </app-item-box>
                          </td>
                          <td urSubtext>{{ stat?.createdAt | timeAgo }}</td>
                          <td *ngIf="stat?.bidder?.id != (player$ | async).id">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              (click)="acceptOffer(stat.id)"
                            >
                              <i class="fa-solid fa-check"></i>
                            </button>
                          </td>

                          <td *ngIf="stat?.bidder?.id == (player$ | async).id">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              (click)="cancelOffer(stat.id)"
                            >
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              } @else {
                <span class="text-light">No offers for now.</span>
              }
            </ng-container>
          </tab>

          <tab>
            <ng-template tabHeading>
              <span class="text-white"
                >🤝
                @if (
                  viewportService.screenSize != 'xs' &&
                  viewportService.screenSize != 'sm'
                ) {
                  Historic
                }
              </span>
            </ng-template>

            <ng-container
              *ngIf="getHistoricalTrades$ | async as historicalTrades"
            >
              @if (!!historicalTrades && historicalTrades.length > 0) {
                <p class="text-light">
                  Historic trades with the same item type are displayed here.
                </p>
                <div
                  class="table-responsive stat-table"
                  style="max-height: 15vh; overflow: auto; min-height: 15vh"
                >
                  <table class="table table-dark">
                    <tbody>
                      <ng-container>
                        <tr
                          *ngFor="let trade of historicalTrades"
                          class="d-flex align-items-center"
                        >
                          <td
                            [ngbTooltip]="uruks"
                            [tooltipContext]="{
                              uruks: trade?.closedPrice ?? trade?.price ?? 0,
                            }"
                            urSubtext
                          >
                            <div
                              class="price text-white text-center"
                              [ngbTooltip]="uruks"
                              [tooltipContext]="{
                                uruks: trade?.closedPrice ?? trade?.price ?? 0,
                              }"
                            >
                              {{
                                trade?.closedPrice ?? trade?.price ?? 0
                                  | compressNumber
                              }}
                              <img
                                class="uruks-icon pb-1"
                                src="{{ prefix + '/assets/goldenuruks.png' }}"
                                style="width: 20px"
                              />
                            </div>
                          </td>
                          <td urSubtext>
                            <app-item-box
                              [ngbTooltip]="
                                trade?.tradeCloser?.name ?? 'Unknown'
                              "
                              class="rounded"
                              [height]="getPlayerImageSize()"
                              [width]="getPlayerImageSize()"
                              [image]="trade?.tradeCloser?.image"
                            >
                            </app-item-box>
                          </td>
                          <td urSubtext>{{ trade?.closedAt | timeAgo }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              } @else {
                <span class="text-light">Not enough data.</span>
              }
            </ng-container>
          </tab>
          <tab>
            <ng-template tabHeading>
              <span class="text-white"
                >📈
                @if (
                  viewportService.screenSize != 'xs' &&
                  viewportService.screenSize != 'sm'
                ) {
                  Chart
                }
              </span>
            </ng-template>
            <ng-container *ngIf="getPriceSeries$ | async as priceSeries">
              @if (priceSeries.series && priceSeries.series.length > 1) {
                <p class="text-light">
                  Prices are based on item's type. Level or rarity is not taken
                  in consideration.
                </p>
                <div class="d-flex justify-content-center flex-column py-2">
                  <div
                    class="price text-white text-center"
                    [ngbTooltip]="uruks"
                    [tooltipContext]="{
                      uruks: priceSeries.avg ?? 0,
                    }"
                  >
                    AVG: {{ priceSeries.avg ?? 0 | compressNumber }}
                    <img
                      class="uruks-icon pb-1"
                      src="{{ prefix + '/assets/goldenuruks.png' }}"
                      style="width: 20px"
                    />
                  </div>
                  <div class="demo-chart">
                    <div
                      echarts
                      [options]="chartOptions"
                      style="width: 100%; height: 100%; margin: 0; padding: 0"
                    ></div>
                  </div>
                </div>
              } @else {
                <span class="text-light">Not enough data.</span>
              }
            </ng-container>
          </tab>
        </tabset>

        @if (listing.status == 'SOLD') {
          <div class="seller d-flex align-items-center gap-2">
            <span class="text-white mb-0 text-center" urSubtext
              >Sold to {{ listing?.tradeCloser?.name ?? 'Unknown' }}</span
            >
            <app-item-box
              *ngIf="listing?.tradeCloser?.image"
              class="rounded"
              [height]="getPlayerImageSize()"
              [width]="getPlayerImageSize()"
              [image]="listing.tradeCloser.image"
            >
            </app-item-box>
          </div>
        }
        @if (listing.status == 'ACTIVE') {
          <div class="offer-btn w-100">
            <div
              class="offer d-flex align-items-center gap-2"
              *ngIf="addingOffer"
            >
              <div class="form-group mb-2" style="flex-grow: 1">
                <label for="characterName" class="text-third">Price</label>
                <input
                  type="number"
                  class="form-control w-100"
                  id="characterName"
                  [formControl]="offerPrice"
                  name="characterName"
                  placeholder="Item price"
                />
              </div>
              <i
                class="fa-solid fa-check text-secondary pointer mt-2"
                urSubtitle
                (click)="confirmOffer()"
              ></i>
              <i
                class="fa-solid fa-xmark text-danger pointer mt-2"
                urSubtitle
                (click)="offerPrice.reset(); addingOffer = false"
              ></i>
            </div>

            <button
              *ngIf="!addingOffer"
              type="button"
              class="btn btn-primary btn-lg btn-block w-100 btn-pending"
              (click)="addingOffer = true"
            >
              Add offer
            </button>
          </div>
          <div class="w-100">
            <app-uruk-checkout-button
              [items]="[
                {
                  productType: ProductType.AUCTION_ITEM,
                  priceUruks: listing.price,
                  priceNative: 0,
                  backendId: listing.id,
                },
              ]"
              (onGamePayment)="buy()"
              (onPurchaseCompleted)="purchaseCompleted($event)"
            ></app-uruk-checkout-button>
          </div>
          <button
            *ngIf="listing.seller.id == (player$ | async).id"
            type="button"
            class="btn btn-transparent text-white btn-lg btn-block w-100 btn-pending"
            (click)="cancel()"
          >
            <i class="fa-solid fa-xmark"></i>
            Remove
          </button>
        }
      </div>
    } @else {
      No listing selected
    }
  </div>
</div>
