<div class="roulette-container">
  <div
    class="roulette"
    [ngStyle]="{ transform: 'translateX(' + translateX + 'px)' }"
  >
    <div *ngFor="let item of displayedItems" class="item">
      <app-item-box
        [rarity]="item?.itemData?.rarity ?? item.rarity"
        [height]="100"
        [width]="100"
        [image]="item?.itemData?.imageLocal ?? item.imageLocal"
      >
        <div tooltip class="tooltip-uruk" *ngIf="!spinRunning">
          @if (!!item.itemData) {
            <app-item-tooltip [item]="item"></app-item-tooltip>
          } @else {
           <app-generic-item-tooltip [item]="item"></app-generic-item-tooltip>
          }

        </div>
      </app-item-box>
    </div>
  </div>
  <div class="arrow">
    <img src="assets/misc/arrow.png" alt="" srcset="" />
  </div>
</div>
