.container-loot {
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ganked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
