<div class="stats">
  <div class="description desc-mover" *ngIf="!hideTitle">
    <p urTitle>Hero state</p>
  </div>
  <div
    class="d-flex justify-content-center player-avatar row"
    *ngIf="currentState"
  >
    <div class="player-basic-info d-flex col-12 gap-2">
      <div class="stats-player row">
        <div class="col-12 col-lg-6 flex-row">
          <app-item-box
            [height]="getPlayerImageSize()"
            [width]="getPlayerImageSize()"
            [image]="currentState.image"
          ></app-item-box>
          <div class="vitals d-flex gap-2 flex-column px-2">
            <div
              class="progress shadow"
              [style.height]="getHealthBarHeight() + 'px'"
            >
              <span class="progress-text position-absolute"
                >{{ crypt?.remainingHealth ?? 0 | number }}/{{
                  currentState.stats.health | number
                }}</span
              >
              <div
                class="progress-bar progress-bar-health progress-bar-animated shadow"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
                [style.width]="
                  ((crypt?.remainingHealth ?? 0) / currentState.stats.health) *
                    100 +
                  '%'
                "
              ></div>
            </div>
            <div
              class="progress shadow"
              [style.height]="getHealthBarHeight() + 'px'"
            >
              <span class="progress-text position-absolute"
                >{{ crypt?.remainingEnergy ?? 0 | number }}/{{
                  currentState.energy | number
                }}</span
              >
              <div
                class="progress-bar progress-bar-energy progress-bar-animated shadow"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
                [style.width]="
                  ((crypt?.remainingEnergy ?? 0) / currentState.stats.energy) *
                    100 +
                  '%'
                "
              ></div>
            </div>
            <div class="upgrades gap-2 py-2">
              <div
                class="reward text-light"
                *ngFor="let reward of appliedBonuses"
              >
                <app-item-box
                  [height]="50"
                  [width]="50"
                  [image]="reward.icon"
                  [rarity]="reward.rarity"
                >
                  <div tooltip class="tooltip-uruk p-2">
                    <label class="text-center">{{ reward.description }}</label>
                  </div>
                </app-item-box>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <app-only-stats [player]="currentState"></app-only-stats>
        </div>
      </div>
    </div>
  </div>
</div>
