@import '../../../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#shop {
  position: relative;
  height: 100%;
  overflow: hidden;

  .shop-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/shop/shop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      background-position-x: 65%;
      top: -20px;
    }
  }

  .uruks-icon {
    max-width: 30px;
    max-height: 30px;
  }

  .shop-cart {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 3%;
    background: $black-transparent;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 30vw;
    @include media-breakpoint-down(sm) {
      width: 85%;
    }
    max-height: 300px;
    overflow: auto;
    .item-list {
      overflow: auto;
      height: fit-content;
    }
  }

  .roll-buttons {
    display: flex;
    gap: 5px;
    @include media-breakpoint-down(sm) {
      bottom: 317px;
    }
  }

  .wrapper-shop {
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .item-price {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $black-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .uruks-icon {
      max-width: 2vw;
      max-height: 2vw;
    }
    span {
      font-size: 1.2vw;
      @include media-breakpoint-down(sm) {
        font-size: 17px;
      }
    }
  }

  .check-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $white-100;
    font-size: 2vw;
    @include media-breakpoint-down(sm) {
      font-size: 17px;
    }
  }

  .shop-tender-dialog {
    position: absolute;
    top: 20%;
    right: 35%;
    max-width: 50vw;
    background-color: $white-100;
    border: 2px solid $black-500;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    z-index: 10;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -20px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transform: translateY(-50%);
    }

    &::before {
      border-left: 20px solid $black-500;
      right: -22px;
    }

    &::after {
      border-left: 20px solid $white-100;
      z-index: 1;
    }
  }

  .item-row {
    padding: 25px 50px;
    > * {
      padding: 0;
    }
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 20vw;
    background-image: url('../../../../assets/shop/wood.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include media-breakpoint-down(sm) {
      height: 400px !important;
      gap: 0px;
    }
    .item-container {
      height: fit-content;
      width: fit-content;
      app-item-box {
        .box {
          max-height: 125px;
          max-width: 125px;
          width: 7vw !important;
          height: 7vw !important;
          @include media-breakpoint-down(lg) {
            width: 6vw !important;
            height: 6vw !important;
          }
          @include media-breakpoint-down(sm) {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
    }

    // @include media-breakpoint-down(sm) {
    //   max-height: 325px;
    // }
  }

  .show-items {
    transform: rotateX(90deg);
    transform-origin: center bottom;
    animation: show-items-animation 0.6s forwards;

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * 0.1s;
      }
    }
  }

  .hide-items {
    transform: rotateX(0deg);
    transform-origin: center bottom;
    animation: hide-items-animation 0.3s forwards;

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * 0.05s;
      }
    }
  }

  @keyframes hide-items-animation {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(90deg);
    }
  }

  @keyframes show-items-animation {
    from {
      transform: rotateX(90deg);
    }
    to {
      transform: rotateX(0deg);
    }
  }
}
