<div id="shop">
  <div class="shop-bg"></div>
  <div
    class="col-12 position-relative d-flex justify-content-center align-items-end h-100 pb-lg-4 pb-sm-2"
  >
    <div class="shop-section-bg"></div>
    <div *ngIf="showDialog" class="shop-tender-dialog">
      <span urTitle>{{ dialog }} </span>
    </div>
    <div class="item-rack-bg"></div>
    <div class="tabs">
      <div class="btn-group" btnRadioGroup [(ngModel)]="selectedTab">
        <label class="btn btn-secondary mb-0 d-flex justify-content-center" btnRadio="0"
          >⚔️ <span class="d-none d-sm-block">Armory</span></label
        >
        <label class="btn btn-secondary mb-0 d-flex justify-content-center" btnRadio="1">🧱 <span class="d-none d-sm-block">Materials</span></label>
        <label class="btn btn-secondary mb-0 d-flex justify-content-center" btnRadio="2"
          >⚗️ <span class="d-none d-sm-block">Consumables</span></label
        >
      </div>
    </div>
    <div class="roll-buttons">
      <app-daily-roll-button
        (buttonClicked)="dailyRoll()"
      ></app-daily-roll-button>
      <button
        (click)="premiumRoll()"
        [class]="'btn btn-primary button-rainbow ' + getButtonSize()"
      >
        <i class="fa fa-crown pl-1 pb-1"></i>
        Premium roll
      </button>
    </div>
    <div *ngIf="getSelectedItems().length > 0" class="shop-cart">
      <div class="d-flex flex-column gap-2 mb-2 item-list">
        @if (getShowItemCompare()) {
          @for (item of getSelectedItems(); track $index) {
            <div urText class="text-white">
              {{ item.name ? item.name : item.itemData.name }}
            </div>
          }
        } @else {
          <div urText class="text-white">
            {{ getSelectedItems().length + ' items selected' }}
          </div>
        }
      </div>
      <button (click)="buyItems()" class="btn btn-primary w-100">
        <div
          class="d-flex align-items-center justify-content-center w-100 gap-1"
        >
          <img class="uruks-icon pb-1" src="assets/goldenuruks.png" />
          <span urText class="text-white">{{ getSelectedItemsPrice() }}</span>
        </div>
      </button>
    </div>
    <div class="row item-row">
      <div
        *ngFor="let item of displayItemsDependingOnType(items)"
        [class]="
          'item-container col d-flex justify-content-center position-relative ' +
          rollAnimation
        "
      >
        <app-item-box
          (click)="selectItem(item)"
          [ngbTooltip]="item.itemData ? itemTooltip : consumableTooltip"
          [tooltipContext]="{ item: item }"
          [image]="item.itemData ? item.itemData.imageLocal : item.imageLocal"
        ></app-item-box>
        <div class="item-price">
          <span class="text-white">{{ item.price | number: '1.0-2' }}</span>
        </div>
        <div class="check-icon" *ngIf="item.selected">
          <i class="fa fa-check-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #itemTooltip let-item="item">
  <div tooltip class="tooltip-uruk">
    <app-item-tooltip
      [item]="item"
      [compareWith]="this.getItem$(item.itemData.itemType) | async"
    ></app-item-tooltip>
    <app-item-tooltip
      *ngIf="
        (this.getItem$(item.itemData.itemType) | async) && getShowItemCompare()
      "
      [item]="this.getItem$(item.itemData.itemType) | async"
      [isBeingCompared]="true"
    ></app-item-tooltip>
  </div>
</ng-template>

<ng-template #consumableTooltip let-item="item">
  <app-generic-item-tooltip
    [showPrice]="true"
    [item]="item"
  ></app-generic-item-tooltip>
</ng-template>
