<div #threeContainer class="three-container"></div>
<div id="presale-container" class="row">
  <div
    [ngClass]="{ 'col-md-12': !openDetail, 'col-md-7': openDetail }"
    class="col-md-7 col-12 d-flex flex-column justify-content-center"
  >
    <div class="lootboxes">
      <swiper [config]="swiperConfig" (slideChange)="onSlideChange($event)">
        <ng-template *ngFor="let lootbox of lastLoadedLootboxes" swiperSlide>
          <div class="d-flex flex-column lootbox-item align-items-center">
            <img
              (click)="openDetail = !openDetail"
              [ngClass]="{
                'glowing-common': lootbox.data.rarity === rarityEnum.COMMON,
                'glowing-uncommon': lootbox.data.rarity === rarityEnum.UNCOMMON,
                'glowing-epic': lootbox.data.rarity === rarityEnum.EPIC,
                'glowing-legendary':
                  lootbox.data.rarity === rarityEnum.LEGENDARY,
                'glowing-mythic': lootbox.data.rarity === rarityEnum.MYTHIC,
              }"
              [src]="prefix + '' + boxesMap[lootbox.data.rarity].image"
              class="lootbox-image"
            />
            <span
              [ngStyle]="{ color: getRarityColor(lootbox.data.rarity) }"
              class="lootbox-name pb-2"
              >{{ boxesMap[lootbox.data.rarity].name }}</span
            >

            <div class="lootbox-availability">
              <span
                *ngIf="lootbox.data.available > 0"
                [ngStyle]="{
                  color: getRarityColor(lootbox.data.rarity),
                  fontWeight: 'bold',
                  fontSize: '1.2rem',
                }"
                class="availability-text"
              >
                Only {{ lootbox.data.available }} left! 🕒
              </span>
              <span
                *ngIf="lootbox.data.available === 0"
                class="sold-out text-danger"
              >
                Sold Out!
              </span>
            </div>
            <div class="d-flex py-3">
              <button
                *ngIf="!openDetail && activeLootbox.data.available > 0"
                (click)="openDetail = !openDetail"
                [ngStyle]="{
                  background: getRarityColor(activeLootbox.data.rarity),
                }"
                class="btn btn-lg text-white w-100 mint-button animate__animated animate__pulse animate__infinite animate__slower"
              >
                Mint now!
              </button>
              <button
                *ngIf="!openDetail && activeLootbox.data.available === 0"
                [disabled]="true"
                class="btn btn-lg w-100 mint-button sold-out-button"
                style="background: #555; color: #ccc; cursor: not-allowed"
              >
                Sold Out
              </button>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
  <div *ngIf="openDetail" class="col-md-5 col-12 lootbox-details">
    <div class="details">
      <div class="drops">
        <h2
          class="text-center"
          [ngStyle]="{ color: getRarityColor(activeLootbox.data.rarity) }"
        >
          Possible Drops
        </h2>
        <app-lootbox-stats-displayer
          [itemHeight]="50"
          [itemWidth]="50"
          [openingRarity]="activeLootbox.data.rarity"
          [openingType]="MiscellanyItemType.ComboLootbox"
        ></app-lootbox-stats-displayer>
      </div>
      <div class="d-flex flex-column align-items-end gap-2">
        <div class="w-100 d-flex justify-content-between">
          <p class="text-white">Unit price</p>
          <p class="text-white">
            {{ activeLootbox.data.price }}
            <img
              class="iota-icon"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAOVBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADLcPMfAAAAE3RSTlMAB9L/aJSHxU+y4EFdMBKkH/J1V7GuOAAAAVtJREFUeAF9zUGOpDAAA8AKJhAIBJr/P3YPfdiZVmvqZsmWfVWmzP5Sk/jL8llQ5mJdteZt27tfpkwlkZSt+GbN6mhabzkPjGv2W8MNWrAm55lX8YZr9aTe6Ui3JveWPMDoenI8WVqOdXK/L47kBiOpXhkGw/LU2dsoQEt2oAyoB1O6+wHeyTkdklInkFySzfB2DmsiKXvudOZ12FPnrGBJxpGLQhnT7Tyh2xIwJc1PybCslKsry6xnAm31tr9Ienne6wd4yhNwV2iLLZUkG85Icw+oOfR0Wjo16SjdSV6o90PP4WrgHLBvUl0zZw5yULL77x4a2sZQ+9o9c7/9N62O15AcWA/j3Cc/LY+a07GBcdWXD/XmxJKFcfl0pGqZ2PPy1UPPRp962RZf7JNiWbAlzScjoSWdK+m21+G31ksfyXCqszlJ8SGZkVQ83wsLPXnBmsenc4Y1hx/+AZ5YDCuuPXtEAAAAAElFTkSuQmCC"
            />
          </p>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-between">
          <p class="text-white">Total price</p>
          <p class="text-white">
            {{ totalPrice }}
            <img
              class="iota-icon"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAOVBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADLcPMfAAAAE3RSTlMAB9L/aJSHxU+y4EFdMBKkH/J1V7GuOAAAAVtJREFUeAF9zUGOpDAAA8AKJhAIBJr/P3YPfdiZVmvqZsmWfVWmzP5Sk/jL8llQ5mJdteZt27tfpkwlkZSt+GbN6mhabzkPjGv2W8MNWrAm55lX8YZr9aTe6Ui3JveWPMDoenI8WVqOdXK/L47kBiOpXhkGw/LU2dsoQEt2oAyoB1O6+wHeyTkdklInkFySzfB2DmsiKXvudOZ12FPnrGBJxpGLQhnT7Tyh2xIwJc1PybCslKsry6xnAm31tr9Ienne6wd4yhNwV2iLLZUkG85Icw+oOfR0Wjo16SjdSV6o90PP4WrgHLBvUl0zZw5yULL77x4a2sZQ+9o9c7/9N62O15AcWA/j3Cc/LY+a07GBcdWXD/XmxJKFcfl0pGqZ2PPy1UPPRp962RZf7JNiWbAlzScjoSWdK+m21+G31ksfyXCqszlJ8SGZkVQ83wsLPXnBmsenc4Y1hx/+AZ5YDCuuPXtEAAAAAElFTkSuQmCC"
            />
          </p>
        </div>
        <div
          class="avaible w-100 d-flex align-items-center justify-content-between"
        >
          <!-- <p (click)="openClaimInfo()" class="text-white claim-info">
            <i class="fa-solid fa-info-circle"></i>
            Claim
          </p> -->
          <p class="text-white">Remaining</p>
          <div class="text-white d-flex align-items-center">
            <p
              [ngStyle]="{
                color: getAvaibleColor(
                  activeLootbox.blockchain.total,
                  activeLootbox.data.available
                ),
              }"
            >
              {{ activeLootbox.data.available }}
            </p>
            <p>/{{ 150 }}</p>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column gap-2">
        <ngx-slider
          [(value)]="sliderValue"
          [options]="sliderOptions"
        ></ngx-slider>
        <button
          [disabled]="loading || activeLootbox.data.available <= 0"
          [ngStyle]="{ background: getRarityColor(activeLootbox.data.rarity) }"
          (click)="mint()"
          class="btn text-white w-100 mint-button"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Mint now
        </button>
      </div>
    </div>
  </div>
</div>
