<ng-template #usePolicy>
  <div class="p-3 text-light">
    Terms and Conditions of Use for the "Uruk Bartas" NFT Presale Last Updated:
    05/11/2024 Please read these terms and conditions carefully before
    participating in the "Uruk Bartas" NFT presale. By purchasing or interacting
    with our NFTs, you acknowledge that you have read, understood, and agreed to
    the following terms. 1. No Financial Advice The NFTs offered by "Uruk
    Bartas" are collectible digital items and should not be considered as
    financial investments. We do not offer financial advice or make any promises
    regarding the future value of these digital assets. We encourage consulting
    a financial advisor before engaging in any transactions or investments
    related to NFTs or digital assets. 2. Risk of Loss Participation in the NFT
    presale entails certain risks, including but not limited to partial or total
    financial loss. We assume no responsibility for any financial loss you may
    experience as a result of purchasing, selling, or trading our NFTs. Digital
    assets are subject to price volatility, which may result in substantial
    losses. 3. No Warranty NFTs are provided "as is" without any kind of
    warranty, express or implied. We do not guarantee that our service or
    platform will be error-free, secure, or uninterrupted. We are not liable for
    any technical issues or failures that may affect the availability or value
    of the NFTs. 4. Risk of Addiction and Responsible Conduct Participation in
    activities involving the purchase, sale, and collection of NFTs can lead to
    addictive behavior. We urge all users to participate responsibly and to
    monitor their digital consumption habits. If you feel that your
    participation in this activity is negatively affecting your mental health,
    well-being, or finances, we recommend seeking professional help. 5.
    Limitation of Liability To the maximum extent permitted by law, "Uruk
    Bartas" and its affiliates, directors, employees, and agents shall not be
    liable for any indirect, incidental, special, consequential, or punitive
    damages, including but not limited to loss of profits, data, use, or other
    intangible losses resulting from: Your access to or inability to access the
    NFT presale. Any conduct or content of third parties in relation to the
    NFTs. Any content obtained from the platform or our services. 6.
    Jurisdiction and Governing Law These terms and conditions are governed by
    and shall be construed in accordance with the laws of Spain. Any disputes
    arising from or related to these terms shall be exclusively resolved in the
    courts of Spain. 7. Modifications We reserve the right to modify these terms
    at any time. Changes will be effective once posted. It is the user’s
    responsibility to review these terms periodically. By participating in the
    "Uruk Bartas" NFT presale, you agree to release "Uruk Bartas" and its
    affiliates from any claims, liabilities, or losses arising from your
    participation in this activity.
  </div>
</ng-template>

<ng-template #faqTemplate>
  <div class="modal-body">
    <accordion>
      <accordion-group heading="What do I need to open my lootbox?">
        <p>
          You need to mint the lootbox and then import it into the game to open
          it. For convenience, once a lootbox is minted, the user has an option
          to be redirected automatically.
        </p>
      </accordion-group>
      <accordion-group
        heading="Do I need to be registered to open the lootbox?"
      >
        <p>
          Yes, you need to have a character created in Uruk Bartas to open the
          lootbox and receive rewards!
        </p>
      </accordion-group>
      <accordion-group heading="What can I do with the lootbox?">
        <p>
          You can open it to obtain rewards, or you can trade it freely with
          other players.
        </p>
      </accordion-group>
      <accordion-group heading="What is the duration of the NFT presale?">
        <p>
          We estimate it will last around 1 week, time we will use to prepare
          our game for the mainnet launch.
        </p>
      </accordion-group>
    </accordion>
  </div>
</ng-template>

<div #threeContainer class="three-container"></div>
<div id="presale-container" class="row">
  <div
    [ngClass]="{ 'col-md-12': !openDetail, 'col-md-7': openDetail }"
    class="col-md-7 col-12 d-flex flex-column justify-content-center"
  >
    <div class="lootboxes">
      <swiper [config]="swiperConfig" (slideChange)="onSlideChange($event)">
        <ng-template *ngFor="let lootbox of lastLoadedLootboxes" swiperSlide>
          <div class="d-flex flex-column lootbox-item align-items-center">
            <img
              (click)="openDetail = !openDetail"
              [ngClass]="{
                'glowing-common': lootbox.data.rarity === rarityEnum.COMMON,
                'glowing-uncommon': lootbox.data.rarity === rarityEnum.UNCOMMON,
                'glowing-epic': lootbox.data.rarity === rarityEnum.EPIC,
                'glowing-legendary':
                  lootbox.data.rarity === rarityEnum.LEGENDARY,
                'glowing-mythic': lootbox.data.rarity === rarityEnum.MYTHIC,
              }"
              [src]="prefix + '' + boxesMap[lootbox.data.rarity].image"
              class="lootbox-image"
            />
            <span
              [ngStyle]="{ color: getRarityColor(lootbox.data.rarity) }"
              class="lootbox-name pb-2"
              >{{ boxesMap[lootbox.data.rarity].name }}</span
            >

            <div class="lootbox-availability">
              <span
                *ngIf="lootbox.data.available > 0"
                [ngStyle]="{
                  color: getRarityColor(lootbox.data.rarity),
                  fontWeight: 'bold',
                  fontSize: '1.2rem',
                }"
                class="availability-text"
              >
                Only {{ lootbox.data.available }} left! 🕒
              </span>
              <span
                *ngIf="lootbox.data.available === 0"
                class="sold-out text-danger"
              >
                Sold Out!
              </span>
            </div>
            <div class="d-flex py-3">
              <button
                *ngIf="!openDetail && activeLootbox.data.available > 0"
                (click)="openDetail = !openDetail"
                [ngStyle]="{
                  background: getRarityColor(activeLootbox.data.rarity),
                }"
                class="btn btn-lg text-white w-100 mint-button animate__animated animate__pulse animate__infinite animate__slower"
              >
                Mint now!
              </button>
              <button
                *ngIf="!openDetail && activeLootbox.data.available === 0"
                [disabled]="true"
                class="btn btn-lg w-100 mint-button sold-out-button"
                style="background: #555; color: #ccc; cursor: not-allowed"
              >
                Sold Out
              </button>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
  <div *ngIf="openDetail" class="col-md-5 col-12 lootbox-details">
    <div class="details">
      <div class="drops">
        <button
          class="btn faq-button mt-2"
          (click)="openFAQModal(faqTemplate)"
          style="
            font-size: 0.8rem;
            color: #888;
            background: transparent;
            border: none;
            cursor: pointer;
          "
        >
          FAQ
        </button>
        <h2
          class="text-center"
          [ngStyle]="{ color: getRarityColor(activeLootbox.data.rarity) }"
        >
          Possible Drops
        </h2>
        <app-lootbox-stats-displayer
          [itemHeight]="50"
          [itemWidth]="50"
          [openingRarity]="activeLootbox.data.rarity"
          [openingType]="MiscellanyItemType.ComboLootbox"
        ></app-lootbox-stats-displayer>
      </div>
      <div class="d-flex flex-column align-items-end gap-2">
        <div class="w-100 d-flex justify-content-between">
          <p class="text-white">Unit price</p>
          <p class="text-white">
            {{ activeLootbox.data.price }}
            <img
              class="iota-icon"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAOVBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADLcPMfAAAAE3RSTlMAB9L/aJSHxU+y4EFdMBKkH/J1V7GuOAAAAVtJREFUeAF9zUGOpDAAA8AKJhAIBJr/P3YPfdiZVmvqZsmWfVWmzP5Sk/jL8llQ5mJdteZt27tfpkwlkZSt+GbN6mhabzkPjGv2W8MNWrAm55lX8YZr9aTe6Ui3JveWPMDoenI8WVqOdXK/L47kBiOpXhkGw/LU2dsoQEt2oAyoB1O6+wHeyTkdklInkFySzfB2DmsiKXvudOZ12FPnrGBJxpGLQhnT7Tyh2xIwJc1PybCslKsry6xnAm31tr9Ienne6wd4yhNwV2iLLZUkG85Icw+oOfR0Wjo16SjdSV6o90PP4WrgHLBvUl0zZw5yULL77x4a2sZQ+9o9c7/9N62O15AcWA/j3Cc/LY+a07GBcdWXD/XmxJKFcfl0pGqZ2PPy1UPPRp962RZf7JNiWbAlzScjoSWdK+m21+G31ksfyXCqszlJ8SGZkVQ83wsLPXnBmsenc4Y1hx/+AZ5YDCuuPXtEAAAAAElFTkSuQmCC"
            />
          </p>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-between">
          <p class="text-white">Total price</p>
          <p class="text-white">
            {{ totalPrice }}
            <img
              class="iota-icon"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAOVBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADLcPMfAAAAE3RSTlMAB9L/aJSHxU+y4EFdMBKkH/J1V7GuOAAAAVtJREFUeAF9zUGOpDAAA8AKJhAIBJr/P3YPfdiZVmvqZsmWfVWmzP5Sk/jL8llQ5mJdteZt27tfpkwlkZSt+GbN6mhabzkPjGv2W8MNWrAm55lX8YZr9aTe6Ui3JveWPMDoenI8WVqOdXK/L47kBiOpXhkGw/LU2dsoQEt2oAyoB1O6+wHeyTkdklInkFySzfB2DmsiKXvudOZ12FPnrGBJxpGLQhnT7Tyh2xIwJc1PybCslKsry6xnAm31tr9Ienne6wd4yhNwV2iLLZUkG85Icw+oOfR0Wjo16SjdSV6o90PP4WrgHLBvUl0zZw5yULL77x4a2sZQ+9o9c7/9N62O15AcWA/j3Cc/LY+a07GBcdWXD/XmxJKFcfl0pGqZ2PPy1UPPRp962RZf7JNiWbAlzScjoSWdK+m21+G31ksfyXCqszlJ8SGZkVQ83wsLPXnBmsenc4Y1hx/+AZ5YDCuuPXtEAAAAAElFTkSuQmCC"
            />
          </p>
        </div>
        <div
          class="avaible w-100 d-flex align-items-center justify-content-between"
        >
          <!-- <p (click)="openClaimInfo()" class="text-white claim-info">
            <i class="fa-solid fa-info-circle"></i>
            Claim
          </p> -->
          <p class="text-white">Remaining</p>
          <div class="text-white d-flex align-items-center">
            <p
              [ngStyle]="{
                color: getAvaibleColor(
                  activeLootbox.blockchain.total,
                  activeLootbox.data.available
                ),
              }"
            >
              {{ activeLootbox.data.available }}
            </p>
            <p>/{{ 150 }}</p>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column gap-2">
        <ngx-slider
          [(value)]="sliderValue"
          [options]="sliderOptions"
        ></ngx-slider>
        <button
          [disabled]="loading || activeLootbox.data.available <= 0"
          [ngStyle]="{ background: getRarityColor(activeLootbox.data.rarity) }"
          (click)="mint()"
          class="btn text-white w-100 mint-button"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Mint now
        </button>
        <span class="policy text-secondary text-center"
          >By minting this NFT, I accept the
          <a
            class="text-secondary"
            href=""
            (click)="$event.preventDefault(); showPolicy(usePolicy)"
            >Terms and Conditions of Use</a
          >.
        </span>
      </div>
    </div>
  </div>
</div>
