@import './variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'UrukFont';
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.big-font {
  font-size: 60px;
}

a {
  text-decoration: none !important;
  color: $secondary !important;
  i {
    color: $secondary !important;
  }
}

app-character,
app-stats-detail {
  width: 100%;
  height: 100%;
}
app-item-box {
  width: fit-content !important;
}
.description {
  display: flex;
  justify-content: space-between;
  p,
  span {
    color: $secondary;
  }
}

@font-face {
  font-family: 'UrukFont';
  src: url('./assets/fonts/uruk-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
