@import './variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.big-font {
  font-size: 60px;
}

a {
  text-decoration: none;
  color: $secondary;
  i {
    color: $secondary;
  }
}

app-character,
app-stats-detail,
app-export-import-nft {
  width: 100%;
  height: 100%;
}
app-item-box {
  width: fit-content !important;
}
.description {
  display: flex;
  justify-content: space-between;
  p,
  span {
    color: $secondary;
  }
}

.inventory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .item-inventory,
  .consumables-inventory {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    overflow: auto;
    padding: 0px 20px;
  }
  .item-inventory {
    max-height: 470px;
    min-height: 175px;
  }
  .consumables-inventory {
    max-height: 120px;
    min-height: 55px;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
