@import './variables.scss';

.button-rainbow {
  border: none;
  outline: none;
  color: $white-100 !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &::before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-rainbow 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #30332bc4;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing-button-rainbow {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

.text-rainbow {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

// RARITY GLOWINGS

@keyframes glowing-common {
  0% {
    box-shadow: 0 0 2px 1px rgb(176, 181, 179, 0.4);
  }
  50% {
    box-shadow: 0 0 6px 3px rgb(176, 181, 179, 0.6);
  }
  100% {
    box-shadow: 0 0 2px 1px rgb(176, 181, 179, 0.4);
  }
}

.glowing-common {
  animation: glowing-common 4s infinite;
  position: relative;
  display: inline-block;
  animation-timing-function: linear;
}

@keyframes glowing-uncommon {
  0% {
    box-shadow: 0 0 2px 1px rgb(61, 116, 184, 0.4);
  }
  50% {
    box-shadow: 0 0 6px 3px rgb(61, 116, 184, 0.6);
  }
  100% {
    box-shadow: 0 0 2px 1px rgb(61, 116, 184, 0.4);
  }
}

.glowing-uncommon {
  animation: glowing-uncommon 4s infinite;
  position: relative;
  display: inline-block;
  animation-timing-function: linear;
}

@keyframes glowing-epic {
  0% {
    box-shadow: 0 0 2px 1px rgb(157, 68, 181, 0.4);
  }
  50% {
    box-shadow: 0 0 6px 3px rgb(157, 68, 181, 0.6);
  }
  100% {
    box-shadow: 0 0 2px 1px rgb(157, 68, 181, 0.4);
  }
}

.glowing-epic {
  animation: glowing-epic 4s infinite;
  position: relative;
  display: inline-block;
  animation-timing-function: linear;
}

@keyframes glowing-legendary {
  0% {
    box-shadow: 0 0 2px 1px rgb(255, 127, 17, 0.4);
  }
  50% {
    box-shadow: 0 0 6px 3px rgb(255, 127, 17, 0.6);
  }
  100% {
    box-shadow: 0 0 2px 1px rgb(255, 127, 17, 0.4);
  }
}

.glowing-legendary {
  animation: glowing-legendary 4s infinite;
  position: relative;
  display: inline-block;
  animation-timing-function: linear;
}

@keyframes glowing-mythic {
  0% {
    box-shadow: 0 0 2px 1px rgb(243, 66, 19, 0.4);
  }
  50% {
    box-shadow: 0 0 6px 3px rgb(243, 66, 19, 0.6);
  }
  100% {
    box-shadow: 0 0 2px 1px rgb(243, 66, 19, 0.4);
  }
}

.glowing-mythic {
  animation: glowing-mythic 4s infinite;
  position: relative;
  display: inline-block;
  animation-timing-function: ease-in-out;
}

@keyframes glowing-highlight {
  0% {
    box-shadow: 0 0 2px 1px rgba(255, 215, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 6px 3px rgba(255, 215, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 2px 1px rgba(255, 215, 0, 0.4);
  }
}

.glowing-highlight {
  animation: glowing-highlight 4s infinite;
  position: relative;
  display: inline-block;
}

.text-warning {
  color: $orange;
}

.text-danger {
  color: $red;
}

.w-fit {
  width: fit-content !important;
}

@for $i from 1 through 5 {
  .pr-#{$i} {
    padding-right: $i * 0.25rem !important;
  }
  .pl-#{$i} {
    padding-left: $i * 0.25rem !important;
  }
  .ml-#{$i} {
    margin-left: $i * 0.25rem !important;
  }
  .mr-#{$i} {
    margin-right: $i * 0.25rem !important;
  }
  .delay-#{$i} {
    animation-delay: $i * 0.25s !important;
  }
}
