@import './variables.scss';
@import './styles-custom.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
$min-contrast-ratio: 2.5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'UrukFont';
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.btn-primary {
  color: $white-100 !important;
}

.wrapper {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.big-font {
  font-size: 60px;
}

.text-third {
  color: $third !important;
}

.btn-transparent {
  background: transparent !important;
  border-color: transparent !important;
}

a {
  text-decoration: none;
  color: $secondary;
  i {
    color: $secondary;
  }
}

app-item-box {
  width: fit-content !important;
}

.description {
  display: flex;
  justify-content: space-between;
  p,
  span {
    color: $third;
  }
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.inventory {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.remove-arrow-sliders {
  .carousel-control {
    display: none !important;
  }
}

.modal-dialog {
  position: absolute !important;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-down(sm) {
    width: 93% !important;
  }

  .modal-content {
    background: transparent !important;
    width: fit-content;
  }
}

.mobile-menu {
  left: 50%;
  top: 50%;
  margin: 0 !important;
  li {
    background-color: $third !important;
    border: 1px solid $primary !important;
  }
  li.nested {
    background-color: $secondary !important;
    border: 1px solid $primary !important;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #343432;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

.carousel-indicators {
  bottom: -50px !important;
}

@font-face {
  font-family: 'UrukFont';
  src: url('./assets/fonts/uruk-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ngb-tooltip-window {
  .tooltip-inner {
    display: table;
    padding: 0;
    width: fit-content;
    @include media-breakpoint-down(sm) {
      transform: scale(0.8);
    }
    background: $black-400 !important;
  }
}
.item-tooltip-wrapper {
  div {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

/* Importing Bootstrap SCSS file. */
@import './node_modules/bootstrap/scss/bootstrap';

/* Importing Datepicker SCSS file. */
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

.carousel-inner {
  padding: 0px;
  @include media-breakpoint-up(lg) {
    padding: 0px 90px;
  }
}

.pointer {
  cursor: pointer;
}

.mover {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  i {
    color: white;
    @extend .pointer;
  }
}

.disabled-icon {
  color: gray !important;
}

.bg-black {
  background: $black-400;
}

.busted-effect div {
  filter: grayscale(100%) contrast(150%) brightness(50%) sepia(100%);
}

.h-fit {
  height: fit-content;
}
.list-options {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0;
  flex-direction: column;
  gap: 1px;
  background-color: $black-400;
  li {
    cursor: pointer;
    color: $third;
    padding: 10px;
    &:hover {
      background-color: $secondary;
    }
  }
}
.tab-content {
  tab {
    padding: 10px 0px;
  }
}

.tab-container {
  ul {
    border: 0px;
    padding: 10px 0px;
    a {
      border-radius: 10px;
      border: hidden !important;
    }
    a.active {
      background-color: $third !important;
    }
  }
}

.adventure-slider {
  app-item-box {
    .stack {
      font-size: 25px !important;
    }
  }
}

tabset {
  .item-inventory {
    padding-top: 10px;
  }
}
@keyframes glowing-upgrade {
  0% {
    box-shadow: 0 0 10vw 10vw rgba(204, 209, 207, 0.4);
  }
  50% {
    box-shadow: 0 0 15vw 15vw rgba(201, 206, 204, 0.6);
  }
  100% {
    box-shadow: 0 0 10vw 10vw rgba(206, 211, 209, 0.4);
  }
}

.result-item-showcase {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000004a;
  flex-direction: column;
  z-index: 10;
  app-item-box {
    animation: glowing-upgrade 4s infinite;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    .box {
      border-radius: 20px !important;
      img {
        border-radius: 20px !important;
      }
    }
  }
}

.focused-screen {
  @extend .result-item-showcase;
  background: black;
  app-item-box {
    animation: none;
  }
}

.result-quest-complete {
  @extend .focused-screen;
  background: #000000d1;
}

app-adventures {
  .scroll {
    app-item-box {
      .stack {
        bottom: -20px !important;
      }
    }
  }
}

.fullscreen-mode {
  img.active-quest {
    display: none;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
