@import './variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'UrukFont';
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.btn-primary {
  color: $white-100 !important;
}

.wrapper {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.big-font {
  font-size: 60px;
}

a {
  text-decoration: none;
  color: $secondary;
  i {
    color: $secondary;
  }
}

app-item-box {
  width: fit-content !important;
}

.description {
  display: flex;
  justify-content: space-between;
  p,
  span {
    color: $secondary;
  }
}

.inventory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .item-inventory,
  .consumables-inventory {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    overflow: auto;
    padding: 0px 20px;
  }
  .item-inventory {
    max-height: 470px;
    min-height: 175px;
  }
  .consumables-inventory {
    max-height: 120px;
    min-height: 55px;
  }
}

.play-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: $white-100 !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;

  &::before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-play-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #30332bc4;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing-play-button {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $third;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

@font-face {
  font-family: 'UrukFont';
  src: url('./assets/fonts/uruk-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
