@import './variables.scss';
@import './styles-custom.scss';

@import '~bootstrap-icons/font/bootstrap-icons.css';
@import './node_modules/bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

$min-contrast-ratio: 2.5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'UrukFont';
  -webkit-font-smoothing: antialiased;
  user-select: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.btn-primary {
  color: $white-100 !important;
}

.wrapper {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.big-font {
  font-size: 60px;
}

.text-third {
  color: $third !important;
}

.btn-transparent {
  background: transparent !important;
  border-color: transparent !important;
}

.btn-third {
  background: $black-100 !important;
  border-color: $black-200 !important;
  color: $white;
}

a {
  text-decoration: none;
  color: $secondary;
  i {
    color: $secondary;
  }
}

app-item-box {
  width: fit-content !important;
}

.description {
  display: flex;
  justify-content: space-between;
  p,
  span {
    color: $third;
  }
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.inventory {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.remove-arrow-sliders {
  .carousel-control {
    display: none !important;
  }
}

.modal-dialog {
  position: absolute !important;
  top: 50%;
  left: 48%;
  border: none !important;
  transform: translate(-50%, -50%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-down(sm) {
    width: 93% !important;
  }

  .modal-content {
    background: transparent !important;
    width: fit-content;
    border: none !important;
  }
}

.mobile-menu {
  left: 50%;
  top: 50%;
  margin: 0 !important;
  height: 100%;
  display: block;
  overflow-y: auto;
  li {
    background-color: $secondary !important;
    color: $white-100 !important;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    &.nested {
      background-color: $primary !important;
    }
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $black-200;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

.carousel-indicators {
  bottom: -50px !important;
}

@font-face {
  font-family: 'UrukFont';
  src: url('./assets/fonts/uruk-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ngb-tooltip-window {
  .tooltip-inner {
    display: table;
    padding: 0;
    width: fit-content;
    // @include media-breakpoint-down(sm) {
    //   transform: scale(0.8);
    // }
    background: $black-400 !important;
  }
}
.item-tooltip-wrapper {
  div {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
}

.carousel-inner {
  padding: 0px;
  @include media-breakpoint-up(lg) {
    padding: 0px 40px;
  }
}

.pointer {
  cursor: pointer;
}

.mover {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  i {
    color: white;
    @extend .pointer;
  }
}

.disabled-icon {
  color: gray !important;
}

.bg-black {
  background: $black-400;
}

.busted-effect div {
  filter: grayscale(100%) contrast(150%) brightness(50%) sepia(100%);
}

.h-fit {
  height: fit-content;
}
.list-options {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0;
  flex-direction: column;
  gap: 1px;
  background-color: $black-400;
  li {
    cursor: pointer;
    color: $third;
    padding: 10px;
    &:hover {
      background-color: $secondary;
    }
  }
}

.tab-container {
  ul {
    border: 0px;
    padding: 10px 0px;
    a {
      border-radius: 10px;
      border: hidden !important;
    }
    a.active {
      background-color: $third !important;
    }
  }
}

.adventure-slider {
  app-item-box {
    .stack {
      font-size: 25px !important;
    }
  }
}

tabset {
  .item-inventory {
    padding-top: 10px;
  }
}
@keyframes glowing-upgrade {
  0% {
    box-shadow: 0 0 10vw 10vw rgba(204, 209, 207, 0.4);
  }
  50% {
    box-shadow: 0 0 15vw 15vw rgba(201, 206, 204, 0.6);
  }
  100% {
    box-shadow: 0 0 10vw 10vw rgba(206, 211, 209, 0.4);
  }
}

.result-item-showcase {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000004a;
  flex-direction: column;
  z-index: 10;
  app-item-box {
    animation: glowing-upgrade 4s infinite;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    .box {
      border-radius: 20px !important;
      img {
        border-radius: 20px !important;
      }
    }
  }
}

.focused-screen {
  @extend .result-item-showcase;
  background: black;
  app-item-box {
    animation: none;
  }
}

.result-quest-complete {
  @extend .focused-screen;
  background: #000000d1;
}

app-adventures {
  .scroll {
    app-item-box {
      .stack {
        bottom: -20px !important;
      }
    }
  }
}

//ICONS

.fa-sword {
  -webkit-mask: url(assets/icons/swords.svg) no-repeat center;
  mask: url(assets/icons/swords.svg) no-repeat center;
}

.fa-prohib {
  -webkit-mask: url(assets/icons/ban.svg) no-repeat center;
  mask: url(assets/icons/ban.svg) no-repeat center;
}

.fullscreen-mode {
  img.active-quest {
    display: none;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.positive-rarity-bonus {
  color: rgba(255, 215, 0, 1) !important;
}
.negative-rarity-bonus {
  color: $red !important;
}

app-inventory {
  app-only-stats {
    li {
      font-size: 0.8rem !important;
    }
  }
}

app-item-box.rounded {
  div {
    border-radius: 50% !important;
    img {
      border-radius: 50% !important;
    }
  }
}

.h-fit-content {
  height: fit-content;
}

app-auction-house {
  width: 100%;
  height: 100%;
  .list-item {
    padding: 10px;
    border: 1px solid $primary;
    color: white;
    background-color: $primary;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      color: white !important;
      background-color: $secondary;
      span {
        color: white !important;
      }
    }
  }
}
accordion {
  display: flex !important;
  gap: 5px;
  flex-direction: column;
  accordion-group {
    button {
      color: $third !important;
      text-decoration: none !important;
    }
    .panel {
      background-color: $black-500;
      color: $secondary;
    }
  }
}

app-auction-house {
  .pager {
    li {
      a {
        color: white;
      }
    }
  }
}

.filters-modal {
  .modal-content {
    width: 100%;
    display: flex;
    gap: 5px;
    select,
    input {
      max-width: 100% !important;
    }
  }
}

.table-dark {
  --bs-table-bg: #2a2a28;
  --bs-table-striped-bg: #3e3e3c;
  --bs-table-border-color: transparent;
  color: var(--bs-table-color);
  background-color: var(--bs-table-bg);
  border-color: var(--bs-table-border-color);
}

.max-value,
.max-value i {
  font-size: 12px;
  color: $secondary;
}

.table-section {
  background-color: $primary;
  font-weight: bold;
  text-align: center;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat-table,
.rarity-table {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: hidden;
  min-height: 200px;
  max-width: 400px;
  -webkit-overflow-scrolling: touch;
}

.simplified-table-body {
  font-size: 12px;
  td {
    padding: 5px 5px;
  }
}

app-balance-selector {
  width: 100%;
}

.uruks-icon {
  max-width: 40px;
}

.uruk-card {
  background-color: $dark;
  border-radius: 20px;
  padding: 20px;
}

.value {
  color: $third;
}
.negative {
  color: $red !important;
}
.neutral {
  color: inherit !important;
}

.value,
.negative,
.neutral {
  font-size: 12px;
}

.policy-dialog {
  height: 90%;
  .modal-content {
    width: 100%;
    max-width: 90%;
    height: 100%;
  }
}

.horizontal-list {
  display: flex;
  overflow: auto;
  gap: 10px;
}

.hoverable-text {
  color: lightgrey !important;
  cursor: pointer;
  &:hover {
    color: white !important;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  li {
    padding: 5px;
    list-style: none;
  }
}
