@import './variables.scss';
@import './styles-custom.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';

$min-contrast-ratio: 2.5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'UrukFont';
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.btn-primary {
  color: $white-100 !important;
}

.wrapper {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.big-font {
  font-size: 60px;
}

a {
  text-decoration: none;
  color: $secondary;
  i {
    color: $secondary;
  }
}

app-item-box {
  width: fit-content !important;
}

.description {
  display: flex;
  justify-content: space-between;
  p,
  span {
    color: $secondary;
  }
}

.inventory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .item-inventory,
  .consumables-inventory {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    overflow: auto;
    padding: 0px 20px;
  }
  .item-inventory {
    height: 470px;
  }
  .consumables-inventory {
    max-height: 120px;
    min-height: 55px;
  }
}

.remove-arrow-sliders{
  .carousel-control{
    display: none !important;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $third;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

.carousel-indicators {
  bottom: -50px !important;
}

@font-face {
  font-family: 'UrukFont';
  src: url('./assets/fonts/uruk-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ngb-tooltip-window {
  .tooltip-inner {
    display: table;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

/* Importing Bootstrap SCSS file. */
@import './node_modules/bootstrap/scss/bootstrap';

/* Importing Datepicker SCSS file. */
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

.carousel-inner {
  padding: 0px 45px;
  @include media-breakpoint-up(lg) {
    padding: 0px 90px;
  }
}
