<div class="item-tooltip-wrapper">
  <div class="description">
    <p class="h6" [ngStyle]="{ color: getRarityColor(item.itemData.rarity) }">
      {{ item.itemData.name }}
    </p>
    <p urTitle [ngStyle]="{ color: getRarityColor(item.itemData.rarity) }">
      Level {{ item.level }}
    </p>
  </div>
  <div class="row">
    <div class="col-6">
      <img
        [ngSrc]="'https://' + item.itemData?.image + '.ipfs.nftstorage.link/'"
        priority
        [width]="200"
        [height]="200"
      />
    </div>
    <div class="col-6">
      <div class="description stat">
        <ul>
          <li *ngFor="let key of getLoopableStatsKeys()">
            {{ '+ ' + item[key] + ' ' + parseKeyPascalCase(key) }}
          </li>
          <li [ngStyle]="{ color: getRarityColor(item.itemData.rarity) }">
            {{ item.itemData.itemType }}
          </li>
          <li [ngStyle]="{ color: getRarityColor(item.itemData.rarity) }">
            {{ getRarityText(item.itemData.rarity) }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
