<div
  id="item-tooltip-wrapper"
  [ngClass]="{
    'glowing-common': item.itemData.rarity === rarityEnum.COMMON,
    'glowing-uncommon': item.itemData.rarity === rarityEnum.UNCOMMON,
    'glowing-epic': item.itemData.rarity === rarityEnum.EPIC,
    'glowing-legendary': item.itemData.rarity === rarityEnum.LEGENDARY,
    'glowing-mythic': item.itemData.rarity === rarityEnum.MYTHIC
  }"
>
  <div class="d-flex flex-column align-items-start gap-1">
    <div class="description w-100">
      <p
        class="h6 m-0"
        [ngStyle]="{ color: getRarityColor(item.itemData.rarity) }"
      >
        {{ item.itemData.name }}
        {{ item.upgradeLevel ? '+' + item.upgradeLevel : null }}
        <span class="text-light" *ngIf="isBeingCompared">(equipped)</span>
      </p>
    </div>
  </div>
  <div class="d-flex flex-row pt-2">
    <div class="d-flex align-items-center">
      <img class="item-image" [src]="item.itemData?.imageLocal" priority />
    </div>
    <div class="description stat px-3">
      <ul>
        <li *ngFor="let key of getLoopableStatsKeys()" class="list-item-stat">
          {{
            '+ ' +
              item[key] +
              getPercentage(key) +
              ' ' +
              parseKeyPascalCase(key)
          }}
          @if (compareWith) {
            <span
              class="value"
              [ngClass]="{
                negative:
                  (item | compareItem: compareWith : key).charAt(0) == '-',
                neutral:
                  (item | compareItem: compareWith : key).charAt(0) == '0'
              }"
            >
              {{
                (item | compareItem: compareWith : key) + getPercentage(key)
              }}</span
            >
          }
        </li>
        <li [ngStyle]="{ color: getRarityColor(item.itemData.rarity) }">
          {{ item.itemData.itemType }}
        </li>
        <li [ngStyle]="{ color: getRarityColor(item.itemData.rarity) }">
          {{ getRarityText(item.itemData.rarity) }}
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-around">
    <p urTitle class="text-white m-0">Level {{ item.level }}</p>
    <p *ngIf="item.price" class="h6 d-flex align-items-center gap-1">
      <img class="uruks-icon pb-1" src="assets/goldenuruks.png" />
      <span urText class="text-white">{{ item.price | number: '1.0-2' }}</span>
    </p>
  </div>
</div>
