@import '../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#item-tooltip-wrapper {
  background-color: $black;
  padding: 15px;
  border-radius: 3px;
  ul {
    min-width: 180px;
    padding-left: 0;
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style-type: none;
      display: block;
      text-align: start;
    }
  }
  .item-image {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    max-width: 25vw;
    max-height: 25vw;
  }

  .uruks-icon {
    max-width: 30px;
    max-height: 30px;
  }

  .value {
    color: $third;
  }
  .negative {
    color: $red;
  }
  .neutral {
    color: inherit;
  }

  .value,
  .negative,
  .neutral {
    font-size: 12px;
  }

  .list-item-stat {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
