@import '../../variables.scss';

.item-tooltip-wrapper {
  width: 400px;
  background-color: $black;
  padding: 15px;
  border-radius: 3px;
  ul {
    max-width: 100%;
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style-type: none;
      display: block;
      text-align: start;
    }
  }
  img {
    border-radius: 20px;
  }
  .uruks-icon {
    max-width: 30px;
    max-height: 30px;
  }
}
