@import '../../variables.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.locked {
  filter: grayscale(100%);
}
.locked-level {
  transition: color 1s ease;
  color: $red;
}

#item-tooltip-wrapper {
  background-color: $black;
  padding: 15px;
  border-radius: 3px;

  .description {
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
  }
  .wrapper-tooltip {
    @include media-breakpoint-down(sm) {
      flex-direction: column !important;
    }
  }

  ul {
    min-width: 180px;
    @include media-breakpoint-down(sm) {
      min-width: unset;
    }
    padding-left: 0;
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style-type: none;
      display: block;
      text-align: start;
    }
  }
  .item-image {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    max-width: 25vw;
    max-height: 25vw;
  }

  .uruks-icon {
    max-width: 30px;
    max-height: 30px;
  }

  .value {
    color: $third;
  }
  .negative {
    color: $red;
  }
  .neutral {
    color: inherit;
  }

  .value,
  .negative,
  .neutral {
    font-size: 12px;
  }

  .list-item-stat {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .positive-rarity-bonus {
    color: rgba(255, 215, 0, 1);
  }
  .negative-rarity-bonus {
    color: $red;
  }
  .locked-level {
    @extend .negative-rarity-bonus;
  }
}
