<ng-container *ngIf="getItem$ | async as item">
  <app-item-box
    [image]="itemType == 'ITEM' ? item.itemData.imageLocal : item.imageLocal"
    [stack]="amount"
    [height]="height"
    [width]="width"
    [rarity]="item.rarity"
  >
    @if (!!item) {
      <div tooltip class="tooltip-uruk">

        @if (!!item?.itemData) {
          <app-item-tooltip [item]="item"></app-item-tooltip>
        } @else {
          <app-generic-item-tooltip
            [item]="item"
          ></app-generic-item-tooltip>
        }
      </div>
    }
  </app-item-box>
</ng-container>
