<div #threeContainer class="three-container"></div>
<div
  id="login"
  class="w-100 h-100 d-flex justify-content-center align-items-center"
>
  @if (
    walletService.latestModalEvent().event == 'CONNECT_SUCCESS' ||
    (walletService.walletConnectIsLoggedIn$ | async) == true
  ) {
    <button
      (click)="walletService.loginVoid()"
      type="submit"
      class="btn btn-lg btn-primary save-button"
    >
      Sign Authentication
      <i class="fa-solid fa-torii-gate pl-2"></i>
    </button>
  } @else {
    @if (doingLogin) {
      <ng-container *ngTemplateOutlet="login"></ng-container>
    } @else {
      <div class="connect-wrapper gap-3 align-items-center">
        <img class="logo" src="{{ prefix + '/assets/login/title-2.png' }}" />
        <button
          type="submit"
          class="btn btn-lg btn-primary save-button"
          (click)="
            this.authService.nativePlatform
              ? this.router.navigateByUrl('/create')
              : walletService.modal.open()
          "
        >
          Enter the realms
          <i class="fa-solid fa-torii-gate pl-2"></i>
        </button>
        <p
          urText
          class="text-white text-center pointer"
          (click)="doingLogin = true"
        >
          Login with email
        </p>
      </div>
    }
  }
  <button
    (click)="router.navigateByUrl('/presale')"
    class="btn text-white shadow access-presale animate__animated animate__tada animate__infinite animate__slower"
  >
    Presale 🥳👉🏻
  </button>
</div>

<ng-template #login>
  <div [formGroup]="formGroup" class="connect-wrapper gap-3 px-3">
    <div class="form-group">
      <label for="characterName" class="text-third">Email</label>
      <input
        type="text"
        class="form-control"
        id="characterName"
        formControlName="email"
        name="characterName"
        placeholder="Enter email"
        validInput
      />
    </div>

    <div class="form-group">
      <label for="password" class="text-third">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <button
      type="submit"
      [disabled]="formGroup.invalid"
      class="btn btn-lg btn-secondary save-button"
      (click)="doLogin()"
    >
      Login
      <i class="fa-solid fa-torii-gate pl-2"></i>
    </button>
    <button
      type="submit"
      class="btn btn-lg btn-dark save-button"
      (click)="doingLogin = false"
    >
      Back
    </button>
  </div>
</ng-template>
