#login {
  background-image: url('https://raw.githubusercontent.com/UrukBartas/assets/refs/heads/main/assets/login/login.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  button {
    background-color: #be781c !important;
    border-color: #844c0d !important;
  }

  .logo {
    width: 70vw;
    max-width: 600px;
    filter: drop-shadow(1px 1px 1em #000);
  }

  .connect-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 14vh;
    background: #00000073;
    padding: 1rem;
    border-radius: 10px;
  }

  .access-presale {
    text-shadow: 0px 1px black;
    position: fixed;
    top: 2vmax;
    left: 2vmax;
    background: #bd3b3b !important;
    border-color: #00000066 !important;
  }
}

.three-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
