<div class="wrapper">
  <div
    class="d-none {{
      !!(state$ | async).player ? 'd-sm-flex' : ''
    }} flex-column flex-shrink-0 p-3 bg-secondary sidebar sidebar-lateral {{
      isSidebarOpened() ? 'collapsed' : ''
    }}"
  >
    <img
      class="logo"
      src="{{ prefix + '/assets/white-uruk.png' }}"
      alt=""
      srcset=""
    />

    <ng-container
      *ngTemplateOutlet="
        menu;
        context: {
          isMobile: false,
        }
      "
    ></ng-container>
    <hr />
    <div class="last-row">
      <ng-container *ngTemplateOutlet="itemmenu"></ng-container>
    </div>
  </div>
  <div class="d-flex flex-column h-100">
    <div
      *ngIf="(state$ | async).player as player"
      class="topbar d-flex justify-content-between align-items-center px-4 py-2 {{
        !isSidebarOpened() ? 'content-extended' : 'content-collapsed'
      }}"
    >
      <app-uruks-displayer [goldenUruks]="player.uruks"></app-uruks-displayer>

      <app-progress-bar
        class="px-2"
        barClass="shadow"
        [percentage]="getProgressBarData(player).percent"
        [text]="getProgressBarData(player).text"
        [style.height]="getProgressBarHeight() + 'px'"
      ></app-progress-bar>

      <div class="d-flex d-sm-none">
        <ng-container
          *ngTemplateOutlet="
            itemmenu;
            context: {
              isMobile: true,
            }
          "
        ></ng-container>
      </div>
      <div class="tutorial" *ngIf="hasTutorial()">
        <i
          class="fa-regular fa-circle-question hoverable-text"
          (click)="displayTutorial()"
        ></i>
      </div>
      <div class="right d-flex align-items-center gap-2">
        <div class="player-dropdown">
          <div
            class="player-portrait position-relative"
            data-bs-toggle="dropdown"
          >
            <app-item-box
              class="rounded"
              [height]="getPlayerImageSize()"
              [width]="getPlayerImageSize()"
              [image]="'/' + player.image"
            >
            </app-item-box>
            <div
              *ngIf="(notifications$ | async)?.newNotificationsCount > 0"
              class="notifications notifications-player"
            >
              {{ (notifications$ | async)?.newNotificationsCount }}
            </div>
            <div
              *ngIf="questTimerService.time() as questInProgress"
              class="notifications notification-quest-in-progress"
            >
              @if (questInProgress === 'Ready') {
                ⚔️
              } @else {
                ⌛
              }
            </div>
          </div>

          <ul class="dropdown-menu">
            <li class="player-info text-white pt-2 mb-2">
              <app-item-box
                class="rounded"
                [height]="getPlayerImageSize() * 2"
                [width]="getPlayerImageSize() * 2"
                [image]="'/' + player.image"
              >
              </app-item-box>
              <strong>{{ player.name }}</strong>
              Level {{ player.level }}
            </li>
            <hr />
            <li
              (click)="
                router.navigate(['/inventory'], {
                  queryParams: { tab: 1 },
                  replaceUrl: true,
                })
              "
            >
              <a class="dropdown-item px-2 py-1">
                <div class="d-flex align-items-center">
                  <div class="fa-solid fa-skull mr-1"></div>
                  <span>{{ 'Character' }}</span>
                </div>
              </a>
            </li>
            <hr />
            <li (click)="router.navigateByUrl('/quests')">
              <a class="dropdown-item px-2 py-1">
                <div class="d-flex align-items-center">
                  <div class="fa-sword mr-1"></div>
                  <span>{{ questTimerService.time() ?? 'Quests' }}</span>
                </div>
              </a>
            </li>
            <hr />
            <li (click)="openInbox()" class="position-relative">
              <a class="dropdown-item">
                <div>
                  <i class="fa-solid fa-envelope pr-2"></i>
                  <span>Inbox</span>
                </div>
                <div
                  *ngIf="(notifications$ | async)?.newNotificationsCount > 0"
                  class="notifications notifications-link"
                >
                  {{ (notifications$ | async)?.newNotificationsCount }}
                </div>
              </a>
            </li>
            <hr />
            <li (click)="router.navigateByUrl('/edit')">
              <a class="dropdown-item">
                <div>
                  <i class="fa-solid fa-gear pr-2"></i> <span>Settings</span>
                </div>
              </a>
            </li>
            <hr />
            <li (click)="logout()">
              <a class="dropdown-item">
                <div>
                  <i class="fa-solid fa-right-from-bracket pr-2"></i>
                  <span>Log out</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <span urText class="level text-white px-4">Level {{ player.level }}</span> -->
    </div>
    <div
      class="container-fluid h-100 d-flex justify-content-center overflow-x-hidden align-items-center p-2 p-md-3 p-lg-4 content {{
        (state$ | async).player
          ? !isSidebarOpened()
            ? 'content-extended'
            : 'content-collapsed'
          : 'content-full'
      }}
      "
    >
      <div
        class="locked-screen"
        *ngIf="
          !!getActiveRoute() && !!getActiveRoute().onlyWeb3 && loggedWithemail()
        "
      >
        <div class="display-message gap-3 text-white">
          <i class="fa-solid fa-lock" style="font-size: 25px"></i>
          <span class="text-secondary"
            >You are not connected to a Web3 wallet, possibly because you logged
            in with your email.</span
          >
          <span class="text-secondary"
            >To access this section and perform transactions, please log in
            using a Web3 wallet.</span
          >
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #itemmenu let-isMobile="isMobile">
  <div
    class="collapse-item"
    (click)="isMobile ? displayFullScreenDialog(menu) : toggleSidebarOpened()"
  >
    @if (isMobile) {
      Menu
    }
    <i
      *ngIf="!isMobile"
      class="pointer {{
        isSidebarOpened()
          ? 'fa-solid fa-angles-up fa-rotate-90'
          : 'fa-solid fa-angles-up fa-rotate-270'
      }}"
    ></i>
  </div>
</ng-template>

<ng-template #menu>
  <ul class="list-group flex-grow-1">
    @for (route of routesNavigation; track route.path) {
      <li
        class="list-group-item bg-primary d-flex justify-content-{{
          !isSidebarOpened() ? 'between' : 'center'
        }} {{ route.class ?? '' }}"
        (click)="modalRef ? modalRef.hide() : true"
        [ngClass]="{ active: router.url == route.path }"
        [routerLink]="[route.path]"
        *ngIf="route.display ? route.display() : true"
      >
        <ng-template #linkContent>
          <div class="{{ route.contentClass ?? '' }}">
            @if (!!route.image) {
              <img src="{{ route.image }}" alt="" style="max-width: 21px" />
            } @else {
              <i class="{{ route.icon }}"></i>
            }
            @if (!isSidebarOpened() || displayingFullScreenModal) {
              <span class="d-sm-flex"
                >{{ route.displayText }}
                <i
                  class="fa-solid mt-1 {{
                    !!route.expanded && route.expanded()
                      ? 'fa-turn-down text-white'
                      : 'fa-turn-up text-dark'
                  }}  mx-2"
                  *ngIf="route.nested"
                ></i
              ></span>
            }
          </div>
        </ng-template>

        <a
          *ngIf="route.external; else internalLink"
          [href]="route.path"
          target="_blank"
          rel="noopener noreferrer"
          class="d-flex align-items-center justify-content-center text-decoration-none w-100 gap-1"
        >
          <ng-container *ngTemplateOutlet="linkContent"></ng-container>
        </a>

        <ng-template #internalLink>
          <a
            [routerLink]="[route.path]"
            class="d-flex align-items-center justify-content-center text-decoration-none w-100 gap-1"
          >
            <ng-container *ngTemplateOutlet="linkContent"></ng-container>
          </a>
        </ng-template>
      </li>
    }
  </ul>
</ng-template>
