@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import '../../../../variables.scss';

.wrapper {
  background-color: $black;
}

i {
  margin-right: 5px;
}

.last-row {
  color: $white-100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.collapse-item {
  color: $white-100;
}

.sidebar {
  width: 240px;
  transition: width 0.3s ease;
  position: absolute;
  height: 100%;
  z-index: 2;
  .logo {
    max-width: 32px;
    margin: 0 8px;
    margin-bottom: 14px;
    align-self: center;
  }
}
.collapsed {
  width: 100px; /* Ancho reducido */
}
.content {
  position: relative;
  margin: 0;
  overflow: auto;
}
.content-collapsed {
  @extend .content;
  @include media-breakpoint-up(sm) {
    width: calc(100% - 100px);
    right: -100px;
  }
}
.content-extended {
  @extend .content;
  width: calc(100% - 240px);
  right: -240px;
}

.sidebar-lateral {
  height: 100%;
  color: $white-100;
}

nav,
nav a {
  color: $white-100;
}

.list-group {
  gap: 5px;
}

.list-group-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  &:hover {
    background-color: lighten($color: $secondary, $amount: 5);
  }
  @include media-breakpoint-down(sm) {
   height: 70px;
   width: 300px;
   span{
    font-size: 20px;
   }
  }
}

.account-container {
  gap: 10px;
}

.container-content {
  height: 100%;
}

.topbar {
  position: relative;
  .level {
    position: absolute;
    right: 0;
    white-space: nowrap;
  }

  .uruks {
    position: absolute;
    left: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    .navbar-uruks-icon {
      max-width: 30px;
      max-height: 30px;
    }
  }

  app-progress-bar {
    height: 15px;
    width: 60%;
    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}
