<div class="wrapper">
  <div
    class="d-none d-sm-flex flex-column flex-shrink-0 p-3 bg-secondary sidebar sidebar-lateral {{
      isSidebarOpened() ? 'collapsed' : ''
    }}"
  >
    <img class="logo" src="./assets/white-uruk.png" alt="" srcset="" />

    <ul class="list-group flex-grow-1">
      @for (route of routesNavigation; track route.path) {
        @if (route.path) {
          <li
            class="list-group-item bg-primary"
            [ngClass]="{ active: router.url == route.path }"
            [routerLink]="[route.path]"
          >
            <i class="{{ route.icon }}"></i>
            @if (!isSidebarOpened()) {
              <span class="d-none d-sm-flex">{{ route.displayText }}</span>
            }
          </li>
        } @else {
          <li class="list-group-item bg-primary" (click)="route.click()">
            <i class="{{ route.icon }}"></i>
            @if (!isSidebarOpened()) {
              <span class="d-none d-sm-flex">{{ route.displayText }}</span>
            }
          </li>
        }
      }
    </ul>
    <hr />
    <div class="last-row">
      <div class="collapse-item d-none d-sm-block">
        <i
          (click)="toggleSidebarOpened()"
          class="pointer {{
            isSidebarOpened()
              ? 'fa-solid fa-angles-up fa-rotate-90'
              : 'fa-solid fa-angles-up fa-rotate-270'
          }}"
        ></i>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column h-100">
    <div
      *ngIf="(state$ | async).player as player"
      class="topbar d-flex justify-content-center px-3 py-2 overflow-hidden {{
        !isSidebarOpened() ? 'content-extended' : 'content-collapsed'
      }}"
    >
      <div class="uruks gap-2 px-4">
        <img class="navbar-uruks-icon pb-1" src="assets/goldenuruks.png" />
        <span urText class="text-white">{{
          player.uruks | number: '1.2-2'
        }}</span>
      </div>
      <app-progress-bar
        class="px-2"
        barClass="shadow"
        [percentage]="getProgressBarData(player).percent"
        [text]="getProgressBarData(player).text"
        [style.height]="getProgressBarHeight() + 'px'"
      ></app-progress-bar>
      <span urText class="level text-white px-4">Level {{ player.level }}</span>
    </div>
    <div
      class="container-fluid h-100 d-flex justify-content-center align-items-center p-4 content {{
        !isSidebarOpened() ? 'content-extended' : 'content-collapsed'
      }}"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
