@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import '../../../../variables.scss';

.wrapper {
  background-color: $black;
}

i {
  margin-right: 5px;
}

.tags {
  flex-wrap: wrap;
}

.navbar-uruks-icon {
  max-width: 30px;
  max-height: 30px;
}

.turn-right {
  transform: rotate(90deg);
  font-size: 10px;
}

.last-row {
  color: $white-100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.collapse-item {
  color: $white-100;
}

.sidebar {
  width: 240px;
  transition: width 0.3s ease;
  position: absolute;
  height: 100%;
  z-index: 2;
  .logo {
    max-width: 32px;
    margin: 0 8px;
    margin-bottom: 14px;
    align-self: center;
  }
}
.collapsed {
  width: 100px; /* Ancho reducido */
}
.content {
  position: relative;
  margin: 0;
}
.content-collapsed {
  @extend .content;
  @include media-breakpoint-up(sm) {
    width: calc(100% - 100px);
    right: -100px;
  }
}
.content-extended {
  @extend .content;
  width: calc(100% - 240px);
  right: -240px;
}
.content-full {
  @extend .content;
  width: 100%;
}

.sidebar-lateral {
  height: 100%;
  color: $white-100;
  overflow: auto;
}

nav,
nav a {
  color: $white-100;
}

.list-group {
  gap: 5px;
  align-items: end;
}

.list-group-item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  &:hover {
    background-color: lighten($color: $secondary, $amount: 5);
  }
  @include media-breakpoint-down(sm) {
    height: 70px;
    width: 300px;
    span {
      font-size: 20px;
    }
  }
}

.account-container {
  gap: 10px;
}

.container-content {
  height: 100%;
}

.topbar {
  position: relative;
  .level {
    position: absolute;
    right: 0;
    white-space: nowrap;
  }

  app-progress-bar {
    height: 15px;
    width: 60%;
    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}
.locked-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000d1;
  flex-direction: column;
  z-index: 200;

  .display-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.player-dropdown {
  hr {
    margin: 0.2rem 0;
  }
  .notifications {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background: $red;
    color: white;
    display: flex;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    .icon {
      width: 15px;
      height: 15px;
    }
  }
  .notifications-player {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .notification-quest-in-progress {
    position: absolute;
    top: 0;
    left: 0;
  }
  .dropdown-menu {
    padding: 0 !important;
    background: $black-300;
    .player-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
    }
    .dropdown-item {
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      &:hover {
        background: $black-200;
      }
      i {
        color: $third;
      }
      .icon {
        width: 33px;
        height: 33px;
        background: $third;
      }
      color: $white-100;
    }
  }
}
