@import '../../../../../variables.scss';

.carousel-container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.button-rainbow {
  position: unset;
  bottom: 0;
  transform: translate(0%, 0%);
  padding: 0.6em 2em;
  left: 50%;
}

.button-rainbow-disabled {
  @extend .button-rainbow;
  &::before {
    animation: ease;
  }
}

.possible-rewards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.phases {
  display: flex;
  overflow: auto;
  gap: 20px;
}

.description-adventure {
  max-height: 185px;
  overflow: auto;
  text-align: center;
}

.adventure-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 100%;
  padding: 20px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 5px;
  background-color: $black-400;
  color: $white-100;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;

  .slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
    padding: 3%;
    background-color: $black-500;
    color: $white-100;

    .slide-text {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #0000007b;
      padding: 3%;
      border-radius: 4px;
      width: 95%;
      margin: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .slide-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .level {
          color: $white-400;
        }
      }
    }
  }
}

.item-tooltip-wrapper {
  min-width: 300px;
  background-color: $black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
  img {
    border-radius: 20px;
  }
  .uruks-icon {
    max-width: 30px;
    max-height: 30px;
  }
}
