<div class="container-fluid h-100">
  <div class="carousel-container">
    <div class="carousel">
      <div
        class="slide"
        [style.background]="'transparent'"
        [class.active]="true"
      >
        <div class="slide-text glowing-epic">
          <div class="row">
            <span urTitle class="mb-0 text-third">{{
              selectedAdventure.name
            }}</span>
          </div>
          <div class="row d-flex justify-content-center">
            <span urText class="badge mb-1 col-12 col-md-4">
              <i class="fa-solid fa-certificate"></i>
              Level {{ selectedAdventure.minLevel }}
            </span>

            <span urText class="badge mb-1 col-12 col-md-4">
              <i class="fa-solid fa-clock"></i>
              {{ selectedAdventure.questsData.length }} phases
            </span>
          </div>

          <div class="row description-adventure">
            <ng-container
              *ngFor="
                let paragraph of separateByParagraph(
                  selectedAdventure.description
                );
                let i = index
              "
            >
              <p
                *ngIf="i < 2 || !!selectedAdventure.readMore"
                data-aos="fade-right"
                [attr.data-aos-duration]="500 * i"
              >
                {{ paragraph }}
                <ng-container *ngIf="i == 1 && !selectedAdventure.readMore">
                  ...
                  <span
                    urText
                    (click)="selectedAdventure.readMore = true"
                    class="text-third"
                    >Discover more</span
                  >
                </ng-container>
              </p>
            </ng-container>
          </div>

          <span urSubtitle class="text-third">Rewards</span>
          <div class="possible-rewards">
            @for (
              itemReward of selectedAdventure.itemData;
              track itemReward.id
            ) {
              <app-item-box
                #lootItem
                class="d-flex justify-content-center w-100"
                [height]="getItemBoxSize()"
                [width]="getItemBoxSize()"
                [image]="itemReward.image | toIpfsImageFromCid"
              >
                <div tooltip class="tooltip-uruk">
                  <app-item-tooltip
                    [item]="itemReward | itemdataToItem"
                  ></app-item-tooltip>
                </div>
              </app-item-box>
            }
            @for (
              consumableReward of selectedAdventure.consumablesData;
              track consumableReward.id
            ) {
              <app-item-box
                #lootItem
                class="d-flex justify-content-center w-100"
                [height]="getItemBoxSize()"
                [width]="getItemBoxSize()"
                [image]="consumableReward.image | toIpfsImageFromCid"
              >
                <div tooltip class="tooltip-uruk">
                  <app-consumable-tooltip
                    [showPrice]="false"
                    [item]="consumableReward"
                  ></app-consumable-tooltip>
                </div>
              </app-item-box>
            }

            @for (
              materialReward of selectedAdventure.materialsData;
              track materialReward.id
            ) {
              <app-item-box
                #lootItem
                class="d-flex justify-content-center w-100"
                [height]="getItemBoxSize()"
                [width]="getItemBoxSize()"
                [image]="materialReward.image | toIpfsImageFromCid"
              >
                <div tooltip class="tooltip-uruk">
                  <app-material-tooltip
                    [item]="materialReward"
                  ></app-material-tooltip>
                </div>
              </app-item-box>
            }
          </div>
        </div>
        <button
          urTitle
          (click)="startAdventure()"
          class="button-rainbow"
          [style.padding]="getResponsiveButtonSize()"
          [style.fontSize]="getResponsiveButtonFontSize()"
        >
          START ADVENTURE
        </button>
      </div>
    </div>
  </div>
</div>
